<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>LifeLinker</title>

    <%- include('../header'); -%>
        <!-- main content start -->
        <div class="main-content">

            <div >
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light bg-white">
                        <a class="navbar-brand text-center mr-5" href="#">
                            <span class="dash-icon"><i class="fas fa-tachometer-alt"></i></span>
                            Dashboard
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item active text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="far fa-user"></i></span>
                                        Master
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-exchange-alt"></i></span>
                                        Transaction
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-hand-holding-medical"></i></span>
                                        Patient 360
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-receipt"></i></span>
                                        Outside Reciept
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-file-invoice"></i></span>
                                        Outpatient Department
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-chart-line"></i></span>
                                        Analytics
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="far fa-clock"></i></span>
                                        Waiting List
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-wrench"></i></span>
                                        Adminstration
                                    </a>
                                </li>
                                <li class="nav-item text-center">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-spinner"></i></span>
                                        Additional
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- content -->
            <div class="container-fluid">

                <div class="chart">
                    <div class="row">

                        <div class="col-lg-12 pl-lg-0 mt-2 ml-2">
                            <h4 class="primary">Bank Branch Master</h4>
                        </div>
                        <div class="col-lg-12 pl-lg-2 chart-grid">
                            <form>
                                <div class="card card_border">
                                    <div>
                                        <!--Past your code here starts-->

                                        <div class="card">

                                            <div class="col-xl-12 p-heading">
                                                <h6 class="p-text">LIST OF BANK MASTER BRANCH DETAILS</h6>
                                            </div>

                                            <div class="form-row pl-lg-3 pr-lg-3 mt-2">
                                                <div class="col-5">
                                                    <div class="form-group"><label class="input__label">Description</label><input id="searchBox" name="service_code" type="text"
                                                            class="form-control input-style" placeholder="">
                                                    </div>
                                                </div>
                                                <div class="col-7">
                                                    <div class="form-group">
                                                        <button type="button"
                                                                class="btn btn-style mt-4 btn-primary btn-style btn-change mb-3"><strong><i
                                                                        class="fas fa-search"></i> Search
                                                                </strong></button>
                                                    </div>
                                                </div>
                                               
                                            </div>


                                            <div class="form-row">
                                                <div class="col-12 mb-3  pl-lg-3 pr-lg-3">
            
            
            
                                                    <div class="slidx">
                                                        <table class="table2" id="bankm-dtl">
                                                            <thead>
                                                                <tr>
                                                                    <th contenteditable="true" width="10%">
                                                                        View
                                                                    </th>
                                                                    <th contenteditable="true">
                                                                        Code
                                                                    </th>
                                                                    <th contenteditable="true">
                                                                        Description
                                                                    </th>
                                                                    <th contenteditable="true">
                                                                        Bank
                                                                    </th>
                                                                    <th contenteditable="true">
                                                                        MICR Number
                                                                    </th>
                                                                    <th contenteditable="true">
                                                                        Status
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="tbodyid">
                                                              
            
                                                            </tbody>
                                                        </table>
                                                        <div id="paginationControls"></div>
                                                    </div>
            
                                                </div>
                                            </div>

                                        </div>
                                        <!--Past your code here ends-->
                                    </div>
                                </div>
                        </div>

                    </div>
                    <div class="form-group mb-3 text-right">
                        <button type="button" onclick=" window.location.href = '/clinic/1'" class="btn-secondary btn-style btn mr-2"><strong><i
                            class="fa-solid fa-plus"></i> New</strong></button>
                    </div>

                    </form>

                </div>
                <!--footer section start-->
                <%- include('../footer'); -%>
                              

                <script type="module">

                    import {pagi_search} from '../javascripts/pagi_search.js'
                    $(document).ready(function() {

             
                    // Function to fetch and display data
                    function fetchData() {
                      $.ajax({
                        url: '/clinic/getBankBranchMaster',
                        type: 'GET',
                        success: function(data) {
                          let tableRows = '';
                          
                          data.forEach(function(item) {
                              
                            tableRows += `
                              <tr data-bbm-id="${item.id}">
            <td><button type="button" id="view_btn" class="btn btn-primary btn-style btn-change">View</button></td>
            <td>${item.bank_branch_m_code}</td>
            <td>${item.bank_branch_m_desc}</td>
            <td>${item.bank_branch_m_bank}</td>
            <td>${item.bank_branch_m_micr_no}</td>
            <td><input class="form-check-input mt-0" onclick="updateStatus('${item.id}', this.checked,'<%= a %>','clinic')" type="checkbox" ${item.status ? 'checked' : ''}></td>
          </tr>
                            `;
                          });
                          $('#bankm-dtl').on('click', '#view_btn', function() {
                            const id=$(this).closest('tr').data('bbm-id')
                      const route='1'
                      const module='clinic'
                      ViewBtn(route,id,module)
                             });
                             
                          $('#tbodyid').html(tableRows);
                          pagi_search('#searchBox','#bankm-dtl','#paginationControls')
                        },
                        error: function(xhr, status, error) {
                          console.error('Error fetching classification details:', error);
                        }
                      });
                    }
                  
                    // Fetch data on page load
                    fetchData();
                  });
                  
                  </script>
                  
                       