<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>LifeLinker</title>
  <%- include('../header') -%>
  <!-- main content start -->
<div class="main-content">

<div class="row content-top-gap2">
 <div class="col-lg-12">
   	<nav class="navbar navbar-expand-lg navbar-light bg-white">
	<a class="navbar-brand text-center mr-5" href="#">
	<span class="dash-icon"><i class="fas fa-tachometer-alt"></i></span>
	Dashboard
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
	<ul class="navbar-nav">
	  <li class="nav-item active text-center mr-5">
		<a class="nav-link" href="#">
		<span class="dash-icon"><i class="far fa-user"></i></span>
	    Master
		</a>
	  </li>
	  <li class="nav-item text-center mr-5">
		<a class="nav-link" href="#">
		<span class="dash-icon"><i class="fas fa-exchange-alt"></i></span>
	    Transaction
		</a>
	  </li>
	  <li class="nav-item text-center mr-5">
		<a class="nav-link" href="#">
		<span class="dash-icon"><i class="fas fa-hand-holding-medical"></i></span>
	    Patient 360
		</a>
	  </li>
	  <li class="nav-item text-center mr-5">
		<a class="nav-link" href="#">
		<span class="dash-icon"><i class="fas fa-receipt"></i></span>
	    Outside Reciept
		</a>
	  </li>
	  <li class="nav-item text-center mr-5">
		<a class="nav-link" href="#">
		<span class="dash-icon"><i class="fas fa-file-invoice"></i></span>
	    Outpatient Department
		</a>
	  </li>
	  <li class="nav-item text-center mr-5">
		<a class="nav-link" href="#">
		<span class="dash-icon"><i class="fas fa-chart-line"></i></span>
	    Analytics
		</a>
	  </li>
	  <li class="nav-item text-center mr-5">
		<a class="nav-link" href="#">
		<span class="dash-icon"><i class="far fa-clock"></i></span>
	    Waiting List
		</a>
	  </li>
	  <li class="nav-item text-center mr-5">
		<a class="nav-link" href="#">
		<span class="dash-icon"><i class="fas fa-wrench"></i></span>
	    Adminstration
		</a>
	  </li>
	  <li class="nav-item text-center">
		<a class="nav-link" href="#">
		<span class="dash-icon"><i class="fas fa-spinner"></i></span>
	    Additional
		</a>
	  </li>

	</ul>
	</div>
	</nav>
  </div>
 </div>
  <!-- content -->
  <div class="container-fluid">

    <!--nav aria-label="breadcrumb">
      <ol class="breadcrumb my-breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
      </ol>
    </nav>
    <div class="welcome-msg pt-3 pb-4">
      <h1>Hi <span class="text-primary">John</span>, Welcome back</h1>
      <p>Very detailed & featured admin.</p>
    </div-->

    <!-- charts -->    
	<div class="chart">
      <div class="row">
		
		<div class="col-lg-12 pl-lg-2 chart-grid mt-3">
        <!--part 1-->
		  <div class="card card_border">
            <div class="">
			<div class="col-xl-12 pr-xl-2 p-heading">
			 <h6 class="p-text">Employees</h6>
			</div> 
			 <div class="col-xl-12 pr-xl-2 mb-4">
			 <form action="#" method="post" class="mt-2">
				<div class="row">
					
			<div class="col-xl-6 pr-xl-2">
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="input__label">Search Name/ Designation/ Clinic</label>
                            <input type="email" class="form-control input-style" id="searchBox"
                                aria-describedby="emailHelp" placeholder="">
                        </div>
					</div>
			</div>

            <div class="col-xl-12 mt-3">
			<div class="row">
		<h6 class="primary">List of Employee Details</h6>
		<table class="table2" id="tableid">
		<tr>
		<th>View</th>
		<th>Employee Name</th>
		<th>Designation</th>
		<th>Date of Birth</th>
		<th>Clinic</th>
		<th>Status</th>
		</tr>
		<tbody id="emp-dtl"></tbody>
		
		</table>
    <div id="paginationControls"></div>
		
			</form>
            </div>
			
			</div>
          </div>
		  <!--part 1 ended-->
		  
        </div>
      </div>
    </div>
	<div class="text-right col-lg-12">
	
	<button type="submit" onclick=" window.location.href = '/clinic/27'" class="btn btn-primary btn-style mt-2 mr-2"><strong>New</strong></button>
	
	
	</div>

  <script>
    function formatDate(dateString) {
    if (!dateString) return ''; // Handle case where dateString is empty or undefined

    let dateObj = new Date(dateString);
    return dateObj.toLocaleDateString('en-US', { 
        year: 'numeric', 
        month: 'short', 
        day: 'numeric' 
    });
}
     
  </script>

<%- include('../footer'); -%>
<script type="module">
  import {pagi_search} from '../javascripts/pagi_search.js'
  $(document).ready(function() {
  // Function to fetch and display data
  function fetchData() {
    $.ajax({
      url: '/clinic/get-empt-details',
      type: 'GET',
      success: function(data) {
        let tableRows = '';
        data.reverse();
                  data.forEach(function(item) {
                    tableRows += `
                      <tr data-emp-id="${item.id}">
    <td><button type="button" id="view_btn" class="btn btn-primary btn-style btn-change">View</button></td>
    <td>${item.emp_first_name} ${item.emp_middle_name} ${item.emp_last_name} </td>
    <td>${item.emp_desig}</td>
    <td>${formatDate(item.emp_dob)}</td>
     <td>${item.emp_clinic}</td>
    
    <td><input class="form-check-input mt-0" onclick="updateStatus('${item.id}', this.checked,'<%= a %>')" type="checkbox" ${item.status ? 'checked' : ''}></td>
  </tr>
                    `;
                  });
                  $('#emp-dtl').on('click', '#view_btn', function() {
					const id=$(this).closest('tr').data('emp-id')
                      const route='27'
                      const module='clinic'
                      ViewBtn(route,id,module)      // window.location.href = '/clinic/8' 
                     });
       
        $('#emp-dtl').html(tableRows);
        pagi_search('#searchBox','#tableid','#paginationControls')
      },
      error: function(xhr, status, error) {
        console.error('Error fetching classification details:', error);
      }
    });
  }

  // Fetch data on page load
  fetchData();
});

</script>
