<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>LifeLinkr</title>

    <%- include('header') -%>
        <!-- main content start -->
        <div class="main-content">

            <div class="row content-top-gap2">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light bg-white">
                        <a class="navbar-brand text-center mr-5" href="#">
                            <span class="dash-icon"><i class="fas fa-tachometer-alt"></i></span>
                            Dashboard
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item active text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="far fa-user"></i></span>
                                        Master
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-exchange-alt"></i></span>
                                        Transaction
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-hand-holding-medical"></i></span>
                                        Patient 360
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-receipt"></i></span>
                                        Outside Reciept
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-file-invoice"></i></span>
                                        Outpatient Department
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-chart-line"></i></span>
                                        Analytics
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="far fa-clock"></i></span>
                                        Waiting List
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-wrench"></i></span>
                                        Adminstration
                                    </a>
                                </li>
                                <li class="nav-item text-center">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-spinner"></i></span>
                                        Additional
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- content -->
            <div class="container-fluid">

                <div class="chart">
                    <div class="row">

                        <!-- <div class="col-lg-12 pl-lg-0 mt-2 ml-2">
                            <h4 class="primary">Modality Details</h4>
                        </div> -->
                        <div class="col-lg-12 pl-lg-2 mt-3 chart-grid">
                            <form>
                                <div class="card card_border">
                                    <div class="">
                                        <!--Past your code here starts-->

                                        <div class="card">

                                            <div class="col-xl-12 p-heading pl-4">
                                                <h6 class="p-text">AUDIT TRAIL DASHBOARD</h6>
                                            </div>

                                            <div class="card-body pb-2 pt-2">




                                                <div class="form-row">

                                                    <div class="col-lg-6 col-md-4 col-sm-12">

                                                        <div class="form-group">
                                                            <h6 class="primary">For data beyond last 3 months, please
                                                                send email
                                                                to support@ubq,in</h6>
                                                        </div>

                                                    </div>

                                                    <div class="col-lg-6 col-md-4 col-sm-12 text-right">
                                                        <div class="form-group">
                                                            <button type="button"
                                                                class="btn-primary btn-style btn btn-change mr-2">
                                                                <strong><i class="fa-solid fa-arrows-rotate"></i>
                                                                    Refresh</strong>
                                                            </button>

                                                            <button type="button"
                                                                class="btn-secondary btn-style btn btn-change">
                                                                <strong><i class="fa-solid fa-file-export"></i>
                                                                    Export</strong>
                                                            </button>
                                                        </div>
                                                    </div>



                                                </div>

                                                <div class="form-row">

                                                    <div class="col-lg-3 col-md-4 col-sm-12">

                                                        <div class="form-group">
                                                            <label class="input__label">Hospital</label>
                                                            <select name="report_generated_by"
                                                                class="form-control input-style">
                                                                <option>All</option>
                                                                <option>Rajauri Garden</option>
                                                            </select>
                                                        </div>

                                                    </div>

                                                    <div class="col-lg-3 col-md-4 col-sm-12">
                                                        <div class="form-group">
                                                            <label class="input__label">Date Range</label>
                                                            <select name="report_generated_by"
                                                                class="form-control input-style">
                                                                <option>Select</option>
                                                                <option>This Week</option>
                                                                <option>Last 7 Days</option>
                                                                <option>This Month</option>
                                                                <option>Last 30 Days</option>
                                                                <option>Previous Quarter</option>
                                                                <option>Previous Month</option>
                                                                <option>Last 3 Months</option>
                                                                <option>Previous Week</option>
                                                                <option>Last 3 Weeks</option>
                                                                <option>Today</option>
                                                                <option>Yesterday</option>
                                                                <option>Last 5 Days</option>
                                                                <option>Last 60 Days</option>
                                                                <option>This Quarter</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-3 col-md-4 col-sm-12">
                                                        <div class="form-group">
                                                            <label class="input__label">Event</label>
                                                            <select name="report_generated_by"
                                                                class="form-control input-style">
                                                                <option>All</option>
                                                                <option>Bill Created</option>
                                                                <option>Failed login</option>
                                                                <option>GRN created</option>
                                                                <option>Item price modified</option>
                                                                <option>Login</option>
                                                                <option>Logout</option>
                                                                <option>MIS report access event</option>
                                                                <option>Medication Dispensed</option>
                                                                <option>Medication return confirmed</option>
                                                                <option>Order created</option>
                                                                <option>Original Bill Printed</option>
                                                                <option>Patient Checked In</option>
                                                                <option>Patient created</option>
                                                                <option>Patient modified</option>
                                                                <option>Receipt created</option>
                                                                <option>Relogin</option>
                                                                <option>Stock adjustment done</option>
                                                                <option>Visit State Updated</option>
                                                                <option>Visit created</option>
                                                                <option>Visit modified</option>
                                                                <option>Admission Cancelled</option>
                                                                <option>Bill Statement Cancelled</option>
                                                                <option>Bill cancelled</option>
                                                                <option>Bill Modification Posting Date Overriden
                                                                </option>
                                                                <option>Bill modified</option>
                                                                <option>Cancel Bed Charge</option>
                                                                <option>Discount Approved</option>
                                                                <option>Order Cancelled</option>
                                                                <option>Procedure Cancelled</option>
                                                                <option>__________</option>
                                                                <option>All</option>
                                                                <option>Advance collected</option>
                                                                <option>Availability Created</option>
                                                                <option>Bill cancelled</option>
                                                                <option>Bill created</option>
                                                                <option>Bill modified</option>
                                                                <option>Bill under insurance package cancelled</option>
                                                                <option>Charge Delete From Bill</option>
                                                                <option>Failed login</option>
                                                                <option>GRN created</option>
                                                                <option>Item price modified</option>
                                                                <option>Login</option>
                                                                <option>Logout</option>
                                                                <option>MIS report access event</option>
                                                                <option>Medication Dispensed</option>
                                                                <option>Medication return confirmed</option>
                                                                <option>Order cancelled</option>
                                                                <option>Order created</option>
                                                                <option>Original Bill Printed</option>
                                                                <option>Patient Checked In</option>
                                                                <option>Patient Queue - Processed</option>
                                                                <option>Patient created</option>
                                                                <option>Patient modified</option>
                                                                <option>Receipt cancelled</option>
                                                                <option>Receipt created</option>
                                                                <option>Refund created</option>
                                                                <option>Relogin</option>
                                                                <option>Result Cancelled</option>
                                                                <option>Retail Bill Cancelled</option>
                                                                <option>Staff Modified</option>
                                                                <option>Stock adjustment done</option>
                                                                <option>Visit State Updated</option>
                                                                <option>Visit created</option>
                                                                <option>Visit modified</option>


                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-3 col-md-4 col-sm-12">
                                                        <div class="form-group">
                                                            <label class="input__label">User</label>
                                                            <select name="report_generated_by"
                                                                class="form-control input-style">
                                                                <option>Select</option>
                                                                <option>Nidhi</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                </div>


                                                
                                                <div class="card mt-3">
                                                    <div class="card-body pt-3 pb-3">
                                                        <div class="form-row">
                                                            
                                                            <div class="bar-chart-container">
                                                                <!-- Chart.js Bar Chart -->
                                                                <canvas id="chartjsBarChart" width="564"
                                                                    height="150"></canvas>
                                                                <div class="top-bar-chart-text">Audit Events Count</div>
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                </div>



                                                <div class="card mt-3 mb-2">
                                                    <div class="card-body pt-3 pb-3">
                                                        <div class="form-row">

                                                            <div class="bar-chart-container">
                                                                <!-- Chart.js Bar Chart -->
                                                                <canvas id="chartjsBarChart1" width="564"
                                                                    height="150"></canvas>
                                                                <div class="top-bar-chart-text">Audit Events : by User</div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>

                                        <!--Past your code here ends-->
                                    </div>
                                </div>

                                
                            </form>
                        </div>
                        <%- include('footer') -%>

                        <!-- close script -->
                        <script>
                            var closebtns = document.getElementsByClassName("close-grid");
                            var i;

                            for (i = 0; i < closebtns.length; i++) {
                                closebtns[i].addEventListener("click", function () {
                                    this.parentElement.style.display = 'none';
                                });
                            }
                        </script>
                        <!-- //close script -->

                        <!-- disable body scroll when navbar is in active -->
                        <script>
                            $(function () {
                                $('.sidebar-menu-collapsed').click(function () {
                                    $('body').toggleClass('noscroll');
                                })
                            });
                        </script>
                        <!-- disable body scroll when navbar is in active -->

                        <!-- loading-gif Js -->
                     


                        <!-- JavaScript for Chart.js -->
                        <script>
                            var ctx = document.getElementById('chartjsBarChart').getContext('2d');
                            
                            var myBarChart = new Chart(ctx, {
                                type: 'bar',
                                data: {
                                    labels: ['Rajouri Garden', 'Vasant Kunj', 'Patel Nagar', 'Tilak Nagar', 'Rohini', 'Lajpat Nagar', 'Hauz Khas', 'Saket', 'Dwarka'],
                                    datasets: [{
                                        label: 'Current Month',
                                        data: [3000, 7000, 5000, 4500, 2000, 1000, 1500, 3500, 5000],
                                        backgroundColor: '#2196f3'  // Updated color
                                    },
                                    {
                                        label: 'Last Month',
                                        data: [2000, 6000, 4000, 3000, 1500, 900, 1000, 2500, 4500],
                                        backgroundColor: '#11cdef'  // Updated color
                                    }]
                                },
                                options: {
                                    responsive: true,
                                    plugins: {
                                        legend: {
                                            display: true,
                                            labels: {
                                                boxWidth: 15, // Smaller square width
                                                boxHeight: 15, // Smaller square height
                                                padding: 20, // Padding between legend items
                                                textAlign: 'right' // Align text to the right
                                            },
                                            position: 'top' // Position the legend above the chart
                                        }
                                    },

                                    scales: {
                                        y: {
                                            beginAtZero: true,
                                            max: 8000,
                                            ticks: {
                                                // Format the y-axis labels as 1k, 2k, 3k, etc.
                                                callback: function (value) {
                                                    if (value >= 1000) {
                                                        return (value / 1000) + 'k';  // Convert values to 'k'
                                                    }
                                                    return value;
                                                }
                                            }
                                        }
                                    }
                                }
                            });


                            var ctz = document.getElementById('chartjsBarChart1').getContext('2d');
                            var myBarChart = new Chart(ctz, {
                                type: 'bar',
                                data: {
                                    labels: ['Rajouri Garden', 'Vasant Kunj', 'Patel Nagar', 'Tilak Nagar', 'Rohini', 'Lajpat Nagar', 'Hauz Khas', 'Saket', 'Dwarka'],
                                    datasets: [{
                                        label: 'Current Month',
                                        data: [3000, 7000, 5000, 4500, 2000, 1000, 1500, 3500, 5000],
                                        backgroundColor: '#2196f3'  // Updated color
                                    },
                                    {
                                        label: 'Last Month',
                                        data: [2000, 6000, 4000, 3000, 1500, 900, 1000, 2500, 4500],
                                        backgroundColor: '#11cdef'  // Updated color
                                    }]
                                },
                                options: {
                                    responsive: true,
                                    plugins: {
                                        legend: {
                                            display: true,
                                            labels: {
                                                boxWidth: 15, // Smaller square width
                                                boxHeight: 15, // Smaller square height
                                                padding: 20, // Padding between legend items
                                                textAlign: 'right' // Align text to the right
                                            },
                                            position: 'top' // Position the legend above the chart
                                        }
                                    },

                                    scales: {
                                        y: {
                                            beginAtZero: true,
                                            max: 8000,
                                            ticks: {
                                                // Format the y-axis labels as 1k, 2k, 3k, etc.
                                                callback: function (value) {
                                                    if (value >= 1000) {
                                                        return (value / 1000) + 'k';  // Convert values to 'k'
                                                    }
                                                    return value;
                                                }
                                            }
                                        }
                                    }
                                }
                            });
                        </script>










</body>

</html>