<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>LifeLinker</title>
<%- include('header') -%>
        <!-- main content start -->
        <div class="main-content">

            <div class="row content-top-gap2">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light bg-white">
                        <a class="navbar-brand text-center mr-5" href="#">
                            <span class="dash-icon"><i class="fas fa-tachometer-alt"></i></span>
                            Dashboard
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item active text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="far fa-user"></i></span>
                                        Master
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-exchange-alt"></i></span>
                                        Transaction
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-hand-holding-medical"></i></span>
                                        Patient 360
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-receipt"></i></span>
                                        Outside Reciept
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-file-invoice"></i></span>
                                        Outpatient Department
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-chart-line"></i></span>
                                        Analytics
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="far fa-clock"></i></span>
                                        Waiting List
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-wrench"></i></span>
                                        Adminstration
                                    </a>
                                </li>
                                <li class="nav-item text-center">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-spinner"></i></span>
                                        Additional
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- content -->
            <div class="container-fluid">
                <form>

                    <div class="chart">
                        <div class="row">


                            <div class="col-lg-12 pl-lg-2 mt-3 chart-grid">
                                <div class="card card_border">
                                    <div>
                                        <!--Past your code here starts-->



                                        <div class="card">

                                            <div class="col-xl-12 p-heading pl-4">
                                                <h6 class="p-text">AUDIT TRAIL DASHBOARD</h6>
                                            </div>

                                            <div class="card-body pt-2 pb-2">

                                                <div class="form-row">

                                                    <div class="col-lg-6 col-md-4 col-sm-12">

                                                        <div class="form-group">
                                                            <h6 class="primary">For data beyond last 3 months, please
                                                                send email
                                                                to support@ubq,in</h6>
                                                        </div>

                                                    </div>

                                                    <div class="col-lg-6 col-md-4 col-sm-12 text-right">
                                                        <div class="form-group">
                                                            <button type="button"
                                                                class="btn-primary btn-style btn btn-change mr-2">
                                                                <strong><i class="fa-solid fa-arrows-rotate"></i>
                                                                    Refresh</strong>
                                                            </button>

                                                            <button type="button"
                                                                class="btn-secondary btn-style btn btn-change">
                                                                <strong><i class="fa-solid fa-file-export"></i>
                                                                    Export</strong>
                                                            </button>
                                                        </div>
                                                    </div>



                                                </div>


                                                <div class="form-row">
                                                    <div class="col-lg-12   ">
                                                        <h4 class="primary">Patient KPIs</h4>
                                                    </div>
                                                </div>


                                                <div class="form-row mt-0">
                                                    <div class="col-12 mb-1">
                                                        <div class="slidx">
                                                            <table class="table2">
                                                                <thead>
                                                                    <tr>

                                                                        <th contenteditable="true"><i
                                                                                class="fa-solid fa-table-columns"
                                                                                ></i> </th>
                                                                        <th contenteditable="true">ΚΡΙ</th>
                                                                        <th contenteditable="true">Current - Day</th>
                                                                        <th contenteditable="true">Current - MTD</th>
                                                                        <th contenteditable="true">Previous Month - Day
                                                                        </th>
                                                                        <th contenteditable="true">Previous Month - MTD
                                                                        </th>
                                                                        <th contenteditable="true">Variance % - Day</th>
                                                                        <th contenteditable="true">Variance % - MTD</th>


                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>

                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true" colspan="7"
                                                                            class="text-left pl-3">Hospital : Rjouri
                                                                            Garden</td>



                                                                    </tr>
                                                                    <tr>

                                                                        <td contenteditable="true">1</td>
                                                                        <td contenteditable="true">OPD Visit</td>
                                                                        <td contenteditable="true">0.00</td>
                                                                        <td contenteditable="true">47.00</td>
                                                                        <td contenteditable="true">1.00</td>
                                                                        <td contenteditable="true">38.00</td>
                                                                        <td contenteditable="true">-100.00</td>
                                                                        <td contenteditable="true">23.68</td>



                                                                    </tr>
                                                                    <tr>

                                                                        <td contenteditable="true">2</td>
                                                                        <td contenteditable="true">New Registration</td>
                                                                        <td contenteditable="true">0.00</td>
                                                                        <td contenteditable="true">47.00</td>
                                                                        <td contenteditable="true">1.00</td>
                                                                        <td contenteditable="true">38.00</td>
                                                                        <td contenteditable="true">-100.00</td>
                                                                        <td contenteditable="true">23.68</td>



                                                                    </tr>
                                                                    <tr>

                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true"></td>



                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>

                                                    </div>
                                                </div>



                                                <div class="form-row mt-3">
                                                    <div class="col-lg-12   ">
                                                        <h4 class="primary">Financial KPIs</h4>
                                                    </div>
                                                </div>


                                                <div class="form-row mt-0">
                                                    <div class="col-12 mb-1">
                                                        <div class="slidx">
                                                            <table class="table2">
                                                                <thead>
                                                                    <tr>

                                                                        <th contenteditable="true"><i
                                                                                class="fa-solid fa-table-columns"
                                                                              ></i></th>
                                                                              <th contenteditable="true">ΚΡΙ</th>
                                                                              <th contenteditable="true">Current - Day</th>
                                                                        <th contenteditable="true">Current - MTD</th>
                                                                        <th contenteditable="true">Previous Month - Day
                                                                        </th>
                                                                        <th contenteditable="true">Previous Month - MTD
                                                                        </th>
                                                                        <th contenteditable="true">Variance % - Day</th>
                                                                        <th contenteditable="true">Variance % - MTD</th>


                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>

                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true" colspan="7"
                                                                            class="text-left pl-3">Hospital : Rjouri
                                                                            Garden</td>



                                                                    </tr>
                                                                    <tr>

                                                                        <td contenteditable="true">1</td>
                                                                        <td contenteditable="true">OPD Visit</td>
                                                                        <td contenteditable="true">0.00</td>
                                                                        <td contenteditable="true">47.00</td>
                                                                        <td contenteditable="true">1.00</td>
                                                                        <td contenteditable="true">38.00</td>
                                                                        <td contenteditable="true">-100.00</td>
                                                                        <td contenteditable="true">23.68</td>



                                                                    </tr>
                                                                    <tr>

                                                                        <td contenteditable="true">2</td>
                                                                        <td contenteditable="true">New Registration</td>
                                                                        <td contenteditable="true">0.00</td>
                                                                        <td contenteditable="true">47.00</td>
                                                                        <td contenteditable="true">1.00</td>
                                                                        <td contenteditable="true">38.00</td>
                                                                        <td contenteditable="true">-100.00</td>
                                                                        <td contenteditable="true">23.68</td>



                                                                    </tr>
                                                                    <tr>

                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true"></td>



                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="form-row mt-3">
                                                    <div class="col-lg-12   ">
                                                        <h4 class="primary">Admissions: by Consultant</h4>
                                                    </div>
                                                </div>


                                                <div class="form-row mt-0">
                                                    <div class="col-12 mb-1">
                                                        <div class="slidx">
                                                            <table class="table2">
                                                                <thead>
                                                                    <tr>

                                                                        <th contenteditable="true"><i
                                                                                class="fa-solid fa-table-columns"
                                                                                ></i></th>
                                                                        
                                                                        <th contenteditable="true">Speciality</th>
                                                                        <th contenteditable="true">Consultant</th>
                                                                        <th contenteditable="true">Current - MTD</th>
                                                                        <th contenteditable="true">Previous Month - Day
                                                                        </th>
                                                                        <th contenteditable="true">Previous Month - MTD
                                                                        </th>
                                                                        <th contenteditable="true">Variance % - Day</th>
                                                                        <th contenteditable="true">Variance % - MTD</th>


                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    
                                                                   
                                                                    <tr>

                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true"></td>



                                                                    </tr>
                                                                    <tr>

                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true"></td>



                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>

                                                    </div>
                                                </div>



                                                <div class="form-row mt-3">
                                                    <div class="col-lg-12   ">
                                                        <h4 class="primary">Discount KPΙ</h4>
                                                    </div>
                                                </div>


                                                <div class="form-row mt-0">
                                                    <div class="col-12 mb-1">
                                                        <div class="slidx">
                                                            <table class="table2">
                                                                <thead>
                                                                    <tr>

                                                                        <th contenteditable="true"><i
                                                                                class="fa-solid fa-table-columns"
                                                                                ></i></th>
                                                                        <th contenteditable="true">ΚΡΙ</th>
                                                                        <th contenteditable="true">Current - Day</th>
                                                                        <th contenteditable="true">Current - MTD</th>
                                                                        <th contenteditable="true">Previous Month - Day
                                                                        </th>
                                                                        <th contenteditable="true">Previous Month - MTD
                                                                        </th>
                                                                        <th contenteditable="true">Variance % - Day</th>
                                                                        <th contenteditable="true">Variance % - MTD</th>


                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>

                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true" colspan="7"
                                                                            class="text-left pl-3">Hospital : Rjouri
                                                                            Garden</td>



                                                                    </tr>
                                                                    <tr>

                                                                        <td contenteditable="true">1</td>
                                                                        <td contenteditable="true">OPD Visit</td>
                                                                        <td contenteditable="true">0.00</td>
                                                                        <td contenteditable="true">47.00</td>
                                                                        <td contenteditable="true">1.00</td>
                                                                        <td contenteditable="true">38.00</td>
                                                                        <td contenteditable="true">-100.00</td>
                                                                        <td contenteditable="true">23.68</td>



                                                                    </tr>
                                                                    <tr>

                                                                        <td contenteditable="true">2</td>
                                                                        <td contenteditable="true">New Registration</td>
                                                                        <td contenteditable="true">0.00</td>
                                                                        <td contenteditable="true">47.00</td>
                                                                        <td contenteditable="true">1.00</td>
                                                                        <td contenteditable="true">38.00</td>
                                                                        <td contenteditable="true">-100.00</td>
                                                                        <td contenteditable="true">23.68</td>



                                                                    </tr>
                                                                    <tr>

                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true"></td>



                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>

                                                    </div>
                                                </div>




                                                <div class="form-row mt-3">
                                                    <div class="col-lg-12   ">
                                                        <h4 class="primary">Patient Discounts</h4>
                                                    </div>
                                                </div>


                                                <div class="col-lg-6 col-md-4 col-sm-12 pl-0 pt-0">

                                                    <div class="form-group">
                                                        <h6 class="primary">Discounts >= INR 2,500</h6>
                                                    </div>

                                                </div>

                                                


                                                <div class="form-row mt-0">
                                                    <div class="col-12 mb-1">
                                                        <div class="slidx">
                                                            <table class="table2">
                                                                <thead>
                                                                    <tr>

                                                                        <th contenteditable="true"><i
                                                                                class="fa-solid fa-table-columns"
                                                                              ></i></th>
                                                                        <th contenteditable="true">Effective Date</th>
                                                                        <th contenteditable="true">Patient Name</th>
                                                                        <th contenteditable="true">Bill No.</th>
                                                                        <th contenteditable="true">Bill Amt.</th>
                                                                        <th contenteditable="true">Discount</th>
                                                                        <th contenteditable="true">Discount %</th>
                                                                        <th contenteditable="true">Approver</th>
                                                                        <th contenteditable="true">Billing User</th>
                                                                       


                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>

                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true" colspan="8"
                                                                            class="text-left pl-3">Hospital : Rjouri
                                                                            Garden</td>



                                                                    </tr>
                                                                    <tr>

                                                                        <td contenteditable="true">1</td>
                                                                        <td contenteditable="true">OPD Visit</td>
                                                                        <td contenteditable="true">0.00</td>
                                                                        <td contenteditable="true">47.00</td>
                                                                        <td contenteditable="true">1.00</td>
                                                                        <td contenteditable="true">38.00</td>
                                                                        <td contenteditable="true">-100.00</td>
                                                                        <td contenteditable="true">23.68</td>
                                                                        <td contenteditable="true"></td>




                                                                    </tr>
                                                                    <tr>

                                                                        <td contenteditable="true">2</td>
                                                                        <td contenteditable="true">New Registration</td>
                                                                        <td contenteditable="true">0.00</td>
                                                                        <td contenteditable="true">47.00</td>
                                                                        <td contenteditable="true">1.00</td>
                                                                        <td contenteditable="true">38.00</td>
                                                                        <td contenteditable="true">-100.00</td>
                                                                        <td contenteditable="true">23.68</td>
                                                                        <td contenteditable="true"></td>




                                                                    </tr>
                                                                    <tr>

                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true"></td>



                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>

                                                    </div>
                                                </div>







                                            </div>
                                        </div>
                                        <!--Past your code here ends-->
                                    </div>
                                </div>


                            </div>








                            


                        </div>
                        

                </form>

            </div>
        <%- include('footer') -%>
            <script>
                const languagesData = {
                    labels: ['Rajori Garden', 'Patel Nagar', 'Vasant Kunj', 'Tilak Nagar', 'Dwarka', 'Saket'],
                    datasets: [{
                        data: [25, 20, 15, 10, 10, 20],
                        backgroundColor: ['#4ac2b7', '#fac10c',
                            '#fba119', '#f9655e', '#2196f3', '#8585ff'],
                    }],
                };
                const config = {
                    type: 'doughnut',
                    data: languagesData,
                    options: {
                        aspectRatio: 3.75,
                        legend: {
                            display: true,
                            position: 'right'
                        },
                    },
                };
                const ctx = document.getElementById(
                    'programmingLanguagesPieChart').getContext('2d');

                new Chart(ctx, config); 
            </script>
            <!-- //Different scripts of charts.  Ex.Barchart, Linechart -->


            <script src="assets/js/jquery.nicescroll.js"></script>
            <script src="assets/js/scripts.js"></script>

            <!-- close script -->
            <script>
                var closebtns = document.getElementsByClassName("close-grid");
                var i;

                for (i = 0; i < closebtns.length; i++) {
                    closebtns[i].addEventListener("click", function () {
                        this.parentElement.style.display = 'none';
                    });
                }
            </script>
            <!-- //close script -->

            <!-- disable body scroll when navbar is in active -->
            <script>
                $(function () {
                    $('.sidebar-menu-collapsed').click(function () {
                        $('body').toggleClass('noscroll');
                    })
                });
            </script>
            <!-- disable body scroll when navbar is in active -->

            <!-- loading-gif Js -->
            <script src="assets/js/modernizr.js"></script>
            <script>
                $(window).load(function () {
                    // Animate loader off screen
                    $(".se-pre-con").fadeOut("slow");;
                });
            </script>
            <!--// loading-gif Js -->

            <!-- Bootstrap Core JavaScript -->
            <script src="assets/js/bootstrap.min.js"></script>
        </div>
        </div>

    </section>


</body>

</html>