<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical Dashboard</title>
    <link rel="stylesheet" href="../stylesheets/styleDash.css">
    <link rel="stylesheet" href="../stylesheets/style.css?v=0.3">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">


    <!-- Template CSS -->
    <link rel="stylesheet" href="../stylesheets/style-starter.css?v=0.2">
    <link rel="stylesheet" href="../stylesheets/style-new.css">

    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css?family=Montserrat:300,400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet">


</head>

<body>


    <!--
===================================
? => Navabar
=================================== 
-->


    <header class="header2">
        <div class="logoL">
            <a href="#">LIFELINKR</a>
        </div>
        <div class="header-info">
            <div class="navlinks queue-button">Queue</div>
            <div class="navlinks date-range">1 Feb, 2024 - 4 Mar, 2024</div>
            <div class="bell-icon"><i class="fa-solid fa-bell"></i></div>
            <div class="user-avatar">TG3</div>
        </div>
    </header>



    <!--
===================================
? => Main Container :--
================================== 
-->

    <div class="main-container">

        <!--? Navbar  -->
        <nav class="main-nav">
            <ul>
                <li>Dashboard</li>
                <li>Master<span><i class="fa-solid fa-angle-right"></i></span></li>
                <li class="active">Transaction <span><i class="fa-solid fa-angle-left text-white"></i></span></li>
                <li>Patient 360</li>
                <li>Outside Receipt</li>
                <li>OPD</li>
                <li>Analytics<span><i class="fa-solid fa-angle-right"></i></span></li>
                <li>Waiting List</li>
                <li>Administration<span><i class="fa-solid fa-angle-right"></i></span></li>
            </ul>
        </nav>


        <!--? Second Navbar  -->
        <div class="second_navbar">
            <div class="Left_Side">
                <div class="Patient_Portfolio"><span><img src="../Icon/icon_dash.svg" alt=""></span>Patient
                    Portfolio</div>
                <div class="Timer-icon icon"><i class="fa-solid fa-clock-rotate-left"></i></div>
                <div class="list-icon icon"><i class="fa-solid fa-clipboard-list"></i></div>
            </div>

            <div class="Right_Side">

                <h6>UHID</h6>
                <div class="search-box">
                    <input type="search" name="search" id="search">
                </div>
                <button type="button" class="btn-primary btn-style btn" onclick="fetchPatientData()"><strong>Search</strong></button>
                <div class="Reset-icon icon"><i class="fa-solid fa-arrows-rotate"></i></div>

            </div>
        </div>



        <!--
-----------------------------------
* => Main Container :--
-----------------------------------
-->



        <div class="Partner-Details-Section">


            <!--? Left Side Section  -->
            <div class="Left-Section">

                <div  class="Partner-Dp-Details d-flex">
                    <div id="patientData" class="Female">
                        <!-- <img src="" alt=""> -->
                        <div class="Female-Icon">
                            <i class="fa-solid fa-user"></i>
                        </div>
                        <div class="name"></div>
                        <div class="age">Age: </div>
                        <div class="mobile">Mobile: </div>
                        <div class="gmail">Gmail: </div>
                    </div>
                    <div class="Male">
                        <!-- <img src="" alt=""> -->
                        <div class="Male-Icon">
                            <i class="fa-solid fa-user"></i>
                        </div>
                        <div class="name"></div>
                        <div class="age">Age: </div>
                        <div class="mobile">Mobile: </div>
                        <div class="gmail">Gmail: </div>
                    </div>
                </div>

                <div class="Info-Section">

                    <div class="Account-Info">
                        <button type="button" class="btn-primary btn-style btn Info-btn">
                            <strong><span><i class="mx-1 fa-solid fa-circle-info"></i></span>Account Info</strong>
                        </button>
                    </div>
                    <div class="Ledger-Info">
                        <div class="Ledger">
                            <button type="button" class="btn-primary btn-style btn Info-btn">
                                <strong><span><i class="mx-1 fa-solid fa-clipboard-list"></i></span>Ledger</strong>
                            </button>
                        </div>
                        <div class="Ledger-Report">
                            <button type="button" class="btn-primary btn-style btn Info-btn">
                                <strong><span><i class="mx-1 fa-solid fa-clipboard-list"></i></span>Ledger
                                    Report</strong>
                            </button>
                        </div>
                    </div>
                    <div class="Ammount-Info">
                        <button type="button" class="btn-primary btn-style btn Info-btn">
                            <strong><span><i class="mx-1 fa-solid fa-indian-rupee-sign"></i></span>Amount
                                Recevied</strong>
                        </button>
                    </div>
                </div>
            </div>


            <!--? Center Side Section  -->
            <div class="Center-Section">

                <Div class="Name d-flex">
                    <h3 class="mr-3"><label for="main_name" id="main_name"></label></h3>
                    <button type="button" class="file-created-btn">
                        <strong>File Created</strong>
                    </button>
                </Div>
                <div class="Details">
                    <div class="detail-row">
                        <span><strong>UHID:</strong>&nbsp;<label for="uhid" id="uhid"></label> </span>
                        <span><strong>MR NO:</strong>&nbsp;<label for="mr_no" id="mr_no"></label> </span>
                        <span><strong>Stage:</strong>&nbsp;<label for="stage" id="stage"></label> </span>
                    </div>
                    <div class="detail-row">
                        <span><strong>Registration No:</strong>&nbsp;<label for="reg_no" id="reg_no"></label> </span>
                        <span><strong>File NO:</strong>&nbsp;<label for="reg_no" id="reg_no"></label> </span>
                    </div>
                    <div class="detail-row">
                        <span><strong>Old Patient:</strong> No</span>
                    </div>
                </div>

                <div class="Other-Details">
                    <div class="first d-flex">
                        <div class="Loction"><span><i class="fa-solid fa-location-dot"></i></span><label for="add" id="add"></label> </div>
                        <div class="Date"><span><i class="fa-solid fa-calendar-check"></i></span>Account Date:&nbsp;<label for="acc_date" id="acc_date"></label></div>
                        <div class="Status"><span><i class="fa-solid fa-user"></i></span>Account Status:<span
                                style="color: var(--blue);">&nbsp;<label for="acc_status" id="acc_status"></label></span>
                        </div>
                    </div>
                    <div class="second d-flex">
                        <div class="Doctor"><span><i class="fa-solid fa-user-doctor"></i></span>Doctor: <label for="doctor" id="doctor"></label>
                        </div>
                        <div class="Plan"><span><i class="fa-solid fa-clipboard-list"></i></span>Plan: <label for="plan" id="plan"></label></div>
                    </div>
                    <div class="third d-flex">
                        <div class="Package"><span><i class="fa-sharp fa-solid fa-plus"></i></span>Package: <label for="package" id="package"></label></div>
                        <div class="Cycle"><span><i class="fa-solid fa-arrows-rotate"></i></span><label for="Cycle" id="cycle"></label></div>
                        <div class="Revision"><span><i class="fa-solid fa-rotate-right"></i></span>Current Cycle/Revision: <label for="cur_cycle" id="cur_cycle"></label></div>
                    </div>
                    <div class="fourth d-flex">
                        <div class="Plan"><span><i class="fa-solid fa-arrows-spin"></i></span>Cycle Plan: <label for="cycle_plan" id="cycle_plan"></label></div>
                    </div>
                    <div class="fifth d-flex">
                        <div class="Currency"><span><i class="fa-solid fa-money-check-dollar"></i></span>Patient
                            Currency</div>
                        <div class="Purpose"><span><i class="fa-solid fa-person-walking"></i></span>Visit Purpose: <label for="vis_purpose" id="vis_purpose"></label> </div>
                        <div class="File-Type"><span><i class="fa-solid fa-file-invoice"></i></span>File Type : <label for="file_type" id="file_type"></label> 
                            Creation</div>
                    </div>
                </div>
            </div>


            <!--? Right Side Section  -->
            <div class="Right-Section">
                <div class="Timeline-Heading">Timeline</div>
                <div class="Timeline-Details">
                    <div class="TimeLine">
                        <div class="date"><label for="enq_date" id="enq_date"></label></div>
                        <div class="radio-icon"><span><i class="fa-regular fa-circle-dot"></i></span></div>
                        <div class="Timline-Detail">Enquired</div>
                    </div>
                    <div class="TimeLine">
                        <div class="date"><label for="created_date" id="created_date"></label></div>
                        <div class="radio-icon"><span><i class="fa-regular fa-circle-dot"></i></span></div>
                        <div class="Timline-Detail">Created</div>
                    </div>
                    <div class="TimeLine">
                        <div class="date"><label for="consulted_date" id="consulted_date"></label></div>
                        <div class="radio-icon"><span><i class="fa-regular fa-circle-dot"></i></span></div>
                        <div class="Timline-Detail">Consulted</div>
                    </div>
                    <div class="TimeLine">
                        <div class="date"><label for="regi_date" id="regi_date"></label></div>
                        <div class="radio-icon"><span><i class="fa-regular fa-circle-dot"></i></span></div>
                        <div class="Timline-Detail">Registered</div>
                    </div>
                    <div class="TimeLine">
                        <div class="date"><label for="fileCreated_date" id="fileCreated_date"></label></div>
                        <div class="radio-icon"><span><i class="fa-regular fa-circle-dot"></i></span></div>
                        <div class="Timline-Detail">File Created</div>
                    </div>
                </div>
            </div>

        </div>

        <div class="View-Links-Section">

            <div class="ViewLinkBtn">
                <button type="button" class="btn-primary btn-style btn Info-btn">
                    <strong>View Vitals For Patient</strong>
                </button>
            </div>

            <div class="ViewLinkBtn">
                <button type="button" class="btn-primary btn-style btn Info-btn">
                    <strong>View USG Result for Patient</strong>
                </button>
            </div>

            <div class="ViewLinkBtn">
                <button type="button" class="btn-primary btn-style btn Info-btn">
                    <strong>View Vitals for Spouse/Relative</strong>
                </button>
            </div>

            <div class="ViewLinkBtn">
                <button type="button" class="btn-primary btn-style btn Info-btn">
                    <strong>View USG Results for Spouse/Relative</strong>
                </button>
            </div>

            <div class="ViewLinkBtn">
                <button type="button" class="btn-primary btn-style btn Info-btn">
                    <strong>View Vitals (Data Wise) for Patient</strong>
                </button>
            </div>

            <div class="ViewLinkBtn">
                <button type="button" class="btn-primary btn-style btn Info-btn">
                    <strong>Ledger Report</strong>
                </button>
            </div>

            <div class="ViewLinkBtn">
                <button type="button" class="btn-primary btn-style btn Info-btn">
                    <strong>View Vitals (Data Wise) for Spouse/Relative</strong>
                </button>
            </div>

            <div class="ViewLinkBtn">
                <button type="button" class="btn-primary btn-style btn Info-btn">
                    <strong>View Pre Consult Form</strong>
                </button>
            </div>

            <div class="ViewLinkBtn">
                <button type="button" class="btn-primary btn-style btn Info-btn">
                    <strong>Print Test Result for Patient</strong>
                </button>
            </div>

            <div class="ViewLinkBtn">
                <button type="button" class="btn-primary btn-style btn Info-btn">
                    <strong>Update Viral Marker</strong>
                </button>
            </div>

            <div class="ViewLinkBtn">
                <button type="button" class="btn-primary btn-style btn Info-btn">
                    <strong>Amount Received Info</strong>
                </button>
            </div>

        </div>


        <div class="card card_border mt-3">
            <div class="">

		<div class="col-xl-12 pr-xl-2 mb-4">
		<div class="row">
		<div class="col-xl-6 mt-3">
		<h6 class="primary">Prescription</h6>
		<table class="table2 mb-2">
		<tbody>
		<tr>
		<th>Barcode</th>
		<th>Item Name</th>
		<th>Batch Code</th>
		<th>Expiry Date</th>
		</tr>
		<tr>
		<td>test</td>
		<td>test</td>
		<td>test</td>
		<td>test</td>
		</tr>
		</tbody></table>
            </div>
			
		<div class="col-xl-6 mt-3">
		<h6 class="primary">Radiology</h6>
		<table class="table2 mb-2">
		<tbody>
		<tr>
		<th>Barcode</th>
		<th>Item Name</th>
		<th>Batch Code</th>
		<th>Expiry Date</th>
		</tr>
		<tr>
		<td>test</td>
		<td>test</td>
		<td>test</td>
		<td>test</td>
		</tr>
		</tbody></table>
            </div>
			
			
			</div>
          </div>
		<div class="col-xl-12 pr-xl-2 mb-4">
		<div class="row">
		<div class="col-xl-6 mt-3">
		<h6 class="primary">Stimulation</h6>
		<table class="table2 mb-2">
		<tbody>
		<tr>
		<th>Barcode</th>
		<th>Item Name</th>
		<th>Batch Code</th>
		<th>Expiry Date</th>
		</tr>
		<tr>
		<td>test</td>
		<td>test</td>
		<td>test</td>
		<td>test</td>
		</tr>
		</tbody></table>
            </div>
			
		<div class="col-xl-6 mt-3">
		<h6 class="primary">Endometrial Scan Details</h6>
		<table class="table2 mb-2">
		<tbody>
		<tr>
		<th>Barcode</th>
		<th>Item Name</th>
		<th>Batch Code</th>
		<th>Expiry Date</th>
		</tr>
		<tr>
		<td>test</td>
		<td>test</td>
		<td>test</td>
		<td>test</td>
		</tr>
		</tbody></table>
            </div>
			
			
			</div>
          </div>
		<div class="col-xl-12 pr-xl-2 mb-4">
		<div class="row">
		<div class="col-xl-6 mt-3">
		<h6 class="primary">IPD</h6>
		<table class="table2 mb-2">
		<tbody>
		<tr>
		<th>Barcode</th>
		<th>Item Name</th>
		<th>Batch Code</th>
		<th>Expiry Date</th>
		</tr>
		<tr>
		<td>test</td>
		<td>test</td>
		<td>test</td>
		<td>test</td>
		</tr>
		</tbody></table>
            </div>
			
		<div class="col-xl-6 mt-3">
		<h6 class="primary">Embryo Details</h6>
		<table class="table2 mb-2">
		<tbody>
		<tr>
		<th>Barcode</th>
		<th>Item Name</th>
		<th>Batch Code</th>
		<th>Expiry Date</th>
		</tr>
		<tr>
		<td>test</td>
		<td>test</td>
		<td>test</td>
		<td>test</td>
		</tr>
		</tbody></table>
            </div>
			
			
			</div>
          </div>
          <div class="col-xl-12 pr-xl-2 mb-4">
            <div class="row">
            <div class="col-xl-6 mt-3">
            <h6 class="primary">Antenal</h6>
            <table class="table2 mb-2">
            <tbody>
            <tr>
            <th>Barcode</th>
            <th>Item Name</th>
            <th>Batch Code</th>
            <th>Expiry Date</th>
            </tr>
            <tr>
            <td>test</td>
            <td>test</td>
            <td>test</td>
            <td>test</td>
            </tr>
            </tbody></table>
                </div>
                
            <div class="col-xl-6 mt-3">
            <h6 class="primary">Upcoming Appointments</h6>
            <div class="slidey">
            <table class="table2 mb-2">
                <tr>
                    <th>Date</th>
                    <th>Clinic</th>
                    <th>Appointment Purpose Name</th>
                    </tr>
            <tbody id="upcomingApt" >
           
            </tbody>
        </table>
    </div>
                </div>
                
                
                </div>
              </div>
              <div class="col-xl-12 pr-xl-2 mb-4">
                <div class="row">
                <div class="col-xl-6 mt-3">
                <h6 class="primary">Package Selection</h6>
                <table class="table2 mb-2">
                <tbody>
                <tr>
                <th>Barcode</th>
                <th>Item Name</th>
                <th>Batch Code</th>
                <th>Expiry Date</th>
                </tr>
                <tr>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                </tr>
                </tbody></table>
                    </div>
                    
                <div class="col-xl-6 mt-3">
                <h6 class="primary">History</h6>
                <table class="table2 mb-2">
                <tbody>
                <tr>
                <th>Barcode</th>
                <th>Item Name</th>
                <th>Batch Code</th>
                <th>Expiry Date</th>
                </tr>
                <tr>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                </tr>
                </tbody></table>
                    </div>
                    
                    
                    </div>
                  </div>
		
        </div>
		</div>



        <!--
-----------------------------
? => Slider Section
-----------------------------
-->

  


        <!-- <div class="Slider-Section d-flex">

            <div class="Box">
                <img src="../images/microscope.png" alt="">
                <h6>Pathology</h6>
            </div>

            <div class="Box">
                <img src="../images/sperms.png" alt="">
                <h6>Andrology</h6>
            </div>

            <div class="Box">
                <img src="../images/microscope.png" alt="">
                <h6>Concent</h6>
            </div>

            <div class="Box">
                <img src="../images/microscope.png" alt="">
                <h6>Clinical Services</h6>
            </div>

            <div class="Box">
                <img src="../images/microscope.png" alt="">
                <h6>Patient Services</h6>
            </div>

            <div class="Box">
                <img src="../images/microscope.png" alt="">
                <h6>Prescription</h6>
            </div>

            <div class="Box">
                <img src="../images/microscope.png" alt="">
                <h6>Radiology</h6>
            </div>

            <div class="Box">
                <img src="../images/microscope.png" alt="">
                <h6>Endometrial Scan Details</h6>
            </div>

            <div class="Box">
                <img src="../images/microscope.png" alt="">
                <h6>IPD</h6>
            </div>

            <div class="Box">
                <img src="../images/microscope.png" alt="">
                <h6>Pathology</h6>
            </div>

            <div class="Box">
                <img src="../images/microscope.png" alt="">
                <h6>Pathology</h6>
            </div>

            <div class="Box">
                <img src="../images/microscope.png" alt="">
                <h6>Pathology</h6>
            </div>

            <div class="Box">
                <img src="../images/microscope.png" alt="">
                <h6>Pathology</h6>
            </div>

            <div class="Box">
                <img src="../images/microscope.png" alt="">
                <h6>Pathology</h6>
            </div>

        </div> -->








        <!--
===================================
? => Footer :--
================================== 
-->


        <!-- <footer>
            <div class="services">
                <div class="service">Pathology</div>
                <div class="service">Andrology</div>
                <div class="service">MRD</div>
                <div class="service">Concent</div>
                <div class="service">Clinical Services</div>
                <div class="service">Patient Services</div>
                <div class="service">Prescription</div>
                <div class="service">Radiology</div>
                <div class="service">Endometrial Scan Details</div>
                <div class="service">IPD</div>
            </div>
        </footer> -->
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>

    function fetchPatientData() {
        const uhid = document.getElementById('search').value;
        if (uhid) {
            // Making an Axios request to fetch patient data based on UHID
            axios.get(`/main/patient/${uhid}`)
                .then(response => {
                    displayPatientData(response.data);
                })
                .catch(error => {
                    console.error('Error fetching patient data:', error);
                });
        } else {
            alert('Please enter a UHID');
        }
    }

    function displayPatientData(data) {
        console.log(data)
    const patientDataContainer = document.getElementById('patientData');
    if (data) {
        console.log(data);
        // Insert the fetched data into the Female section
        patientDataContainer.innerHTML = `
            <div class="Female-Icon">
                <i class="fa-solid fa-user"></i>
            </div>
            <div class="name">${data.kycDetails.wife_name}</div>
            <div class="age">Age: ${data.kycDetails.wife_age}</div>
            <div class="mobile">Mobile: ${data.kycDetails.contact_no_wife}</div>
            <div class="gmail">Gmail: ${data.email_id}</div>
        `;
        document.getElementById('main_name').textContent = data.kycDetails.wife_name;
        document.getElementById('uhid').textContent = data.crmRecord.uhid_no;
        document.getElementById('reg_no').textContent = data.kycDetails.lead_no;
        document.getElementById('add').textContent = data.kycDetails.address;
        document.getElementById('acc_date').textContent = data.crmRecord.con_date;
        document.getElementById('doctor').textContent = data.crmRecord.doctor;
        document.getElementById('enq_date').textContent = formatDate(data.kycDetails.lead_date);
        document.getElementById('created_date').textContent = data.crmRecord.con_date;

        const upcomingAptTbody = document.getElementById('upcomingApt');

        // Prepare table rows
        let tableRows = '';

        if (data.AptDetails && data.AptDetails.length > 0) {
            data.AptDetails.forEach(function(apt) {
                tableRows += `
                    <tr>
                        <td>${formatDate(apt.apt_date)}</td>
                        <td>${apt.clinic}</td>
                        <td>${apt.clinic}</td>
                        
                    </tr>
                `;
            });
        } else {
            tableRows = '<tr><td colspan="3">No upcoming appointments</td></tr>';
        }

        // Insert the rows into the table body
        upcomingAptTbody.innerHTML = tableRows;
    } else {
        patientDataContainer.innerHTML = '<p>No patient data found for this UHID.</p>';
    }
}

function formatDate(dateStr) {
    let date = new Date(dateStr);
    return date.toISOString().split('T')[0];
}

  </script>
</body>

</html>