<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>LifeLinkr</title>
    <%-include('../header');-%>
</head>

<body>
    <div class="main-content">
        <div class="row content-top-gap2">
            <div class="col-lg-12">
                <nav class="navbar navbar-expand-lg navbar-light bg-white">
                    <a class="navbar-brand text-center mr-5" href="#">
                        <span class="dash-icon"><i class="fas fa-tachometer-alt"></i></span>
                        Dashboard
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item active text-center mr-5">
                                <a class="nav-link" href="#">
                                    <span class="dash-icon"><i class="far fa-user"></i></span>
                                    Master
                                </a>
                            </li>
                            <li class="nav-item text-center mr-5">
                                <a class="nav-link" href="#">
                                    <span class="dash-icon"><i class="fas fa-exchange-alt"></i></span>
                                    Transaction
                                </a>
                            </li>
                            <li class="nav-item text-center mr-5">
                                <a class="nav-link" href="#">
                                    <span class="dash-icon"><i class="fas fa-hand-holding-medical"></i></span>
                                    Patient 360
                                </a>
                            </li>
                            <li class="nav-item text-center mr-5">
                                <a class="nav-link" href="#">
                                    <span class="dash-icon"><i class="fas fa-receipt"></i></span>
                                    Outside Receipt
                                </a>
                            </li>
                            <li class="nav-item text-center mr-5">
                                <a class="nav-link" href="#">
                                    <span class="dash-icon"><i class="fas fa-file-invoice"></i></span>
                                    Outpatient Department
                                </a>
                            </li>
                            <li class="nav-item text-center mr-5">
                                <a class="nav-link" href="#">
                                    <span class="dash-icon"><i class="fas fa-chart-line"></i></span>
                                    Analytics
                                </a>
                            </li>
                            <li class="nav-item text-center mr-5">
                                <a class="nav-link" href="#">
                                    <span class="dash-icon"><i class="far fa-clock"></i></span>
                                    Waiting List
                                </a>
                            </li>
                            <li class="nav-item text-center mr-5">
                                <a class="nav-link" href="#">
                                    <span class="dash-icon"><i class="fas fa-wrench"></i></span>
                                    Administration
                                </a>
                            </li>
                            <li class="nav-item text-center">
                                <a class="nav-link" href="#">
                                    <span class="dash-icon"><i class="fas fa-spinner"></i></span>
                                    Additional
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>

        <!-- content -->
        <div class="container-fluid">
            <div class="chart">
                <div class="row">
                    <div class="col-lg-12 pl-lg-0 mt-2 ml-2">
                        <h4 class="primary">Goods Received Notes</h4>
                    </div>

                    <div class="col-lg-12 pl-lg-2 chart-grid">
                        <form id="grnForm">
                            <div class="card card_border">
                                <div class="card-body pb-3 pt-1">
                                    <div class="pl-lg-0 pr-lg-0 pt-2">
                                        <h6 class="primary">GRN DETAILS</h6>
                                    </div>

                                    <div class="form-row">
                                        <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                            <div class="form-group"><label class="input__label">GRN No.</label><input name="grn_no" id="grn_no" type="text" readonly class="form-control input-style" placeholder=""></div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                            <div class="form-group"><label class="input__label">Date</label><input name="date" id="date" type="date" readonly class="form-control input-style" placeholder=""></div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                            <div class="form-group"><label class="input__label">Gate Entry No</label><select name="gate_entry_no" id="gate_entry_no" class="form-control input-style">
                                                <option value="">Select</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                            </select></div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                            <div class="form-group"><label class="input__label">Store</label><select name="store" id="store" class="form-control input-style"><option value="">Select</option></select></div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                            <div class="form-group"><label class="input__label">Supplier</label><select name="supplier" id="supplier" class="form-control input-style"><option value="">Select</option></select></div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                            <label class="input__label">Pay Mode</label>
                                            <div class="form-row pl-lg-0">
                                                <div class="radio">
                                                    <label class="form-check-label pt-1"><input class="form-check-input mt-1" type="radio" name="pay_mode" value="GRC"> GRC</label>
                                                </div>
                                                <div class="radio ">
                                                    <label class="form-check-label pt-1"><input class="form-check-input mt-1" type="radio" name="pay_mode" value="Credit"> Credit</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="pl-lg-0 pr-lg-0 mt-2">
                                        <h6 class="primary">INVOICE DETAILS</h6>
                                    </div>

                                    <div class="form-row">
                                        <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                            <div class="form-group"><label class="input__label">Invoice Date</label><input name="invoice_date" id="invoice_date" type="date" class="form-control input-style" placeholder=""></div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                            <div class="form-group"><label class="input__label">Invoice No.</label><input name="invoice_no" id="invoice_no" type="text" class="form-control input-style" placeholder=""></div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                            <div class="form-group"><label class="input__label">View</label><textarea name="invoice_view" id="invoice_view" class="form-control input-style" placeholder=""></textarea></div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-12">
                                            <div class="form-group"><button type="button" class="btn btn-style mt-4 btn-secondary btn-style btn-change"><strong><i class="fa-solid fa-paperclip"></i> Attach Invoice</strong></button></div>
                                        </div>
                                    </div>

                                    <div class="pl-lg-0 pr-lg-0 mt-2">
                                        <h6 class="primary">GET ITEMS</h6>
                                    </div>

                                    <div class="form-row">
                                        <div class="col-lg-3 col-md-4 col-sm-12">
                                            <div class="form-check-label form-row">
                                                <div class="radio pt-2">
                                                    <label class="form-check-label pt-1 pr-4"><input class="form-check-input mt-1" type="radio" name="item_mode" value="Direct Purchase"> Direct Purchase</label>
                                                    <label class="form-check-label pt-1 pl-4"><input class="form-check-input mt-1" type="radio" name="item_mode" value="Against Purchase"> Against Purchase</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-12">
                                            <div class="form-group"><button type="button" id="addItems" class="btn btn-style mt-2 btn-primary btn-style btn-change" data-toggle="modal" data-target="#itemSearchModal"><strong>Get Items</strong></button></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="mt-1 col-lg-12 pl-lg-0 pr-lg-0 mt-3">
                                <div class="card card_border">
                                    <div class="mb-2">
                                        <div class="form-group">
                                            <div class="col-xl-12 p-heading">
                                                <h6 class="p-text">MAIN ITEMS</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <div class="col col-12 mb-3 pr-lg-4 pl-lg-4">
                                                    <div class="slidex">
                                                        <table class="table2" id="selectedItemsTable">
                                                            <thead>
                                                                <tr>
                                                                    <th style="min-width: 100px;">Item Name</th>
                                                                    <th style="min-width: 100px;">Batch Code</th>
                                                                    <th>Expiry Date</th>
                                                                    <th style="min-width: 100px;">Bar Code</th>
                                                                    <th style="min-width: 100px;">UOM</th>
                                                                    <th style="min-width: 100px;">Received Quantity</th>
                                                                    <th style="min-width: 100px;">UOM</th>
                                                                    <th style="min-width: 100px;">S.UOM</th>
                                                                    <th style="min-width: 100px;">Conversion Factor</th>
                                                                    <th style="min-width: 100px;">Total Quantity</th>
                                                                    <th style="min-width: 100px;">Available Stock</th>
                                                                    <th style="min-width: 100px;">Cost Price</th>
                                                                    <th style="min-width: 100px;">Cost Amount</th>
                                                                    <th style="min-width: 100px;">Average Cost</th>
                                                                    <th style="min-width: 100px;">Average Cost Amount</th>
                                                                    <th style="min-width: 100px;">MRP</th>
                                                                    <th style="min-width: 100px;">Abated MRP</th>
                                                                    <th style="min-width: 100px;">Amount</th>
                                                                    <th>C.Disc %</th>
                                                                    <th>C.Disc. Amount</th>
                                                                    <th>Sch. Disc. %</th>
                                                                    <th>Sch. Disc. Amount</th>
                                                                    <th>CGST %</th>
                                                                    <th>CGST Amount</th>
                                                                    <th>SGST %</th>
                                                                    <th>SGST Amount</th>
                                                                   
                                                                    <th>IGST %</th>
                                                                    <th>IGST Amount</th>
                                                                    <th>Net Amount</th>
                                                                    <th>Remarks</th>
                                                                    <th>Rack</th>
                                                                    <th>Shelf</th>
                                                                    <th>Bin</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <!-- Rows will be inserted here -->
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="mt-1 col-lg-12 pl-lg-0 pr-lg-0 mt-3">
                                <div class="card card_border">
                                    <div class="card-body pt-2 pb-2">
                                        <div class="form-row">
                                            <div class="col-lg-3 col-md-4 col-sm-12 mb-1">
                                                <div class="form-group"><label class="input__label">Total Amount</label><input name="total_amount" id="total_amount" type="text" class="form-control input-style" placeholder=""></div>
                                            </div>
                                            
                                            <div class="col-lg-3 col-md-4 col-sm-12 mb-1">
                                                <div class="form-group"><label class="input__label">SGST Amount</label><input name="sgst_amount" id="sgst_amount" type="text" class="form-control input-style" placeholder=""></div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-12 mb-1">
                                                <div class="form-group"><label class="input__label">CGST Amount</label><input name="cgst_amount" id="cgst_amount" type="text" class="form-control input-style" placeholder=""></div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-12 mb-1">
                                                <div class="form-group"><label class="input__label">IGST Amount</label><input name="igst_amount" id="igst_amount" type="text" class="form-control input-style" placeholder=""></div>
                                            </div>
                                     
                                            <div class="col-lg-3 col-md-4 col-sm-12 mb-1">
                                                <div class="form-group"><label class="input__label">Free Item SGST Amount</label><input name="free_item_sgst_amount" id="free_item_sgst_amount" type="text" class="form-control input-style" placeholder=""></div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-12 mb-1">
                                                <div class="form-group"><label class="input__label">Free Item CGST Amount</label><input name="free_item_cgst_amount" id="free_item_cgst_amount" type="text" class="form-control input-style" placeholder=""></div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-12 mb-1">
                                                <div class="form-group"><label class="input__label">Free Item IGST Amount</label><input name="free_item_igst_amount" id="free_item_igst_amount" type="text" class="form-control input-style" placeholder=""></div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-12 mb-1">
                                                <div class="form-group"><label class="input__label">Other Charges</label><input name="other_charges" id="other_charges" type="text" class="form-control input-style" placeholder=""></div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-12 mb-1">
                                                <div class="form-group"><label class="input__label">C.Disc. Amount</label><input name="c_disc_amount" id="c_disc_amount" type="text" class="form-control input-style" placeholder=""></div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-12 mb-1">
                                                <div class="form-group"><label class="input__label">Sch. Disc. Amount</label><input name="sch_disc_amount" id="sch_disc_amount" type="text" class="form-control input-style" placeholder=""></div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-12 mb-1">
                                                <div class="form-group"><label class="input__label">GRN Discount</label><input name="grn_discount" id="grn_discount" type="text" class="form-control input-style" placeholder=""></div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-12 mb-1">
                                                <div class="form-group"><label class="input__label">Round Off Net Amount</label><input name="round_off_net_amount" id="round_off_net_amount" type="text" class="form-control input-style" placeholder=""></div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-12 mb-1">
                                                <div class="form-group"><label class="input__label">Net Amount</label><input name="net_amount" id="net_amount" type="text" class="form-control input-style" placeholder=""></div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-12 mb-1">
                                                <div class="form-group"><label class="input__label">Received By</label><select name="received_by" id="received_by" class="form-control input-style"><option>Select</option></select></div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-12 mb-1">
                                                <div class="form-group"><label class="input__label">Remark</label><textarea name="remark" id="remark" class="form-control input-style" placeholder=""></textarea></div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-12">
                                                <div class="form-check-label form-row">
                                                    <div class="radio pt-4">
                                                        <label class="form-check-label pt-1 pr-4"><input class="form-check-input mt-1" type="checkbox" id="is_finalize" name="is_finalize">Is Finalize</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group mt-1 mb-3 text-right">
                                <button type="button" disabled class="btn-secondary btn-style btn mt-3 mr-2"><strong><i class="fa-solid fa-print"></i> Print</strong></button>
                                <button type="button" disabled class="btn-secondary btn-style btn mt-3 mr-2"><strong><i class="fa-solid fa-plus"></i> New</strong></button>
                                <button type="button" onclick="window.location.href = '/palashinv/14'" class="btn-danger btn-style btn mt-3 mr-2"><strong><i class="fas fa-times"></i> Cancel</strong></button>
                                <button type="button" class="btn-primary btn-style btn mt-3" id="saveGRNBtn"><strong><i class="far fa-save"></i> Save</strong></button>
                            </div>
                        </form>
                    </div>

                    <!-- The Modal -->
                    <div class="modal fade" id="itemSearchModal">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
            
                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Item Search</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;"></button>
                                </div>
            
                                <!-- Modal body -->
                                <div class="modal-body">
                                    <form>
                                        <div class="card card_border mt-3">
                                            <div class="card">
                                                <div class="col-xl-12 p-heading">
                                                    <h6 class="p-text">ITEM SEARCH</h6>
                                                </div>
                                                <div class="form-row card-body pb-3 pt-2">
                                                    <div class="col-lg-3 col-md-4 col-sm-12">
                                                        <div class="form-group">
                                                            <label class="input__label">Item Name</label>
                                                            <input name="service name" type="text"
                                                                class="form-control input-style" placeholder="">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-sm-12">
                                                        <div class="form-group">
                                                            <label class="input__label">Brand Name</label>
                                                            <input name="service name" type="text"
                                                                class="form-control input-style" placeholder="">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-sm-12">
                                                        <div class="form-group">
                                                            <label class="input__label">Item Code</label>
                                                            <input name="service name" type="number"
                                                                class="form-control input-style" placeholder="">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-sm-12">
                                                        <div class="form-group">
                                                            <label class="input__label">Item Category</label>
                                                            <select name="report_generated_by"
                                                                    class="form-control input-style">
                                                                <option>Select</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-sm-12">
                                                        <div class="form-group">
                                                            <label class="input__label">Item Group</label>
                                                            <select name="report_generated_by"
                                                                    class="form-control input-style">
                                                                <option>Select</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-sm-12">
                                                        <div class="form-group">
                                                            <label class="input__label">Molecule</label>
                                                            <select name="report_generated_by"
                                                                    class="form-control input-style">
                                                                <option>Select</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-sm-12">
                                                        <div class="form-group">
                                                            <label class="input__label">Store</label>
                                                            <select name="report_generated_by"
                                                                    class="form-control input-style">
                                                                <option>Select</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-sm-12 text-left">
                                                        <div class="form-group">
                                                            <button type="button"
                                                                    class="btn btn-style mt-4 btn-primary btn-style btn-change">
                                                                <strong><i class="fas fa-search"></i> Search</strong>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card card_border mt-3">
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <div class="form-check-label">
                                                    <div class="radio mt-2 mb-2">
                                                        <label class="form-check-label pt-1">
                                                            <input class="form-check-input mt-1" type="checkbox" id="select-all-items">
                                                            Select All Items
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row card-body pt-1 pb-3">
                                                <div class="col-12 mb-0">
                                                    <div class="form-group">
                                                        <div class="col col-12 pr-xl-0 pl-xl-0">
                                                            <div class="slidx">
                                                                <table class="table2">
                                                                    <thead>
                                                                    <tr>
                                                                        <th contenteditable="true">Select</th>
                                                                        <th contenteditable="true">Item Code</th>
                                                                        <th contenteditable="true">Item Name</th>
                                                                        <th contenteditable="true">Brand Name</th>
                                                                        <th contenteditable="true">CGST</th>
                                                                        <th contenteditable="true">SGST</th>
                                                                        <th contenteditable="true">IGST</th>
                                                                        <th contenteditable="true">Suspend</th>
                                                                        <th contenteditable="true">Available Stock</th>
                                                                        <th contenteditable="true">Stock UOM</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody id="tbodyid">
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group mt-1 mb-3 text-right">
                                            <button type="button" class="btn-danger btn-style btn mt-3 mr-2"
                                                    data-dismiss="modal">
                                                <strong><i class="fas fa-times"></i> Cancel</strong>
                                            </button>
                                            <button type="button" class="btn-primary btn-style btn mt-3"
                                                    data-dismiss="modal" id="addSelectedItemsBtn">
                                                <strong><i class="fas fa-check"></i> OK</strong>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--footer section start-->
                    <%- include('../footer'); -%>

                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
                   
                  <script>
                    $(document).ready(function () {
    const loadDropdown = (url, elementId) => {
        fetch(url)
            .then(response => response.json())
            .then(data => {
                const dropdown = document.getElementById(elementId);
                data.forEach(item => {
                    const option = document.createElement('option');
                    option.value = item.description || item.rank_desc || item.shelf_desc || item.bin_desc || item.clinic_desc || item.tax_desc;
                    option.textContent = item.description || item.rank_desc || item.shelf_desc || item.bin_desc || item.clinic_desc || item.tax_desc;
                    dropdown.appendChild(option);
                });
            })
            .catch(error => console.error(`Error fetching ${elementId} details:`, error));
    };

    loadDropdown('/adminInv/get-clinic-details', 'clinic');
    loadDropdown('/adminInv/get-store-details', 'store');
    loadDropdown('/adminInv/get-supplier-details', 'supplier');

    function fetchData(from_store) {
        $.ajax({
            url: '/palashinv/get-current-item-counts',
            type: 'GET',
            data: {
                store: from_store,
                clinic: '' // Set clinic to blank
            },
            success: function (data) {
                console.log(data);
                let tableRows = '';
                data.data.forEach(function (item) {
                    tableRows += `
                        <tr data-item-id="${item.id}">
                            <td><input class="form-check-input mt-0 item-checkbox" type="checkbox"></td>
                            <td>${item.item_code}</td>
                            <td>${item.item_name}</td>
                            <td>${item.brand_name}</td>
                            <td>${item.CGST.toFixed(2)}%</td>
                            <td>${item.SGST.toFixed(2)}%</td>
                            <td>${item.IGST.toFixed(2)}%</td>
                            <td><input class="form-check-input mt-0 suspend-checkbox" type="checkbox" ${item.suspend ? 'checked' : ''} disabled></td>
                            <td>${item.availableStock}</td>
                            <td>${item.stocking_uom}</td>
                            <td style="display:none;"><input type="hidden" name="item_cgst" value="${item.CGST}"></td>
                            <td style="display:none;"><input type="hidden" name="item_sgst" value="${item.SGST}"></td>
                            <td style="display:none;"><input type="hidden" name="item_igst" value="${item.IGST}"></td>
                            <td style="display:none;"><input type="hidden" name="purchase_uom" value="${item.purchase_uom}"></td>
                            <td style="display:none;"><input type="hidden" name="stocking_uom" value="${item.stocking_uom}"></td>
                            <td style="display:none;"><input type="hidden" name="base_unit_cost_price" value="${item.base_unit_cost_price}"></td>
                            <td style="display:none;"><input type="hidden" name="base_unit_mrp" value="${item.base_unit_mrp}"></td>
                            <td style="display:none;"><input type="hidden" name="conversion_factor" value="${item.conversions[0].conversion_factor}"></td>
                        </tr>
                    `;
                });
                $('#tbodyid').html(tableRows);

                $('#select-all-items').on('change', function () {
                    const isChecked = $(this).is(':checked');
                    $('#tbodyid input.item-checkbox').prop('checked', isChecked);
                });
            },
            error: function (xhr, status, error) {
                console.error('Error fetching item details:', error);
            }
        });
    }

    $('#addItems').click(function (e) {
        let from_store = $('#store').val();

        if (!from_store || from_store === 'Select') {
            alert('Please select From store.');
            e.preventDefault();
            e.stopPropagation();
            return;
        }

        fetchData(from_store);
    });

    $('#addSelectedItemsBtn').click(function () {
        let selectedItems = [];
        $('#tbodyid tr').each(function () {
            if ($(this).find('input[type="checkbox"]').is(':checked')) {
                let itemId = $(this).data('item-id');
                let itemName = $(this).find('td').eq(2).text();
                let purchaseUOM = $(this).find('input[name="purchase_uom"]').val() || '';
                let stockingUOM = $(this).find('input[name="stocking_uom"]').val() || '';
                let baseUnitCostPrice = $(this).find('input[name="base_unit_cost_price"]').val() || '';
                let baseUnitMRP = $(this).find('input[name="base_unit_mrp"]').val() || '';
                let cgst = $(this).find('input[name="item_cgst"]').val() || '';
                let sgst = $(this).find('input[name="item_sgst"]').val() || '';
                let igst = $(this).find('input[name="item_igst"]').val() || '';
                let conversion_factor = $(this).find('input[name="conversion_factor"]').val();
                let availableStock = $(this).find('td').eq(8).text();

                selectedItems.push({
                    item_id: itemId,
                    item_name: itemName,
                    purchase_uom: purchaseUOM,
                    stocking_uom: stockingUOM,
                    base_unit_cost_price: baseUnitCostPrice,
                    base_unit_mrp: baseUnitMRP,
                    cgst: cgst,
                    sgst: sgst,
                    igst: igst,
                    available_stock: availableStock,
                    conversion_factor: conversion_factor
                });
            }
        });

        let selectedTableRows = '';
        selectedItems.forEach(function (item) {
            selectedTableRows += `
                <tr data-item-id="${item.item_id}">
                    <td>${item.item_name}</td>
                    <td><input name="batch_code" type="text" class="form-control input-style"></td>
                    <td><input name="expiry_date" type="date" class="form-control input-style"></td>
                    <td><input name="bar_code" type="text" class="form-control input-style"></td>
                    <td><input name="purchase_uom" type="text" class="form-control input-style" value="${item.purchase_uom || ''}"></td>
                    <td><input name="received_quantity" type="number" class="form-control input-style quantity-input"></td>
                    <td>
                        <select name="transaction_uom" class="form-control input-style transaction-uom">
                            <option value="${item.purchase_uom}" selected>${item.purchase_uom}</option>
                            <option value="${item.stocking_uom}">${item.stocking_uom}</option>
                        </select>
                    </td>
                    <td><input name="stocking_uom" type="text" class="form-control input-style" value="${item.stocking_uom || ''}"></td>
                    <td><input name="conversion_factor" type="number" class="form-control input-style conversion-factor" value="${item.conversion_factor}" readonly></td>
                    <td><input name="total_quantity" type="number" class="form-control input-style total-quantity" readonly></td>
                    <td><input name="available_stock" type="number" class="form-control input-style" value="${item.available_stock}" readonly></td>
                    <td><input name="base_unit_cost_price" type="number" class="form-control input-style" value="${item.base_unit_cost_price || ''}" readonly></td>
                    <td><input name="cost_amount" type="number" class="form-control input-style total-cp" readonly></td>
                    <td><input name="average_cost" type="number" class="form-control input-style" readonly></td>
                    <td><input name="average_cost_amount" type="number" class="form-control input-style" readonly></td>
                    <td><input name="base_unit_mrp" type="number" class="form-control input-style" value="${item.base_unit_mrp || ''}" readonly></td>
                    <td><input name="abated_mrp" type="number" class="form-control input-style" readonly></td>
                    <td><input name="amount" type="number" class="form-control input-style" readonly></td>
                    <td><input name="c_disc_percent" type="number" class="form-control input-style"></td>
                    <td><input name="c_disc_amount" type="number" class="form-control input-style" readonly></td>
                    <td><input name="sch_disc_percent" type="number" class="form-control input-style"></td>
                    <td><input name="sch_disc_amount" type="number" class="form-control input-style" readonly></td>
                    <td><input name="cgst" type="number" class="form-control input-style cgst" value="${item.cgst}" readonly></td>
                    <td><input name="cgst_amount" type="number" class="form-control input-style cgst-amount" readonly></td>
                    <td><input name="sgst" type="number" class="form-control input-style sgst" value="${item.sgst}" readonly></td>
                    <td><input name="sgst_amount" type="number" class="form-control input-style sgst-amount" readonly></td>
                    <td><input name="igst" type="number" class="form-control input-style igst" value="${item.igst}" readonly></td>
                    <td><input name="igst_amount" type="number" class="form-control input-style igst-amount" readonly></td>
                    <td><input name="net_amount" type="number" class="form-control input-style net-amount" readonly></td>
                    <td><input name="remarks" type="text" class="form-control input-style"></td>
                    <td><input name="rack" type="text" class="form-control input-style"></td>
                    <td><input name="shelf" type="text" class="form-control input-style"></td>
                    <td><input name="bin" type="text" class="form-control input-style"></td>
                </tr>
            `;
        });

        $('#selectedItemsTable tbody').append(selectedTableRows);
        $('#itemSearchModal').modal('hide');

        // Update calculations when inputs change
        $('.quantity-input, .transaction-uom').on('input change', function () {
            let $row = $(this).closest('tr');
            updateCalculations($row);
        });
    });

    function updateCalculations($row) {
        let quantity = parseFloat($row.find('.quantity-input').val()) || 0;
        let transactionUOM = $row.find('select[name="transaction_uom"]').val();
        let purchaseUOM = $row.find('input[name="purchase_uom"]').val();
        let conversionFactor = parseFloat($row.find('input[name="conversion_factor"]').val()) || 1;

        // Update conversion factor based on selected UOM
        if (transactionUOM !== purchaseUOM) {
            conversionFactor = parseFloat($row.find('input[name="conversion_factor"]').val()) || 1;
        } else {
            conversionFactor = 1; // No conversion needed if UOMs match
        }

        $row.find('.conversion-factor').val(conversionFactor);

        let totalQuantity = quantity * conversionFactor;
        let cp = parseFloat($row.find('input[name="base_unit_cost_price"]').val()) || 0;
        let totalCP = totalQuantity * cp;

        $row.find('.total-quantity').val(totalQuantity.toFixed(2));
        $row.find('.total-cp').val(totalCP.toFixed(2));

        updateNetCP($row);
    }

    function updateNetCP($row) {
        let totalCP = parseFloat($row.find('.total-cp').val()) || 0;
        let cgst = parseFloat($row.find('.cgst').val()) || 0;
        let sgst = parseFloat($row.find('.sgst').val()) || 0;
        let igst = parseFloat($row.find('.igst').val()) || 0;

        let cgstAmount = (totalCP * cgst) / 100;
        let sgstAmount = (totalCP * sgst) / 100;
        let igstAmount = (totalCP * igst) / 100;
        let netAmount = totalCP + cgstAmount + sgstAmount + igstAmount;

        $row.find('.cgst-amount').val(cgstAmount.toFixed(2));
        $row.find('.sgst-amount').val(sgstAmount.toFixed(2));
        $row.find('.igst-amount').val(igstAmount.toFixed(2));
        $row.find('.net-amount').val(netAmount.toFixed(2));

        updateTotals();
    }

    function updateTotals() {
        let totalCGST = 0;
        let totalSGST = 0;
        let totalIGST = 0;
        let totalNet = 0;

        $('#selectedItemsTable tbody tr').each(function () {
            totalCGST += parseFloat($(this).find('.cgst-amount').val()) || 0;
            totalSGST += parseFloat($(this).find('.sgst-amount').val()) || 0;
            totalIGST += parseFloat($(this).find('.igst-amount').val()) || 0;
            totalNet += parseFloat($(this).find('.net-amount').val()) || 0;
        });

        $('#total_cgst_amount').val(totalCGST.toFixed(2));
        $('#total_sgst_amount').val(totalSGST.toFixed(2));
        $('#total_igst_amount').val(totalIGST.toFixed(2));
        $('#total_net_amount').val(totalNet.toFixed(2));
        $('#total_amount').val((totalNet + totalCGST + totalSGST + totalIGST).toFixed(2));
    }

    $('#saveGRNBtn').click(function () {
        let formData = {
            grn_no: $('#grn_no').val(),
            date: $('#date').val(),
            gate_entry_no: $('#gate_entry_no').val(),
            store: $('#store').val(),
            supplier: $('#supplier').val(),
            pay_mode: $('input[name="pay_mode"]:checked').val(),
            invoice_date: $('#invoice_date').val(),
            invoice_no: $('#invoice_no').val(),
            item_mode: $('input[name="item_mode"]:checked').val(),
            total_cgst_amount: $('#total_cgst_amount').val(),
            total_sgst_amount: $('#total_sgst_amount').val(),
            total_igst_amount: $('#total_igst_amount').val(),
            total_net_amount: $('#total_net_amount').val(),
            total_amount: $('#total_amount').val(),
            remark: $('#remark').val(),
            is_finalize: $('#is_finalize').is(':checked'),
            items: []
        };

        $('#selectedItemsTable tbody tr').each(function () {
            let itemData = {
                item_id: $(this).data('item-id'),
                batch_code: $(this).find('[name="batch_code"]').val(),
                expiry_date: $(this).find('[name="expiry_date"]').val(),
                bar_code: $(this).find('[name="bar_code"]').val(),
                purchase_uom: $(this).find('[name="purchase_uom"]').val(),
                received_quantity: $(this).find('[name="received_quantity"]').val(),
                total_quantity: $(this).find('[name="total_quantity"]').val(),
                available_stock: $(this).find('[name="available_stock"]').val(),
                base_unit_cost_price: $(this).find('[name="base_unit_cost_price"]').val(),
                cost_amount: $(this).find('[name="cost_amount"]').val(),
                average_cost: $(this).find('[name="average_cost"]').val(),
                average_cost_amount: $(this).find('[name="average_cost_amount"]').val(),
                mrp: $(this).find('[name="base_unit_mrp"]').val(),
                abated_mrp: $(this).find('[name="abated_mrp"]').val(),
                amount: $(this).find('[name="amount"]').val(),
                c_disc_percent: $(this).find('[name="c_disc_percent"]').val(),
                c_disc_amount: $(this).find('[name="c_disc_amount"]').val(),
                sch_disc_percent: $(this).find('[name="sch_disc_percent"]').val(),
                sch_disc_amount: $(this).find('[name="sch_disc_amount"]').val(),
                cgst: $(this).find('[name="cgst"]').val(),
                cgst_amount: $(this).find('[name="cgst_amount"]').val(),
                sgst: $(this).find('[name="sgst"]').val(),
                sgst_amount: $(this).find('[name="sgst_amount"]').val(),
                igst: $(this).find('[name="igst"]').val(),
                igst_amount: $(this).find('[name="igst_amount"]').val(),
                net_amount: $(this).find('[name="net_amount"]').val(),
                remarks: $(this).find('[name="remarks"]').val(),
                rack: $(this).find('[name="rack"]').val(),
                shelf: $(this).find('[name="shelf"]').val(),
                bin: $(this).find('[name="bin"]').val()
            };
            formData.items.push(itemData);
        });

        $.ajax({
            url: '/palashinv/save-grn',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(formData),
            success: function (response) {
                alert('Data saved successfully');
                $('#errordiv1').addClass('alert-success').removeClass('alert-danger').text('Saved Successfully').show();
            },
            error: function (xhr, status, error) {
                console.error('Error saving data:', error);
                $('#errordiv1').removeClass('alert-success').addClass('alert-danger').text('Something went wrong').show();
                alert('Failed to save data');
            }
        });
    });

    document.addEventListener('DOMContentLoaded', function () {
        const today = new Date().toISOString().split('T')[0];
        const dateInput = document.getElementById('date');
        dateInput.value = today;
        dateInput.readOnly = true;
    });
});

                  </script>
</body>
</html>
