<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>LifeLinkr</title>
    <%- include('../header'); -%>
</head>

<body>
    <!-- main content start -->
    <div class="main-content">
        <div class="row content-top-gap2">
            <div class="col-lg-12">
                <nav class="navbar navbar-expand-lg navbar-light bg-white">
                    <a class="navbar-brand text-center mr-5" href="#">
                        <span class="dash-icon"><i class="fas fa-tachometer-alt"></i></span> Dashboard
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item active text-center mr-5">
                                <a class="nav-link" href="#">
                                    <span class="dash-icon"><i class="far fa-user"></i></span> Master
                                </a>
                            </li>
                            <li class="nav-item text-center mr-5">
                                <a class="nav-link" href="#">
                                    <span class="dash-icon"><i class="fas fa-exchange-alt"></i></span> Transaction
                                </a>
                            </li>
                            <li class="nav-item text-center mr-5">
                                <a class="nav-link" href="#">
                                    <span class="dash-icon"><i class="fas fa-hand-holding-medical"></i></span> Patient 360
                                </a>
                            </li>
                            <li class="nav-item text-center mr-5">
                                <a class="nav-link" href="#">
                                    <span class="dash-icon"><i class="fas fa-receipt"></i></span> Outside Receipt
                                </a>
                            </li>
                            <li class="nav-item text-center mr-5">
                                <a class="nav-link" href="#">
                                    <span class="dash-icon"><i class="fas fa-file-invoice"></i></span> Outpatient Department
                                </a>
                            </li>
                            <li class="nav-item text-center mr-5">
                                <a class="nav-link" href="#">
                                    <span class="dash-icon"><i class="fas fa-chart-line"></i></span> Analytics
                                </a>
                            </li>
                            <li class="nav-item text-center mr-5">
                                <a class="nav-link" href="#">
                                    <span class="dash-icon"><i class="far fa-clock"></i></span> Waiting List
                                </a>
                            </li>
                            <li class="nav-item text-center mr-5">
                                <a class="nav-link" href="#">
                                    <span class="dash-icon"><i class="fas fa-wrench"></i></span> Administration
                                </a>
                            </li>
                            <li class="nav-item text-center">
                                <a class="nav-link" href="#">
                                    <span class="dash-icon"><i class="fas fa-spinner"></i></span> Additional
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- content -->
        <div class="container-fluid">
            <div class="chart">
                <div class="row">
                    <div class="col-lg-12 pl-lg-0 mt-2 ml-2">
                        <h4 class="primary">Item Stock: Current Item Stock</h4>
                    </div>
                    <div class="col-lg-12 pl-lg-2 chart-grid">
                        <form>
                            <div class="card card_border">
                                <div class="card">
                                    <div class="card-body pb-3 pt-2">
                                        <div class="form-row">
                                            <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                <div class="form-group">
                                                    <label class="input__label">Clinic</label>
                                                    <select name="clinic" class="form-control input-style">
                                                        <option>Select</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                <div class="form-group">
                                                    <label class="input__label">Store</label>
                                                    <select name="store" class="form-control input-style">
                                                        <option>Select</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                <div class="form-group">
                                                    <label class="input__label">Item Group</label>
                                                    <select name="item_group" class="form-control input-style">
                                                        <option>Select</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                <div class="form-group">
                                                    <label class="input__label">Item Category</label>
                                                    <select name="item_category" class="form-control input-style">
                                                        <option>Select</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                <div class="form-group">
                                                    <label class="input__label">Item</label>
                                                    <input name="item" type="text" class="form-control input-style" placeholder="">
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                <div class="form-group">
                                                    <label class="input__label">Batch Code</label>
                                                    <input name="batch_code" type="text" class="form-control input-style" placeholder="">
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-12 text-left">
                                                <div class="form-check-label">
                                                    <div class="radio pt-4">
                                                        <label class="form-check-label pt-1 pr-4">
                                                            <input class="form-check-input mt-1" type="radio"> Item Stock With Zero
                                                        </label>
                                                        <label class="form-check-label pt-1 pl-4">
                                                            <input class="form-check-input mt-1" type="radio"> Stock As On Date
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-12">
                                                <div class="form-group">
                                                    <button type="button" class="btn btn-style mt-4 btn-primary btn-style btn-change" id="searchBtn">
                                                        <strong><i class="fas fa-search"></i> Search</strong>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <div class="col col-12 pr-xl-0 pl-xl-0 pt-2">
                                                        <div class="slidex">
                                                            <table class="table2" id="opening-item">
                                                                <thead>
                                                                    <tr>
                                                                        <th contenteditable="true">Clinic</th>
                                                                        <th contenteditable="true">Item Name</th>
                                                                        <th contenteditable="true">Item Code</th>
                                                                        <th contenteditable="true">Item Group</th>
                                                                        <th contenteditable="true">Item Category</th>
                                                                        <th contenteditable="true">Is Free</th>
                                                                        <th contenteditable="true">Store Name</th>
                                                                        <th contenteditable="true">Batch Code</th>
                                                                        <th contenteditable="true">Available Stock</th>
                                                                        <th contenteditable="true">Stocking UOM</th>
                                                                        <th contenteditable="true">Expiry Date</th>
                                                                        <th contenteditable="true">Total MRP</th>
                                                                        <th contenteditable="true">Total CP</th>
                                                                        <th contenteditable="true">Base CP</th>
                                                                        <th contenteditable="true">Base MRP</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody id="tbodyid">
                                                                    <!-- Data will be inserted here -->
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <div class="form-check-label text-right">
                                                            <div class="radio mt-3 mr-0">
                                                                <label class="form-check-label pt-1">
                                                                    <!-- <input class="form-check-input mt-1" type="checkbox"> Export To Excel -->
                                                                </label>
                                                            </div>
                                                            <button id="exportBtn" type="button" class="btn-secondary btn-style btn btn-change">
                                                                <strong><i class="fa-solid fa-file-excel"></i> Export to Excel</strong>
                                                            </button>
                                                            <button id="printBtn" type="button" class="btn-secondary btn-style btn btn-change">
                                                                <strong><i class="fa-solid fa-print"></i> Print</strong>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mt-1 mb-3 text-right">
                                    <button type="button" disabled id="printBtnFooter" class="btn-secondary btn-style btn mt-3 mr-2">
                                        <strong><i class="fa-solid fa-print"></i> Print</strong>
                                    </button>
                                    <button type="button" disabled onclick="window.location.href = '/palashinv/8';" class="btn-secondary btn-style btn mt-3 mr-2">
                                        <strong><i class="fa-solid fa-plus"></i> New</strong>
                                    </button>
                                    <button type="button" disabled class="btn-danger btn-style btn mt-3 mr-2">
                                        <strong><i class="fas fa-times"></i> Cancel</strong>
                                    </button>
                                    <button type="button" disabled class="btn-primary btn-style btn mt-3">
                                        <strong><i class="far fa-save"></i> Save</strong>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--footer section start-->
        <%- include('../footer'); -%>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.1/xlsx.full.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.5/dist/JsBarcode.all.min.js"></script>
        
        <script type="module">
            import { pagi_search } from '../javascripts/pagi_search.js';
        
            $(document).ready(function() {
                // Function to fetch data from the first route
                function fetchDataFromFirstRoute() {
                    return $.ajax({
                        url: '/palashinv/get-current-item-stock-dtls',
                        type: 'GET'
                    });
                }
        
                // Function to fetch additional data based on item_id from the second route
                function fetchAdditionalData(itemId) {
                    return $.ajax({
                        url: `/palashinv/get-current-item-stock/${itemId}`,
                        type: 'GET'
                    });
                }
        
                // Function to format date
                function formatDate(dateString) {
                    const options = { year: 'numeric', month: '2-digit', day: '2-digit' };
                    return new Date(dateString).toLocaleDateString(undefined, options);
                }
        
                // Function to fetch and display data
                function fetchData() {
                    fetchDataFromFirstRoute()
                        .done(function(data) {
                            console.log('Data from first route:', data);
        
                            let tableRows = '';
                            const fetchPromises = data.map(item => {
                                return fetchAdditionalData(item.item_id).then(function(additionalData) {
                                    console.log('Additional data:', additionalData);
        
                                    // Merge item data with additional data
                                    const combinedItem = {
                                        ...item,
                                        item_group: additionalData.item_group,
                                        item_code: additionalData.item_code,
                                        item_name: additionalData.item_name,
                                        stocking_uom: additionalData.stocking_uom,
                                        base_cp: additionalData.base_unit_cost_price,
                                        base_mrp: additionalData.base_unit_mrp,
                                        item_category: additionalData.item_category,
                                        additional_id: additionalData.id
                                    };
        
                                    tableRows += `
                                        <tr data-ob-id="${combinedItem.id}">
                                            <td>${combinedItem.clinic}</td>
                                            <td>${combinedItem.item_name}</td>
                                            <td>${combinedItem.item_code}</td>
                                            <td>${combinedItem.item_group}</td>
                                            <td>${combinedItem.item_category}</td>
                                            <td><input type="checkbox"></td>
                                            <td>${combinedItem.store}</td>
                                            <td>${combinedItem.batchCode}</td>
                                            <td>${combinedItem.availableStock}</td>
                                            <td>${combinedItem.stocking_uom}</td>
                                            <td>${formatDate(combinedItem.expiryDate)}</td>
                                            <td>${combinedItem.availableStock * combinedItem.base_mrp}</td>
                                            <td>${combinedItem.availableStock * combinedItem.base_cp}</td>
                                            <td>${combinedItem.base_cp}</td>
                                            <td>${combinedItem.base_mrp}</td>
                                        </tr>
                                    `;
                                });
                            });
        
                            // Once all fetches are done, update the table
                            $.when.apply($, fetchPromises).then(function() {
                                $('#tbodyid').html(tableRows);
                                pagi_search('#searchBox', '#opening-item', '#paginationControls');
                            });
                        })
                        .fail(function(xhr, status, error) {
                            console.error('Error fetching data:', error);
                        });
                }
        
                // Fetch data on page load
                fetchData();
        
                // Function to export table to Excel
                function exportTableToExcel(tableID, filename = '') {
                    const table = document.getElementById(tableID);
                    const workbook = XLSX.utils.table_to_book(table, { sheet: "Sheet1" });
                    XLSX.writeFile(workbook, filename || 'CurrentItemStock.xlsx');
                }
        
                // Add event listener to export button
                document.getElementById('exportBtn').addEventListener('click', function() {
                    exportTableToExcel('opening-item');
                });
        
                // Function to print the table with borders
                function printTable(tableID) {
                    var table = document.getElementById(tableID).outerHTML;
                    var newWin = window.open("");
                    newWin.document.write(`
                        <html>
                        <head>
                            <title>Print</title>
                            <style>
                                table, th, td {
                                    border: 1px solid black;
                                    border-collapse: collapse;
                                    padding: 8px;
                                }
                                th {
                                    background-color: #f2f2f2;
                                }
                            </style>
                        </head>
                        <body>
                            ${table}
                        </body>
                        </html>
                    `);
                    newWin.document.close();
                    newWin.print();
                    newWin.close();
                }
        
                // Add event listener to print button
                document.getElementById('printBtn').addEventListener('click', function() {
                    printTable('opening-item');
                });
            });
        </script>
        