<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>LifeLinkr</title>
    <style>
        @media print {
          body * {
            visibility: hidden;
          }
          #print-area, #print-area * {
            visibility: visible;
          }
          #print-area {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
          }
        }
      </style>

    <!-- Template CSS -->
    <%- include('../header') %>
        <!-- //header-ends -->
        <!-- main content start -->
        <div class="main-content">

            <div class="row content-top-gap2">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light bg-white">
                        <a class="navbar-brand text-center mr-5" href="#">
                            <span class="dash-icon"><i class="fas fa-tachometer-alt"></i></span>
                            Dashboard
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item active text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="far fa-user"></i></span>
                                        Master
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-exchange-alt"></i></span>
                                        Transaction
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-hand-holding-medical"></i></span>
                                        Patient 360
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-receipt"></i></span>
                                        Outside Reciept
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-file-invoice"></i></span>
                                        Outpatient Department
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-chart-line"></i></span>
                                        Analytics
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="far fa-clock"></i></span>
                                        Waiting List
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-wrench"></i></span>
                                        Adminstration
                                    </a>
                                </li>
                                <li class="nav-item text-center">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-spinner"></i></span>
                                        Additional
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- content -->
            <div class="container-fluid">

                <div class="chart">
                    <div class="row">

                        <div class="col-lg-12 pl-lg-0 mt-2 ml-2">
                            <h4 class="primary">Find Patient</h4>
                        </div>

                        <div class="col-lg-12 pl-lg-2 chart-grid">
                            <form>
                                <div class="card card_border">
                                    <div class="">
                                        <!--Past your code here starts-->

                                        <div class="card">

                                            <!-- <div class="mb-2">
                                                <div class="form-group">
                                                    <div class="col-xl-12 p-heading">
                                                        <h6 class="p-text">LIST OF USER</h6>
                                                    </div>
                                                </div>
                                            </div> -->

                                            <div class="form-row card-body pt-2 pb-2">

                                                <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                    <div class="form-group">
                                                        <label class="input__label">UHID</label>
                                                        <input name="company_logo" type="text" class="form-control input-style " placeholder="" >
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                    <div class="form-group">
                                                        <label class="input__label">ID Proof No.</label>
                                                        <input name="id_proof_number" id="id_proof_number" type="text" class="form-control input-style filter-input" placeholder="">
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                    <div class="form-group">
                                                        <label class="input__label">First Name</label>
                                                        <input name="firstName" id="firstName"type="text" class="form-control input-style filter-input" placeholder="">
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                    <div class="form-group">
                                                        <label class="input__label">Last Name</label>
                                                        <input name="lastName" id="lastName" type="text" class="form-control input-style filter-input" placeholder="">
                                                    </div>
                                                </div>


                                                <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                    <div class="form-group">
                                                        <label class="input__label">Gender</label>
                                                        <select name="report_generated_by" class="form-control input-style ">
                                                            <option></option>
                                                            <option>Male</option>
                                                            <option>Female</option>
                                                            <option>Other</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                    <div class="form-group">
                                                        <label class="input__label">Mobile No.</label>
                                                        <input name="mobileNo" id="mobileNo"type="text" class="form-control input-style filter-input" placeholder="">
                                                    </div>
                                                </div>

                                                <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                    <div class="form-group">
                                                        <label class="input__label">DOB</label>
                                                        <input name="dob"id="dob" type="date" class="form-control input-style filter-input" placeholder="">
                                                    </div>
                                                </div>

                                                <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                    <label class="input__label">Age</label>
                                                    <div class="form-row">
                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <input name="age_years" id="age_years" type="text" class="form-control input-style filter-input" placeholder="">
                                                                
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                </div>

                                                <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                    <label class="input__label">Visited</label>
                                                    <div class="form-row">
                                                        <div class="col-6">
                                                            <div class="form-group">
                                                                <input name="company_logo" type="text" class="form-control input-style " placeholder="">
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="form-group">
                                                                <select name="report_generated_by" class="form-control input-style ">
                                                                    <option>Day(s) ago</option>
                                                                    <option>Month(s) ago</option>
                                                                    <option>Year(s) ago</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                
                                                
                                            </div>
                                        </div>
                                        <!--Past your code here ends-->
                                    </div>

                                </div>


                                <div class="form-group mt-1 mb-4 text-right">

                                    
                                
                                        
                                        <button type="button" class="btn-secondary btn-style btn mt-3 mr-2"><strong><i
                                            class="fas fa-print"></i> Print Registration Report</strong></button>
                                            
                                            <button type="button" class="btn-success btn-style btn mt-3 mr-2"><strong><i class="fa-solid fa-clock-rotate-left"></i> 
                                                Patient Bill History</strong></button>
                                                
                                                <button type="button" class="btn-secondary btn-style btn mt-3 mr-2" data-bs-toggle="modal" data-bs-target="#myModal" onclick="getRowIdFromSession()"><strong><i
                                                    class="fas fa-print"></i>
                                                    Generate Barcode</strong></button>

                                                    
                                                   

                                                        <button type="button" class="btn-primary btn-style btn mt-3" onclick="loadData()"><strong><i
                                                                    class="fas fa-search">
                                                                </i> Search</strong></button>

                                </div>


                                <div class="mt-1 col-lg-12 pl-lg-0 pr-lg-0 mt-2">
                                    <div class="card card_border">

                                        <!-- <div class="mb-2">
                                            <div class="form-group">
                                                <div class="col-xl-12 p-heading">
                                                    <h6 class="p-text">ISSUE LIST</h6>
                                                </div>
                                            </div>
                                        </div> -->

                                        <div class="form-row">
                                            <div class="col-12 pl-lg-0 pr-lg-0">
                                                <div class="form-group">
                                                    <div class="col col-12 mb-3 mt-3 pr-lg-4 pl-lg-4">
                                                        <div class="slidx">

                                                            <table class="table2">

                                                                <thead>

                                                                    <tr>

                                                                        
                                                                        <th contenteditable="true">MR. No.</th>
                                                                        <th contenteditable="true">Name</th>
                                                                        <th contenteditable="true">Date Of Birth</th>
                                                                        <th contenteditable="true">Baby Birth Weight</th>
                                                                        <th contenteditable="true">Registration Date</th>
                                                                        <th contenteditable="true">Mobile No.</th>
                                                                        <th contenteditable="true">Email</th>
                                                                        <th contenteditable="true">Gender</th>
                                                                        <th contenteditable="true">Marital Status</th>
                                                                        <th contenteditable="true">Identity Type </th>
                                                                        <th contenteditable="true">Identity Number</th>
                                                                        <th contenteditable="true">Special Registration</th>
                                                                        <th contenteditable="true">Registered From</th>
                                                                        <th contenteditable="true">Old Registratic</th>
                                                                        <th contenteditable="true">Donor Code</th>
                                                                       

                                                                    </tr>

                                                                </thead>

                                                                <tbody id="table-body">

                                                                    
                                                                </tbody>

                                                            </table>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                    </div>
                                </div>



                                
                            </form>
                        </div>
                        <!--footer section start-->
                      <%- include('../footer') %>

                      <div class="modal" id="myModal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <a href="#" class="btn-close" data-bs-dismiss="modal"><i
                                            class="fa-solid fa-circle-xmark"></i></a>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">
                                    <div class="form-row">
                                        <div class="card-body pt-2 pb-2 pl-lg-3 pr-lg-3">
                                           <div class="form-row">
                                            <canvas id="barcode"></canvas>
                                            <div id="details"></div>                                        
                                           </div>
                                            <button type="button" id="printQr" onclick="printDiv('details')"
                                                class="btn-secondary btn-style btn mt-3 mr-2">
                                                <strong> Print</strong>
                                            </button>

                                            <button type="button" class="btn-danger btn-style btn mt-3"
                                                data-bs-dismiss="modal">
                                                <strong><i class="fas fa-times"></i> Close</strong>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                          
                    </div>
                    <script>
                        function getRowIdFromSession() {
                          $.get('/findpatient/getRowId', function(response) {
                            if (response.rowId) {
                              createBarcode(response.rowId);
                            } else {
                              alert('Select a Patient First ');
                            }
                          }).fail(function() {
                            alert('Select a Patient First');
                          });
                        }
                      
                        // Example usage: call the function to get row ID stored in session
                      
                      </script>
                      
                    <script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.0/dist/JsBarcode.all.min.js"></script>
                      <script>
                   function printDiv() {
    // Convert canvas to image
    const canvas = document.getElementById('barcode');
    const img = document.createElement('img');
    img.src = canvas.toDataURL();
    img.id = 'barcode-img';
    img.style.width = '100%';  // Ensuring the image fits the print page width

    // Create a print-friendly area
    const printArea = document.createElement('div');
    printArea.id = 'print-area';
    printArea.appendChild(img);  // Append only the barcode image to the print area
    document.body.appendChild(printArea);

    window.print();  // Start the print process

    // Cleanup
    printArea.remove();  // Remove the print area after printing
}
                        function createBarcode(code) {
                            // Generate the barcode
                            JsBarcode("#barcode", code, {
                                format: "CODE128",
                                displayValue: true,
                                fontSize: 18,
                                height: 100,
                                width: 2
                            }); 
                        }
                
                     
                    </script>
                      <script>
                        document
                            .getElementById("dob")
                            .addEventListener("change", calculateAge);

                        function calculateAge() {
                            const dob = new Date(document.getElementById("dob").value);
                            const today = new Date();
                            let ageYears = today.getFullYear() - dob.getFullYear();
                            let ageMonths = today.getMonth() - dob.getMonth();
                            let ageDays = today.getDate() - dob.getDate();

                            if (ageDays < 0) {
                                ageMonths--;
                                ageDays += new Date(
                                    today.getFullYear(),
                                    today.getMonth(),
                                    0
                                ).getDate();
                            }

                            if (ageMonths < 0) {
                                ageYears--;
                                ageMonths += 12;
                            }

                            document.getElementById("age_years").value = ageYears;
                            // document.getElementById("spouse_age_month").value = ageMonths;
                            // document.getElementById("spouse_age_day").value = ageDays;
                        }
                      </script>
                       <script >
                        async function fetchFilteredData(table, filters = {}, limit = 10, offset = 0, sortby = 'id') {
                        try {
                          const response = await axios.get('/findpatient/filter-data', {
                            params: {
                              table,
                              ...filters,
                              limit,
                              offset,
                              sortby
                            }
                          });
                      
                          return response.data;
                        } catch (error) {
                          console.error('Error fetching filtered data:', error);
                          throw error;
                        }
                      }
                          
                      
                          async function loadData() {
                            const table = 'PR_patientReg'
                            const filterElements = document.querySelectorAll('.filter-input');
                            let filters = {};
                            
                            filterElements.forEach(element => {
                              filters[element.name] = element.value;
                            });
                      
                            try {
                              const data = await fetchFilteredData(table, filters);
                              renderTableData(data.rows);
                            } catch (error) {
                              console.error('An error occurred while fetching data:', error);
                            }
                          }
                      
                          function renderTableData(data) {
  const tableBody = document.getElementById('table-body');
  tableBody.innerHTML = ''; // Clear existing data

  data.forEach(item => {
    const row = document.createElement('tr');
    row.dataset.id = item.id; // Add data-id attribute to each row
    row.innerHTML = `
      <td>${item.mr_no}</td>
      <td>${item.firstName} ${item.middleName} ${item.lastName}</td>
      <td>${item.dob}</td>
      <td>${item.babyBirthWeight}</td>
      <td>${item.date}</td>
      <td>${item.mobile_1} ${item.mobile_2}</td>    
      <td>${item.email}</td>
      <td>${item.gender}</td>
      <td>${item.marital_status}</td>
      <td>${item.id_proof_type}</td>
      <td>${item.id_proof_number}</td>
      <td>${item.special_registration}</td>
      <td>${item.registeredFrom}</td>
      <td>${item.oldRegistration}</td>
      <td>${item.donorCode}</td>
    `;
    tableBody.appendChild(row);
  });

  // Add click event listener to each row
  document.querySelectorAll('#table-body tr').forEach(row => {
    row.addEventListener('click', function() {
        const rowId = this.dataset.id;
        
        // Add the 'locked' class to the clicked row
        this.classList.add('locked');
        
        $.post('/findpatient/storeRowId', { rowId: rowId }, function(response) {
            alert('Patient Selected');
        });
    });
});

}
$('#table-body tr').click(function() {
    const rowId = $(this).data('id');
    
    // Add the 'locked' class to the clicked row
    $(this).addClass('locked');
    
    $.post('/findpatient/storeRowId', { rowId: rowId }, function(response) {
        alert('Patient Selected');
    });
});

                        </script>