<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        Priscripotion
        <a href="#" class="btn-close" data-bs-dismiss="modal"
          ><i class="fa-solid fa-circle-xmark"></i
        ></a>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="row">
          <table class="table2">
            <tr>
              <th>Id</th>
              <th>Items</th>
              <th>Date</th>
            </tr>
            <tr>
              <td></td>
              <td>></td>
              <td></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
