<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>LifeLinkr</title>
    <%- include('../header') %>    
    <style>
        .hidden {
            display: none;
        }
    </style>
    <!-- Template CSS -->
            <!-- //header-ends -->
        <!-- main content start -->
        <div class="main-content">

            <div class="row content-top-gap2">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light bg-white">
                        <a class="navbar-brand text-center mr-5" href="#">
                            <span class="dash-icon"><i class="fas fa-tachometer-alt"></i></span>
                            Dashboard
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item active text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="far fa-user"></i></span>
                                        Master
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-exchange-alt"></i></span>
                                        Transaction
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-hand-holding-medical"></i></span>
                                        Patient 360
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-receipt"></i></span>
                                        Outside Reciept
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-file-invoice"></i></span>
                                        Outpatient Department
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-chart-line"></i></span>
                                        Analytics
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="far fa-clock"></i></span>
                                        Waiting List
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-wrench"></i></span>
                                        Adminstration
                                    </a>
                                </li>
                                <li class="nav-item text-center">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-spinner"></i></span>
                                        Additional
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- content -->
            <div class="container-fluid">

                <div class="chart">
                    <div class="row">

                        <div class="col-lg-12 pl-lg-0 mt-2 ml-2">
                            <h4 class="primary"></h4>
                        </div>
                        <div class="col-lg-12 pl-lg-2 chart-grid">
                            <form>



                                <div class="card">

                                    <div class="col-xl-12 card-body pt-0 pb-0 p-heading">
                                        <h6 class="p-text" id="outcomeHeader">RECORD OUTCOME FOR GEETA PANDEY, COUPLE NO.: IVF/00003/24
                                        </h6>
                                    </div>

                                    <div class="card-body pt-2 pb-2">

                                        <div class="form-row">

                                            <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                <div class="form-group">
                                                    <label class="input__label"><strong>Transfer Date :
                                                        </strong>05/08/2024</label>

                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                <div class="form-group">
                                                    <label class="input__label"><strong>Gestation Period : </strong>10
                                                        weeks
                                                        2 days</label>

                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                <div class="form-group">
                                                    <label class="input__label"><strong>Present Status :</strong>
                                                    </label>

                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                <div class="form-group">
                                                    <label class="input__label"><strong>Pregnancy : </strong>
                                                        Yes</label>

                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                <div class="form-group">
                                                    <label class="input__label"><strong>No. of Embryos transferred :
                                                        </strong>1</label>

                                                </div>
                                            </div>

                                            <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                <div class="form-row">


                                                    <div class="form-group col-2">
                                                        <label class="input__label"><strong>EDD</strong></label>

                                                    </div>
                                                    <div class="form-group col-10">

                                                        <input name="company_logo" type="date"
                                                            class="form-control input-style" placeholder="">
                                                    </div>
                                                </div>
                                            </div>

                                        </div>


                                        <!-- <div class=" pt-2 pb-2 ">
                                                    <h6 class="primary">Embryos Transferred</h6>
                                                </div> -->



                                        <div class="form-row mb-3">

                                            <div class=" mt-1 col-lg-12 ">
                                                <div class=" card card_border">
                                                    <div class="col-xl-12 card-body pt-0 pb-0 p-heading">
                                                        <h6 class="p-text">BETA HCG</h6>
                                                    </div>

                                                    <div  id="betaHcgContainer" class="p-2 form-row pl-lg-3 pr-lg-3 pb-2">

                                                       
                                                        <div class="col-lg-3 col-md-4 col-sm-12">
                                                            <div class="form-group">
                                                                <label class="input__label">Beta HCG Value</label>
                                                                <input name="betaHcgValue" type="number"
                                                                    class="form-control text-right input-style"
                                                                    placeholder="">
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-3 col-md-4 col-sm-12">
                                                            <div class="form-group">
                                                                <label class="input__label">Date</label>
                                                                <input name="betaHcgDate" type="date"
                                                                    class="form-control text-right input-style"
                                                                    placeholder="">
                                                            </div>
                                                        </div>


                                                        <div class="col-lg-3 col-md-4 col-sm-12 ">
                                                            <div class="form-group">
                                                                <label class="input__label">Recorded By</label>
                                                                <select name="report_generated_by"
                                                                    class="form-control input-style">
                                                                    <option></option>
                                                                    <option>DR. NISHA BHATNAGAR</option>
                                                                    <option>Assistant Doctor</option>
                                                                </select>
                                                            </div>
                                                        </div>




                                                        <div class="col-lg-3 col-md-4 col-sm-12 ">
                                                            <div class="form-group">
                                                                <label class="input__label">Observations</label>
                                                                <textarea name="" class="form-control input-style"
                                                                    placeholder=""></textarea>
                                                            </div>
                                                        </div>
                                                       

                                                       

                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 text-right">
                                            <div class="form-group">

                                                <button type="button"
                                                    class="btn btn-style btn-secondary mt-2 btn-style btn-change mr-2"><strong><i
                                                            class="fas fa-arrows-rotate"></i>
                                                        Reset</strong>
                                                </button>
                                                <button type="button"
                                                    class="btn btn-style btn-secondary mt-2 btn-style btn-change mr-2" id="addBetaHcgRow"><strong><i
                                                            class="fas fa-plus"></i> Add</strong>
                                                </button>
                                                <input type="file" name="" id="upload" style="display: none;">
                                                <button type="button" id="btnChange"
                                                    class="btn btn-style btn-secondary mt-2 btn-style btn-change mr-2"><strong><i
                                                        class="fas fa-paperclip"></i>
                                                        Attach</strong>
                                                </button>
                                                <button type="button"
                                                    class="btn btn-style btn-secondary mt-2 btn-style btn-change mr-2"><strong><i
                                                            class="fa-regular fa-pen-to-square"></i>
                                                        Edit</strong>
                                                </button>
                                                <button type="button"
                                                    class="btn btn-style btn-danger mt-2 btn-style btn-change"><strong><i
                                                            class="fas fa-times"></i> Clear</strong>
                                                </button>



                                            </div>

                                        </div>


                                        <!-- <div class="form-row mb-1">
                                            <div class="col-lg-12 col-md-12 col-sm-12 pl-0">
                                                <div class="form-check-label">
                                                    <div class="radio">
                                                        <label class="form-check-label pt-0">
                                                            <input class="form-check-input mt-1" type="checkbox">
                                                            Biochemical Miscarriage</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> -->


                                        <div class="form-row mb-3" id="clinicalPregnancy">

                                            <div class="mt-1 col-lg-12 ">
                                                <div class="card card_border">
                                        
                                                    <div class="col-xl-12 card-body pt-0 pb-0 p-heading">
                                                        <h6 class="p-text">Clinical Pregnancy</h6>
                                                    </div>
                                        
                                                    <div class="p-2 form-row pl-lg-3 pr-lg-3 pb-2">
                                        
                                                        <div class="col-lg-3 col-md-4 col-sm-12">
                                                            <div class="form-group">
                                                                <label class="input__label">Date</label>
                                                                <input name="clinicalPregnancyDate" id="clinicalPregnancyDate" type="date" class="form-control text-right input-style"
                                                                    placeholder="">
                                                            </div>
                                                        </div>
                                        
                                                        <div class="col-lg-3 col-md-4 col-sm-12">
                                                            <div class="form-group">
                                                                <label class="input__label">Recorded By</label>
                                                                <select name="clinicalPregnancyRecordedBy" id="clinicalPregnancyRecordedBy" class="form-control input-style">
                                                                    <option value=""></option>
                                                                    <option value="DR. NISHA BHATNAGAR">DR. NISHA BHATNAGAR</option>
                                                                    <option value="Assistant Doctor">Assistant Doctor</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                        
                                                        <div class="col-lg-3 col-md-4 col-sm-12">
                                                            <div class="form-group">
                                                                <label class="input__label">Location</label>
                                                                <select name="clinicalPregnancyLocation" id="clinicalPregnancyLocation" class="form-control input-style">
                                                                    <option value=""></option>
                                                                    <option value="Ectopic">Ectopic</option>
                                                                    <option value="Heterotropic">Heterotropic</option>
                                                                    <option value="Intrauterine">Intrauterine</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                        
                                                        <div class="col-lg-3 col-md-4 col-sm-12">
                                                            <div class="form-group">
                                                                <label class="input__label">No. of sac seen</label>
                                                                <select name="noOfSac" id="noOfSac" class="form-control input-style">
                                                                    <option value="">Select</option>
                                                                    <option value="0">0</option>
                                                                    <option value="1">1</option>
                                                                    <option value="2">2</option>
                                                                    <option value="3">3</option>
                                                                    <option value="4">4</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                        
                                                        <div class="col-lg-12 col-md-12 col-sm-12 ">
                                                            <div class="form-group">
                                                                <label class="input__label">Observations</label>
                                                                <textarea name="clinicalPregnancyObservations" id="clinicalPregnancyObservations" class="form-control input-style" placeholder=""></textarea>
                                                            </div>
                                                        </div>
                                        
                                                        <div class="col-lg-12 col-md-12 col-sm-12 text-right">
                                                            <div class="form-group">
                                        
                                                                <button type="button" class="btn btn-style btn-secondary mt-2 btn-style btn-change mr-2"><strong><i
                                                                        class="fa-regular fa-pen-to-square"></i> Edit</strong></button>
                                        
                                                                <button type="button" class="btn btn-style btn-danger mt-2 btn-style btn-change"><strong><i
                                                                        class="fas fa-times"></i> Clear</strong></button>
                                        
                                                            </div>
                                                        </div>
                                        
                                                    </div>
                                                </div>
                                            </div>
                                        
                                        </div>
                                        
                                        <div class="form-row mb-1">
                                            <div class="col-lg-12 col-md-12 col-sm-12 pl-0">
                                                <div class="form-check-label">
                                                    <div class="radio">
                                                        <label class="form-check-label pt-0">
                                                            <input class="form-check-input mt-1" type="checkbox" id="isclinicalMiscariage">
                                                            Clinical Miscarriage</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="form-row mb-3" id="ongoingPregnancy">

                                            <div class="mt-1 col-lg-12 ">
                                                <div class="card card_border">
                                        
                                                    <div class="col-xl-12 card-body pt-0 pb-0 p-heading">
                                                        <h6 class="p-text">Ongoing Pregnancy</h6>
                                                    </div>
                                        
                                                    <div class="form-row pl-lg-3 pr-lg-3 pb-2">
                                        
                                                        <div class="col-lg-3 col-md-4 col-sm-12">
                                                            <label class="input__label">Intra-uterine Procedures</label>
                                        
                                                            <div class="form-check-label pl-0">
                                                                <div class="radio">
                                        
                                                                    <label class="form-check-label pr-4">
                                                                        <input class="form-check-input mt-1" type="radio" name="intraUterineProcedures" id="intraUterineProceduresYes" value="Yes">
                                                                        Yes</label>
                                        
                                                                    <label class="form-check-label pl-4">
                                                                        <input class="form-check-input mt-1" type="radio" name="intraUterineProcedures" id="intraUterineProceduresNo" value="No">
                                                                        No</label>
                                        
                                                                </div>
                                                            </div>
                                                        </div>
                                        
                                                        <div class="col-lg-3 col-md-4 col-sm-12">
                                                            <label class="input__label">Antenatal Screening</label>
                                        
                                                            <div class="form-check-label pl-0">
                                                                <div class="radio">
                                        
                                                                    <label class="form-check-label pr-4">
                                                                        <input class="form-check-input mt-1" type="radio" name="antenatalScreening" id="antenatalScreeningYes" value="Yes">
                                                                        Yes</label>
                                        
                                                                    <label class="form-check-label pl-4">
                                                                        <input class="form-check-input mt-1" type="radio" name="antenatalScreening" id="antenatalScreeningNo" value="No">
                                                                        No</label>
                                        
                                                                </div>
                                                            </div>
                                                        </div>
                                        
                                                        <div class="col-lg-3 col-md-4 col-sm-12">
                                                            <div class="form-group">
                                                                <label class="input__label">Maternal Antenatal Complications</label>
                                                                <input name="maternalAntenatalComplications" id="maternalAntenatalComplications" type="text" class="form-control text-right input-style" placeholder="">
                                                            </div>
                                                        </div>
                                        
                                                        <div class="col-lg-3 col-md-4 col-sm-12">
                                                            <div class="form-group">
                                                                <label class="input__label">Fetal Antenatal Complications</label>
                                                                <select name="fetalAntenatalComplications" id="fetalAntenatalComplications" class="form-control input-style">
                                                                    <option value=""></option>
                                                                    <option value="DR. NISHA BHATNAGAR">DR. NISHA BHATNAGAR</option>
                                                                    <option value="Assistant Doctor">Assistant Doctor</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                        
                                                        <div class="col-lg-12 col-md-12 col-sm-12 ">
                                                            <div class="form-group">
                                                                <label class="input__label">Observations</label>
                                                                <textarea name="ongoingPregnancyObservations" id="ongoingPregnancyObservations" class="form-control input-style" placeholder=""></textarea>
                                                            </div>
                                                        </div>
                                        
                                                        <div class="col-lg-12 col-md-12 col-sm-12 text-right">
                                                            <div class="form-group">
                                        
                                                                <button type="button" class="btn btn-style btn-secondary mt-2 btn-style btn-change mr-2"><strong><i class="fa-regular fa-pen-to-square"></i>
                                                                        Edit</strong>
                                                                </button>
                                        
                                                                <button type="button" class="btn btn-style btn-danger mt-2 btn-style btn-change"><strong><i class="fas fa-times"></i> Clear</strong>
                                                                </button>
                                        
                                                            </div>
                                        
                                                        </div>
                                        
                                                    </div>
                                                </div>
                                            </div>
                                        
                                        </div>
                                        
                                        <div class="form-row mb-3" id="birthDetails">
                                        
                                            <div class="mt-1 col-lg-12 ">
                                                <div class="card card_border">
                                        
                                                    <div class="col-xl-12 card-body pt-0 pb-0 p-heading">
                                                        <h6 class="p-text">Birth Details</h6>
                                                    </div>
                                        
                                                    <div class="form-row pl-lg-3 pr-lg-3 pb-2">
                                        
                                                        <div class="col-lg-3 col-md-4 col-sm-12">
                                                            <div class="form-group">
                                                                <label class="input__label">Delivery Date</label>
                                                                <input name="deliveryDate" id="deliveryDate" type="date" class="form-control text-right input-style" placeholder="">
                                                            </div>
                                                        </div>
                                        
                                                        <div class="col-lg-3 col-md-4 col-sm-12">
                                                            <div class="form-group">
                                                                <label class="input__label">Recorded By</label>
                                                                <select name="birthRecordedBy" id="birthRecordedBy" class="form-control input-style">
                                                                    <option value=""></option>
                                                                    <option value="DR. NISHA BHATNAGAR">DR. NISHA BHATNAGAR</option>
                                                                    <option value="Assistant Doctor">Assistant Doctor</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                        
                                                        <div class="col-lg-3 col-md-4 col-sm-12 pl-0">
                                                            <div class="form-check-label">
                                                                <div class="radio mt-4">
                                                                    <label class="form-check-label pr-4">
                                                                        <input class="form-check-input mt-1" type="radio" name="birthType" id="liveBirth" value="Live Birth">
                                                                        Live Birth</label>
                                        
                                                                    <label class="form-check-label pl-4">
                                                                        <input class="form-check-input mt-1" type="radio" name="birthType" id="stillBirth" value="Still Birth">
                                                                        Still Birth</label>
                                        
                                                                </div>
                                                            </div>
                                                        </div>
                                        
                                                        <div class="col-lg-3 col-md-4 col-sm-12">
                                                            <label class="input__label">Mode of Delivery</label>
                                        
                                                            <div class="form-check-label pl-0">
                                                                <div class="radio">
                                                                    <label class="form-check-label pr-4">
                                                                        <input class="form-check-input mt-1" type="radio" name="modeOfDelivery" id="vaginalDelivery" value="Vaginal Delivery">
                                                                        Vaginal Delivery</label>
                                        
                                                                    <label class="form-check-label pl-4">
                                                                        <input class="form-check-input mt-1" type="radio" name="modeOfDelivery" id="lscsDelivery" value="LSCS">
                                                                        LSCS</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                        
                                                        <div class="col-lg-3 col-md-4 col-sm-12">
                                                            <div class="form-group">
                                                                <label class="input__label">Neonatal Complications</label>
                                                                <input name="neonatalComplications" id="neonatalComplications" type="text" class="form-control text-right input-style" placeholder="">
                                                            </div>
                                                        </div>
                                        
                                                        <div class="col-lg-3 col-md-4 col-sm-12">
                                                            <div class="form-group">
                                                                <label class="input__label">Post Partum Maternal Complications</label>
                                                                <select name="postPartumMaternalComplications" id="postPartumMaternalComplications" class="form-control input-style">
                                                                    <option value=""></option>
                                                                </select>
                                                            </div>
                                                        </div>
                                        
                                                        <div class="col-lg-12 col-md-12 col-sm-12 ">
                                                            <div class="form-group">
                                                                <label class="input__label">Observations</label>
                                                                <textarea name="birthDetailsObservations" id="birthDetailsObservations" class="form-control input-style" placeholder=""></textarea>
                                                            </div>
                                                        </div>
                                        
                                                        <div class="col-lg-12 col-md-12 col-sm-12 text-right">
                                                            <div class="form-group">
                                        
                                                                <button type="button" class="btn btn-style btn-secondary mt-2 btn-style btn-change mr-2"><strong><i class="fa-regular fa-pen-to-square"></i>
                                                                        Edit</strong>
                                                                </button>
                                        
                                                                <button type="button" class="btn btn-style btn-danger mt-2 btn-style btn-change"><strong><i class="fas fa-times"></i> Clear</strong>
                                                                </button>
                                        
                                                            </div>
                                        
                                                        </div>
                                        
                                                    </div>
                                                </div>
                                            </div>
                                        
                                        </div>
                                        
                                        <div class="form-row mb-3" id="clinicalMiscarriage">
                                        
                                            <div class="mt-1 col-lg-12 ">
                                                <div class="card card_border">
                                        
                                                    <div class="col-xl-12 card-body pt-0 pb-0 p-heading">
                                                        <h6 class="p-text">Clinical Miscarriage</h6>
                                                    </div>
                                        
                                                    <div class="p-2 form-row pl-lg-3 pr-lg-3 pb-2">
                                        
                                                        <div class="col-lg-3 col-md-4 col-sm-12">
                                                            <div class="form-group">
                                                                <label class="input__label">Date</label>
                                                                <input name="miscarriageDate" id="miscarriageDate" type="date" class="form-control text-right input-style" placeholder="">
                                                            </div>
                                                        </div>
                                        
                                                        <div class="col-lg-3 col-md-4 col-sm-12">
                                                            <div class="form-group">
                                                                <label class="input__label">Miscarriage Time</label>
                                                                <select name="miscarriageTime" id="miscarriageTime" class="form-control input-style">
                                                                    <option value=""></option>
                                                                    <option value="2nd trimester">2nd trimester</option>
                                                                    <option value="8-12 weeks">8-12 weeks</option>
                                                                    <option value="< 8 weeks">< 8 weeks</option>
                                                                    <option value="Others">Others</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                        
                                                        <div class="col-lg-3 col-md-4 col-sm-12">
                                                            <label class="input__label">Abortion Type</label>
                                        
                                                            <div class="form-check-label pl-0">
                                                                <div class="radio">
                                                                    <label class="form-check-label pr-4">
                                                                        <input class="form-check-input mt-1" type="radio" name="abortionType" id="spontaneousAbortion" value="Spontaneous">
                                                                        Spontaneous</label>
                                        
                                                                    <label class="form-check-label pl-4">
                                                                        <input class="form-check-input mt-1" type="radio" name="abortionType" id="inducedAbortion" value="Induced">
                                                                        Induced</label>
                                        
                                                                </div>
                                                            </div>
                                                        </div>
                                        
                                                        <div class="col-lg-3 col-md-4 col-sm-12 ">
                                                            <div class="form-group">
                                                                <label class="input__label">Observations</label>
                                                                <textarea name="clinicalMiscarriageObservations" id="clinicalMiscarriageObservations" class="form-control input-style" placeholder=""></textarea>
                                                            </div>
                                                        </div>
                                        
                                                        <div class="col-lg-12 col-md-12 col-sm-12 text-right">
                                                            <div class="form-group">
                                        
                                                                <button type="button" class="btn btn-style btn-secondary mt-2 btn-style btn-change mr-2"><strong><i class="fa-regular fa-pen-to-square"></i>
                                                                        Edit</strong>
                                                                </button>
                                        
                                                                <button type="button" class="btn btn-style btn-danger mt-2 btn-style btn-change"><strong><i class="fas fa-times"></i> Clear</strong>
                                                                </button>
                                        
                                                            </div>
                                        
                                                        </div>
                                        
                                                    </div>
                                                </div>
                                            </div>
                                        
                                        </div>
                                        

                                    </div>
                                </div>
                                <div class="form-group mt-1 mb-3 text-right">

                                    <!-- <button type="button" class="btn-success btn-style btn mt-3 mr-2"><strong><i
                                                class="fa-regular fa-pen-to-square"></i> Modify</strong></button>
                                                
                                                <button type="button" class="btn-secondary btn-style btn mt-3"><strong><i class="fa-regular fa-pen-to-square"></i>
                                            Edit</strong></button> -->

                                    <button type="button" class="btn-danger btn-style btn mt-3 mr-2"><strong><i
                                                class="fas fa-times"></i>
                                            Cancel</strong></button>

                                    <button type="button" id="submitForm" class="btn-primary btn-style btn mt-3"><strong><i
                                                class="far fa-save"></i>
                                            Save</strong></button>

                                </div>
                            </form>
                        </div>
                        <!--footer section start-->
                        <%- include('../footer') %>
                      <script>
                        $(document).ready(function () {
    // Hide Clinical Miscarriage, Ongoing Pregnancy, and Birth Details sections by default
    $('#clinicalMiscarriage').addClass('hidden');
    $('#ongoingPregnancy').addClass('hidden');
    $('#birthDetails').addClass('hidden');

    // Toggle visibility based on isClinicalMiscarriage checkbox
    $('#isclinicalMiscariage').change(function () {
        if ($(this).is(':checked')) {
            $('#clinicalMiscarriage').removeClass('hidden');
            $('#ongoingPregnancy').addClass('hidden');
            $('#birthDetails').addClass('hidden');
        } else {
            const value = $('#noOfSac').val();
            if (value !== '0' && value !== '') {
                $('#ongoingPregnancy').removeClass('hidden');
                $('#birthDetails').removeClass('hidden');
                $('#clinicalMiscarriage').addClass('hidden');
            } else {
                $('#ongoingPregnancy').addClass('hidden');
                $('#birthDetails').addClass('hidden');
            }
            $('#clinicalMiscarriage').addClass('hidden');
        }
    });

    // Toggle visibility based on noOfSac dropdown
    $('#noOfSac').change(function () {
        const value = $(this).val();
        if (value !== '0' && value !== '') {
            $('#ongoingPregnancy').removeClass('hidden');
            $('#birthDetails').removeClass('hidden');
            $('#clinicalMiscarriage').addClass('hidden');
        } else {
            $('#ongoingPregnancy').addClass('hidden');
            $('#birthDetails').addClass('hidden');
        }
    });

    // Add a new Beta HCG row
    $('#addBetaHcgRow').click(function () {
        const row = `
            <div class="row betaHcgRow p-2 ">
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <div class="form-group">
                        <label class="input__label">Beta HCG Value</label>
                        <input name="betaHcgValue" type="number" class="form-control text-right input-style" placeholder="">
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <div class="form-group">
                        <label class="input__label">Date</label>
                        <input name="betaHcgDate" type="date" class="form-control text-right input-style" placeholder="">
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <div class="form-group">
                        <label class="input__label">Recorded By</label>
                        <select name="recordedBy" class="form-control input-style">
                            <option></option>
                            <option>DR. NISHA BHATNAGAR</option>
                            <option>Assistant Doctor</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <div class="form-group">
                        <label class="input__label">Observations</label>
                        <textarea name="observations" class="form-control input-style" placeholder=""></textarea>
                    </div>
                </div>
                <div class="col-lg-12 text-right">
                    <button type="button" class="btn btn-danger deleteRowBtn mt-2">
                        <strong><i class="fas fa-times"></i> Delete</strong>
                    </button>
                </div>
            </div>
        `;
        $('#betaHcgContainer').append(row);
    });

    // Delegate event handling to dynamically added delete buttons
    $('#betaHcgContainer').on('click', '.deleteRowBtn', function () {
        $(this).closest('.betaHcgRow').remove();
    });

    // Submit form data
    $('#submitForm').click(function () {
        validateForm();
    });

    function validateForm() {
        const betaHcgData = [];

        $('#betaHcgContainer .betaHcgRow').each(function () {
            const row = {
                betaHcgValue: $(this).find('input[name="betaHcgValue"]').val(),
                betaHcgDate: $(this).find('input[name="betaHcgDate"]').val(),
                recordedBy: $(this).find('select[name="recordedBy"]').val(),
                observations: $(this).find('textarea[name="observations"]').val(),
            };
            betaHcgData.push(row);
        });

        const formData = {
            clinicalPregnancyDate: $('#clinicalPregnancyDate').val() || '',
            clinicalPregnancyRecordedBy: $('#clinicalPregnancyRecordedBy').val() || '',
            clinicalPregnancyLocation: $('#clinicalPregnancyLocation').val() || '',
            noOfSac: $('#noOfSac').val() || '',
            clinicalPregnancyObservations: $('#clinicalPregnancyObservations').val() || '',
            ongoingPregnancyObservations: $('#ongoingPregnancyObservations').val() || '',
            miscarriageDate: $('#miscarriageDate').val() || '',
            miscarriageTime: $('#miscarriageTime').val() || '',
            abortionType: $('input[name="abortionType"]:checked').val() || '',
            clinicalMiscarriageObservations: $('#clinicalMiscarriageObservations').val() || '',
            deliveryDate: $('#deliveryDate').val() ,
            birthRecordedBy: $('#birthRecordedBy').val() || '',
            birthType: $('input[name="birthType"]:checked').val() || '',
            modeOfDelivery: $('input[name="modeOfDelivery"]:checked').val() || '',
            neonatalComplications: $('#neonatalComplications').val() || '',
            postPartumMaternalComplications: $('#postPartumMaternalComplications').val() || '',
            birthDetailsObservations: $('#birthDetailsObservations').val() || '',
            betaHcgData: betaHcgData,
        };

        console.log(formData)
        // Send the data to the backend using Axios
        axios.post('/embrology/submitOutcome', formData)
            .then(function (response) {
                alert('Data submitted successfully!');
            })
            .catch(function (error) {
                alert('Error submitting data.');
            });
    }
});

</script>
<script>
    $('#btnChange').on('click',()=>{
        $('#upload').click();
    })

                $('#submitForm').on('click', function () {
                        // Reference the file input element
                        var fileInput = $('#upload')[0];

                        // Check if files are selected
                        if (!fileInput.files || fileInput.files.length === 0) {
                            console.error('No file selected');
                            return;
                        }
                    
                        var file = fileInput.files[0];
                        var customSuffix = 'outcome-' + Date.now(); // Example custom suffix
                    
                        var formData = new FormData();
                        formData.append('customSuffix', customSuffix);
                        formData.append('image', file);
                        console.log(formData)
                        axios
                        .post('/embrology/upload-img', formData, {
                            headers: { 'Content-Type': 'multipart/form-data' }
                        })
                        .then((response) => {
                            let data = response.data;
                            console.log(data)
                        })
                        .catch((error) => {
                            console.error("Error uploading files:", error);
                        });// Ensure the URL matches your server route
                });

</script>
<script>
    axios
        .get("/embrology/patientAllDetails")
        .then((res) => {
        console.log(res.data);
        $('#outcomeHeader').html(`RECORD OUTCOME FOR ${res.data.spouse_firstName}, COUPLE NO.: ${res.data.coupleId}`)
        })
    .catch((err) => {
        console.log(err);
    });
    
</script>