<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="geeta.css" />
    <link rel="stylesheet" href="assets/css/style-starter.css?v=0.2" />
    <link rel="stylesheet" href="style.css" />

    <!-- google fonts -->
    <link
      href="//fonts.googleapis.com/css?family=Montserrat:300,400,600,700,800,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      rel="stylesheet"
    />

    <title>LifeLinker</title>
<%- include('../header'); -%>
        <!-- main content start -->
        <div class="main-content">

            <div class="row content-top-gap2">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light bg-white">
                        <a class="navbar-brand text-center mr-5" href="#">
                            <span class="dash-icon"><i class="fas fa-tachometer-alt"></i></span>
                            Dashboard
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item active text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="far fa-user"></i></span>
                                        Master
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-exchange-alt"></i></span>
                                        Transaction
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-hand-holding-medical"></i></span>
                                        Patient 360
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-receipt"></i></span>
                                        Outside Reciept
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-file-invoice"></i></span>
                                        Outpatient Department
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-chart-line"></i></span>
                                        Analytics
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="far fa-clock"></i></span>
                                        Waiting List
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-wrench"></i></span>
                                        Adminstration
                                    </a>
                                </li>
                                <li class="nav-item text-center">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-spinner"></i></span>
                                        Additional
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- content -->
            <div class="container-fluid">

                <div class="chart">
                    <div class="row">

                        <div class="col-lg-12 pl-lg-0 mt-2 ml-2">
                            <h4 class="primary"></h4>
                        </div>
                        <div class="col-lg-12 pl-lg-2 chart-grid">
                            <form>
                                <div class="card card_border">
                                    <div class="">
                                        <!--Past your code here starts-->

                                        <div class="card">

                                            <div class="card-body">

                                                <div class="form-row pt-1 pb-0">

                                                    <div class="col-lg-2 col-md-4 col-sm-12">
                                                        <div class="form-group">
                                                            <label id="couple4_id" class="input__label">Couple No.: IVF/00003/24
                                                                <br>

                                                                Referred By: Self
                                                            </label>

                                                        </div>
                                                    </div>

                                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                                        <div class="form-row">
                                                            <div class="col-2">
                                                                <i class="fa-solid fa-user-large"
                                                                    style="font-size:42px;color:#11cdf0;"></i>
                                                            </div>

                                                            <div class="col-10">
                                                                <label id="women5_id" class="input__label">Geeta Pandey, MRN:
                                                                    OHPL/R/24/1588
                                                                    <br>
                                                                    Age 76 Y, BM 24 D, Female, Ph 9867806857
                                                                    <br>
                                                                    Ht 167:00 rom, WI 65:00 kg. TIMI 73.31, A+
                                                                </label>
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                                        <div class="form-row">
                                                            <div class="col-2">
                                                                <i class="fa-solid fa-user-large"
                                                                    style="font-size:42px;color:#11cdf0;"></i>
                                                            </div>

                                                            <div class="col-9">
                                                                <label id="man5_id" class="input__label">Akash Pandey, MRN
                                                                    OHIL/R/24/1589
                                                                    <br>
                                                                    Age: 29 Y, 8 M, 24 D, Male, Ith: 9879869/86
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="col-lg-2 col-md-4 col-sm-12">
                                                        <div class="form-check-label text-right">

                                                            <div class="radio mr-0">
                                                                <label class="form-check-label pt-1"><input
                                                                        class="form-check-input mt-1" type="checkbox">
                                                                    Do not share</label>
                                                            </div>

                                                        </div>
                                                    </div>

                                                </div>

                                            </div>

                                        </div>

                                        <!--Past your code here ends-->


                                    </div>
                                </div>

                                <div class="form-group mt-1 mb-3 text-right">

                                    <button type="button"
                                        class="btn-primary btn-style btn-change btn mt-2 mr-2"><strong><i
                                                class="fas fa-search"></i>
                                            Search</strong>
                                    </button>
                                    <button type="button"
                                        class="btn-secondary btn-style btn-change btn mt-2 mr-2"><strong><i
                                                class="fas fa-arrows-rotate"></i>
                                            Reset</strong>
                                    </button>
                                    <button type="button" class="btn-secondary btn-style btn-change btn mt-2"><strong><i
                                                class="fa-solid fa-expand"></i>

                                            Enlarge</strong>
                                    </button>
                                </div>
                                <!-- second section -->


                                <div class="col-lg-12 pl-lg-0 pt-lg-0 mt-2 ">
                                    <!-- Nav Tabs are here once have a look--->
                                    <h4 class="primary">Active Cycle </h4>
                                </div>

                                <div class="card">

                                    <div class="card-body">

                                        <div class="form-row pt-1 pb-0">

                                            <div class="col-lg-3 col-md-4 col-sm-12">
                                                <div class="form-group">
                                                    <label class="input__label">Treatment: IVF (ICSI), Self Ovum
                                                        (Fresh), Partner Sperm
                                                    </label>

                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-12">
                                                <div class="form-group">
                                                    <label class="input__label">Antagonist Daily Dose - 1
                                                    </label>

                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-12">
                                                <div class="form-group">
                                                    <label class="input__label">Status: ET Completed
                                                    </label>

                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-12">
                                                <div class="form-group">
                                                    <label class="input__label">Day 72 of Cycle
                                                    </label>

                                                </div>
                                            </div>





                                        </div>

                                    </div>

                                </div>

                                <div class="col-lg-12 pl-lg-0 pt-lg-2 mt-2 ">
                                    <!-- Nav Tabs are here once have a look--->
                                    <h4 class="primary">ET</h4>
                                </div>


                                <div class="card">

                                    <div class="col-xl-12 card-body pt-0 pb-0 p-heading">
                                        <h6 class="p-text">EMBRYO TRANSFER</h6>
                                    </div>

                                    <div class="form-row card-body pt-2 pb-0">

                                        <div class="col-lg-12 col-md-12 col-sm-12 mb-0">
                                            <div class="form-group">
                                                <label class="input__label">Embryo Transfer done on 05/08/2024 at 05:49
                                                    PM <br> <br>
                                                    1 Day 5,
                                                    Embryo Transferred</label>

                                            </div>
                                        </div>
                                    </div>

                                    <!-- <div class=" pt-2 pb-2 ">
                                        <h6 class="primary">Embryos Transferred</h6>
                                    </div> -->

                                    <div class="card-body ">
                                        <div class=" pt-0 pb-0 ">
                                            <h6 class="primary">Embryos Transferred</h6>
                                        </div>

                                        <div class="form-row">
                                            <div class="col-12  mt-2">
                                                <div class="form-group">
                                                    <div class="col col-12 pr-xl-0 pl-xl-0">

                                                        <div class="slidx">
                                                            <table class="table2">
                                                                <thead>
                                                                    <tr>
                                                                        <th contenteditable="true">Oocyte No.</th>
                                                                        <th contenteditable="true">Embryo No.</th>
                                                                        <th contenteditable="true">Embryo Age.</th>
                                                                        <th contenteditable="true">Fresh/Frozen</th>
                                                                        <th contenteditable="true">Fertilization Date
                                                                        </th>
                                                                        <th contenteditable="true">Grade</th>
                                                                        <th contenteditable="true">Incubator</th>
                                                                        <th contenteditable="true">Add On</th>


                                                                    </tr>
                                                                </thead>
                                                                <tbody id="tble102">
                                                                    <tr>
                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true"></td>


                                                                    </tr>
                                                                    <tr>

                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true"></td>


                                                                    </tr>


                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="form-row mt-2">

                                            <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                <div class="form-group">
                                                    <label id="cath" name="catheter" class="input__label"><strong>Catheter :</strong>
                                                        Wallace</strong></label>

                                                </div>
                                            </div>

                                            <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                <div class="form-group">
                                                    <label name="difficulty" id="diff" class="input__label"><strong>Difficulty:
                                                        </strong>Easy</label>

                                                </div>
                                            </div>

                                            <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                <div class="form-group">
                                                    <label name="transferDFE" id="tran" class="input__label"><strong>Transfer DFE -
                                                        </strong>NO</label>

                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                <div class="form-group">
                                                    <label  name="ecoguided" id="ecog" class="input__label"><strong>Ecoguided - </strong>NO</label>

                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                <div class="form-group">
                                                    <label   name="repetition" id="repe" class="input__label"><strong>Repetition - </strong>NO</label>

                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                <div class="form-group">
                                                    <label  name="blood" id="bloo" class="input__label"><strong>Blood - </strong>YES</label>

                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                <div class="form-group">
                                                    <label  name="mucous" id="muco" class="input__label"><strong>Mucous - </strong>NO</label>

                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                <div class="form-group">
                                                    <label   name="bladder" id="blad" class="input__label"><strong>Bladder - </strong>NO</label>

                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                <div class="form-group">
                                                    <label name="allies" id="alli" class="input__label"><strong>Allies - </strong>YES</label>

                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                <div class="form-group">
                                                    <label  name="dilator" id="dila" class="input__label"><strong>Dialator - </strong>NO</label>

                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                <div class="form-group">
                                                    <label  name="comments"  id="comm" class="input__label"><strong>Comments:</strong></label>

                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                <div class="form-group">
                                                    <label   name="doctor" id="doct" class="input__label"><strong>Doctor: </strong>DR. NISHA
                                                        BHATNAGAR</label>

                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-12">
                                                <div class="form-group">
                                                    <label  name="embryologist" id="embr" class="input__label"><strong>Embryologist:
                                                        </strong>Andrologist</label>

                                                </div>
                                            </div>
                                        </div>




                                    </div>



                                </div>
                                <div class="form-group mt-1 mb-3 text-right">

                                    <!-- <button type="button" class="btn-success btn-style btn mt-3 mr-2"><strong><i
                                                class="fa-regular fa-pen-to-square"></i> Modify</strong></button> -->

                                    <button type="button" id="editbtn" class="btn-secondary btn-style btn mt-3"><strong><i class="fa-regular fa-pen-to-square"></i>
                                            Edit</strong></button>

                                    <!-- <button type="button" class="btn-danger btn-style btn mt-3 mr-2"><strong><i
                                                class="fas fa-times"></i>
                                            Cancel</strong></button>

                                    <button type="button" class="btn-primary btn-style btn mt-3"><strong><i
                                                class="far fa-save"></i>
                                            Save</strong></button> -->

                                </div>
                            </form>
                        </div>

                        <div class="modal container-fluid" id="ETModel">
                            <div class="modal-dialog  modal-xl">
                                <div class="modal-content">

                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <a href="#" class="btn-close" data-bs-dismiss="modal"><i
                                                class="fa-solid fa-circle-xmark"></i></a>
                                    </div>
                                    <div class="modal-body chart">
                                        <div class="container-fluid">
                                            <div class="chart">
                                              <div class="row">
                                                <div class="col-lg-12 pl-lg-0 mt-2 ml-2">
                                                  <h4 class="primary"></h4>
                                                </div>
                                                <div class="col-lg-12 pl-lg-2 chart-grid">
                                                  <form id="formid" method="post">
                                                    <div id="errordiv"></div>
                                    
                                                    <div class="card">
                                                      <div class="col-xl-12 card-body pt-0 pb-0 p-heading">
                                                        <h6 class="p-text" id="etHeader">
                                                          EMBRYO TRANSFER FOR: GEETA PANDEY, MRN: OHPL/R/24/1588,
                                                          COUPLE NO: IVF/00003/24
                                                        </h6>
                                                      </div>
                                    
                                                      <div class="form-row card-body pt-2 pb-0">
                                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                                          <div class="form-group">
                                                            <label class="input__label">Date</label>
                                                            <input
                                                              name="date"
                                                              type="date"
                                                              class="form-control input-style"
                                                              placeholder=""
                                                            />
                                                          </div>
                                                        </div>
                                    
                                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                                          <div class="form-group">
                                                            <label class="input__label">Time</label>
                                                            <input
                                                              name="time"
                                                              type="time"
                                                              class="form-control input-style"
                                                              placeholder=""
                                                            />
                                                          </div>
                                                        </div>
                                                      </div>
                                    
                                                      <!-- <div class=" pt-2 pb-2 ">
                                                                            <h6 class="primary">Embryos Transferred</h6>
                                                                        </div> -->
                                    
                                                      <div class="card-body">
                                                        <div class="pt-0 pb-0">
                                                          <h6 class="primary">Embryos Transferred</h6>
                                                        </div>
                                    
                                                        <div class="form-row">
                                                          <div class="col-12 mt-2">
                                                            <div class="form-group">
                                                              <div class="col col-12 pr-xl-0 pl-xl-0">
                                                                <div class="slidx">
                                                                  <table class="table2">
                                                                    <thead>
                                                                      <tr>
                                                                        <th contenteditable="true" width="10%"></th>
                                                                        <th contenteditable="true">Oocyte No.</th>
                                                                        <th contenteditable="true">Embryo No.</th>
                                                                        <th contenteditable="true">Embryo Age.</th>
                                                                        <th contenteditable="true">Fresh/Frozen</th>
                                                                        <th contenteditable="true">
                                                                          Fertilization Date
                                                                        </th>
                                                                        <th contenteditable="true">Grade</th>
                                                                        <th contenteditable="true">Incubator</th>
                                                                        <th contenteditable="true">Add On</th>
                                                                      </tr>
                                                                    </thead>
                                                                    <tbody id="tble101">
                                                                      <tr></tr>
                                                                      <tr>
                                                                        <td contenteditable="true">
                                                                          <input
                                                                            class="form-check-input mt-1"
                                                                            type="checkbox"
                                                                            id="gridCheck1"
                                                                          />
                                                                        </td>
                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true"></td>
                                                                      </tr>
                                                                    </tbody>
                                                                  </table>
                                                                </div>
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                    
                                                        <div class="form-row">
                                                          <div class="col-lg-6 col-md-6 col-sm-12 mb-2">
                                                            <div class="form-group">
                                                              <label class="input__label">Catheter</label>
                                                              <select
                                                                name="catheter"
                                                                class="form-control input-style"
                                                              >
                                                                <option></option>
                                                                <option>COOK Soft</option>
                                                                <option>Embryo Transfer Catheter</option>
                                                                <option>Gynetics-Tulip</option>
                                                                <option>Hard</option>
                                                                <option>IUI Catheter</option>
                                                                <option>Labotech</option>
                                                                <option>Obturator</option>
                                                                <option>Soft</option>
                                                                <option>Wallace</option>
                                                              </select>
                                                            </div>
                                                          </div>
                                    
                                                          <div class="col-lg-6 col-md-6 col-sm-12 mb-2">
                                                            <div class="form-group">
                                                              <label class="input__label">Difficulty</label>
                                                              <select
                                                                name="difficulty"
                                                                class="form-control input-style"
                                                              >
                                                                <option></option>
                                                                <option>Diffcult</option>
                                                                <option>Easy</option>
                                                                <option>Impossible</option>
                                                                <option>Moderate</option>
                                                              </select>
                                                            </div>
                                                          </div>
                                    
                                                          <div class="col-lg-3 col-md-4 col-sm-12 pl-0 mb-2">
                                                            <div class="form-check-label">
                                                              <div class="radio">
                                                                <label class="form-check-label pt-1 pr-4"
                                                                  ><input
                                                                    name="transferDFE"
                                                                    class="form-check-input mt-1"
                                                                    type="checkbox"
                                                                  />Transfer DFE</label
                                                                >
                                                              </div>
                                                            </div>
                                                          </div>
                                    
                                                          <div class="col-lg-3 col-md-4 col-sm-12 pl-0 mb-2">
                                                            <div class="form-check-label">
                                                              <div class="radio">
                                                                <label class="form-check-label pt-1 pr-4"
                                                                  ><input
                                                                    name="ecoguided"
                                                                    class="form-check-input mt-1"
                                                                    type="checkbox"
                                                                  />Ecoguided</label
                                                                >
                                                              </div>
                                                            </div>
                                                          </div>
                                    
                                                          <div class="col-lg-3 col-md-4 col-sm-12 pl-0 mb-2">
                                                            <div class="form-check-label">
                                                              <div class="radio">
                                                                <label class="form-check-label pt-1 pr-4"
                                                                  ><input
                                                                    name="repetition"
                                                                    class="form-check-input mt-1"
                                                                    type="checkbox"
                                                                  />Repetition</label
                                                                >
                                                              </div>
                                                            </div>
                                                          </div>
                                    
                                                          <div class="col-lg-3 col-md-4 col-sm-12 pl-0 mb-2">
                                                            <div class="form-check-label">
                                                              <div class="radio">
                                                                <label class="form-check-label pt-1 pr-4"
                                                                  ><input
                                                                    name="blood"
                                                                    class="form-check-input mt-1"
                                                                    type="checkbox"
                                                                  />Blood</label
                                                                >
                                                              </div>
                                                            </div>
                                                          </div>
                                    
                                                          <div class="col-lg-3 col-md-4 col-sm-12 pl-0 mb-2">
                                                            <div class="form-check-label">
                                                              <div class="radio">
                                                                <label class="form-check-label pt-1 pr-4"
                                                                  ><input
                                                                    name="mucous"
                                                                    class="form-check-input mt-1"
                                                                    type="checkbox"
                                                                  />Mucous</label
                                                                >
                                                              </div>
                                                            </div>
                                                          </div>
                                                          <div class="col-lg-3 col-md-4 col-sm-12 pl-0 mb-2">
                                                            <div class="form-check-label">
                                                              <div class="radio">
                                                                <label class="form-check-label pt-1 pr-4"
                                                                  ><input
                                                                    name="bladder"
                                                                    class="form-check-input mt-1"
                                                                    type="checkbox"
                                                                  />Bladder</label
                                                                >
                                                              </div>
                                                            </div>
                                                          </div>
                                    
                                                          <div class="col-lg-3 col-md-4 col-sm-12 pl-0 mb-2">
                                                            <div class="form-check-label">
                                                              <div class="radio">
                                                                <label class="form-check-label pt-1 pr-4"
                                                                  ><input
                                                                    name="allies"
                                                                    class="form-check-input mt-1"
                                                                    type="checkbox"
                                                                  />Allies</label
                                                                >
                                                              </div>
                                                            </div>
                                                          </div>
                                    
                                                          <div class="col-lg-3 col-md-4 col-sm-12 pl-0 mb-2">
                                                            <div class="form-check-label">
                                                              <div class="radio">
                                                                <label class="form-check-label pt-1 pr-4"
                                                                  ><input
                                                                    name="dilator"
                                                                    class="form-check-input mt-1"
                                                                    type="checkbox"
                                                                  />Dialator</label
                                                                >
                                                              </div>
                                                            </div>
                                                          </div>
                                    
                                                          <div class="col-lg-12 col-md-12 col-sm-12 mb-2">
                                                            <div class="form-group">
                                                              <label class="input__label">Comments</label>
                                                              <textarea
                                                                name="comments"
                                                                class="form-control input-style"
                                                                placeholder=""
                                                              ></textarea>
                                                            </div>
                                                          </div>
                                    
                                                          <div class="col-lg-6 col-md-6 col-sm-12 mb-2">
                                                            <div class="form-group">
                                                              <label class="input__label">Doctor</label>
                                                              <select
                                                                name="doctor"
                                                                class="form-control input-style"
                                                              >
                                                                <option></option>
                                                                <option>DR. NISHA BHATNAGAR</option>
                                                                <option>Assistant Doctor</option>
                                                              </select>
                                                            </div>
                                                          </div>
                                    
                                                          <div class="col-lg-6 col-md-6 col-sm-12 mb-2">
                                                            <div class="form-group">
                                                              <label class="input__label">Embryologist</label>
                                                              <select
                                                                name="embryologist"
                                                                class="form-control input-style"
                                                              >
                                                                <option></option>
                                                                <option>Andrologist</option>
                                                                <option>Embryologist</option>
                                                              </select>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                    <div id="loadingdiv"></div>
                                                    <div class="form-group mt-1 mb-3 text-right">
                                                      <!-- <button type="button" class="btn-success btn-style btn mt-3 mr-2"><strong><i
                                                                                    class="fa-regular fa-pen-to-square"></i> Modify</strong></button>
                                                                                    
                                                                                    <button type="button" class="btn-secondary btn-style btn mt-3"><strong><i class="fa-regular fa-pen-to-square"></i>
                                                                                Edit</strong></button> -->
                                    
                                                      <button
                                                        type="button" data-bs-dismiss="modal"
                                                        class="btn-danger btn-style btn mt-3 mr-2"
                                                      >
                                                        <strong><i class="fas fa-times"></i> Cancel</strong>
                                                      </button>
                                    
                                                      <button type="submit" class="btn-primary btn-style btn mt-3">
                                                        <strong><i class="far fa-save"></i> Save</strong>
                                                      </button>
                                                    </div>
                                                  </form>
                                                </div>
                                    </div>
                                </div>
                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--footer section start-->
                        <%- include('../footer'); -%>
                      <script src="../javascripts/myAjax.js">

                      </script>
                      <script src="../javascripts/validation2.js"></script>

                        <script type="module">
                          // import { validateForm } from "../javascripts/validation.js";
                          // import { myAjax } from "../javascripts/myAjax.js";
            
                          $(document).ready(function () {
                            console.log("Document is ready");
            
                            $("#formid").on("submit", function (event) {
                              event.preventDefault();
                              const { isValid, errorMessage, formData } =
                                validateForm("#formid");
            
                              // Initialize an array to hold the embryosTransferred data
                              const embryosTransferred = [];
            
                              // Iterate over each row in the table to find checked rows
                              $("#tble101 tr").each(function () {
                                const $row = $(this);
                                const isChecked = $row
                                  .find('input[type="checkbox"]')
                                  .is(":checked");
            
                                if (isChecked) {
                                  // Gather data from the checked row
                                  const oocyteNo = $row.find("td:eq(1)").text().trim();
                                  const embryoNo = $row.find("td:eq(2)").text().trim();
                                  const embryoAge = $row.find("td:eq(3)").text().trim();
                                  const freshFrozen = $row.find("td:eq(4)").text().trim();
                                  const fertilizationDate = $row
                                    .find("td:eq(5)")
                                    .text()
                                    .trim();
                                  const grade = $row.find("td:eq(6)").text().trim();
                                  const incubator = $row.find("td:eq(7)").text().trim();
                                  const addOn = $row.find("td:eq(8)").text().trim();
            
                                  // Add the row's data to the embryosTransferred array
                                  embryosTransferred.push({
                                    oocyteNo,
                                    embryoNo,
                                    embryoAge,
                                    freshFrozen,
                                    fertilizationDate,
                                    grade,
                                    incubator,
                                    addOn,
                                  });
                                }
                              });
            
                              console.log(
                                `EmbryosTransferred JSON IS:-`,
                                embryosTransferred
                              );
            
                              // Create a new object to store the form data
                              const finalFormData = {};
                              $.each(formData, function (key, value) {
                                finalFormData[key] = value;
                              });
            
                              // Ensure all checkboxes are included in the form data with the correct value
                              $('input[type="checkbox"]').each(function () {
                                const checkboxName = $(this).attr("name");
                                finalFormData[checkboxName] = $(this).is(":checked");
                              });
            
                              // Append the embryosTransferred data to finalFormData
                              finalFormData.embryosTransferred = embryosTransferred;
            
                              console.log(finalFormData);
                              const errorDivId = "#errordiv1";
            
                              if (isValid) {  
                                const url = "/embrology/embryo-transfer";
                                const loadingDiv = "#loadingIndicator";
            
                                console.log(finalFormData);
                                console.log(`This Data Submitted From Edit ET Page`);
                                
            
                                myAjax(finalFormData, errorDivId, url, loadingDiv);
                                fe();
                                $('#ETModel').modal('hide');
                                
                              } else {
                                $(errorDivId)
                                  .removeClass("alert-success")
                                  .addClass("alert-danger")
                                  .text(errorMessage)
                                  .show();
                              }
                            });
                          });
                          </script>

                        <script>
//MINE

function fe() {
    console.log(`From FE Function`);
    
    axios.get('/embrology/embryo-transfers-cycleID').then((response) => {
                    let data = response.data;
                    console.log(data);
                    console.log(data[0].cycle_Id);
                    console.log(`HelloDoctor`);
                    console.log(data[0].embryosTransferred[0].freshFrozen);
                    
                    
                  
                    let bladder = data[0].bladder;
                    let catheter = data[0].catheter;
                    let difficulty = data[0].difficulty;
                    let transferDFE = data[0].transferDFE;
                    let ecoguided = data[0].ecoguided;
                    let repetition = data[0].repetition;
                    let mucous = data[0].mucous;
                    let allies = data[0].allies;
                    let blood = data[0].blood;
                    let dilator= data[0].dilator;
                    let comments= data[0].comments;
                    let doctor= data[0].doctor;
                    let embryologist= data[0].embryologist;

                    let label = ` <label   name="bladder" id="blad" class="input__label"><strong>Bladder - </strong>${bladder}</label>`
 
                    document.getElementById("blad").innerHTML =
                    label;
                    
                    label = `<label  name="doctor" id="doct" class="input__label"><strong>Doctor:  </strong>${doctor}</label>`
 
                    document.getElementById("doct").innerHTML =
                    label;

                    label=`<label name="difficulty" id="diff" class="input__label"><strong>Difficulty: </strong>${difficulty}</label>`
                    document.getElementById("diff").innerHTML =
                    label;

                    label=`<label   name="repetition" id="repe" class="input__label"><strong>Repetition - </strong>${repetition}</label>`
                    document.getElementById("repe").innerHTML =
                    label;
                    label=`<label  name="comments"  id="comm" class="input__label"><strong>Comments: ${comments}</strong></label>`
                    
                    document.getElementById("comm").innerHTML =
                    label;
                    label=`<label id="cath" name="catheter" class="input__label"><strong>Catheter :</strong>${catheter}</strong></label>`
                    document.getElementById("cath").innerHTML =
                    label;
                    label=`<label name="transferDFE" id="tran" class="input__label"><strong>Transfer DFE -</strong>${transferDFE}</label>`
                   
                    document.getElementById("tran").innerHTML =
                    label;
                    
                    label=`<label  name="ecoguided" id="ecog" class="input__label"><strong>Ecoguided - </strong>${ecoguided}</label>`
                    document.getElementById("ecog").innerHTML =
                    label;
                    
                    label=`<label  name="blood" id="bloo" class="input__label"><strong>Blood - </strong>${blood}</label>`
                    document.getElementById("bloo").innerHTML =
                    label;

                    label=`<label  name="mucous" id="muco" class="input__label"><strong>Mucous - </strong>${mucous}</label>`
                  
                    document.getElementById("muco").innerHTML =
                    label;
                    
                    label=`<label name="allies" id="alli" class="input__label"><strong>Allies - </strong>${allies}</label>`
                    document.getElementById("alli").innerHTML =
                    label;

                    label=`<label  name="dilator" id="dila" class="input__label"><strong>Dialator - </strong>${dilator}</label>`
                    document.getElementById("dila").innerHTML =
                    label;
                    
                    label=` <label  name="embryologist" id="embr" class="input__label"><strong>Embryologist: </strong>${embryologist}</label>`
                    document.getElementById("embr").innerHTML =
                    label;
                    



                    
                    
                    let tableRows = "";
                    data.forEach((item) => {
                 
                      
                      tableRows += `
                                        <tr>
                                            
                                            <td contenteditable="true">${item.embryosTransferred[0].oocyteNo}</td>
                                            <td contenteditable="true">${item.embryosTransferred[0].embryoNo}</td>
                                            <td contenteditable="true">${item.embryosTransferred[0].embryoAge}</td>
                                            <td contenteditable="true">${item.embryosTransferred[0].freshFrozen}</td>
                                            <td contenteditable="true">${item.embryosTransferred[0].fertilizationDate}</td>
                                            <td contenteditable="true">${item.embryosTransferred[0].grade}</td>
                                            <td contenteditable="true">${item.embryosTransferred[0].incubator}</td>
                                            <td contenteditable="true">${item.embryosTransferred[0].addOn}</td>

                                        </tr>
                                        `;
                    });
                    $("#tble102").html(tableRows);
                    
                  })
                  .catch((error) => {
                    console.error("Error fetching data:", error);
                  });
}
fe();



//MINE

$('#editbtn').on('click',()=>{
    
    fetchServicesData()
    $('#ETModel').modal('show')
})

function fetchServicesData() {
  console.log(`Inside FetchServiceData`);
  axios
    .get("/embrology/ready-for-transfer2")
    .then((response) => {
      let data = response.data;
      console.log(`Data from ReadyToTransfer`, data);

      let tableRows = "";

      // Function to process each day's data and generate table rows
      const processDayData = (dayName, items) => {
        items.forEach((item) => {
          item.reportData.forEach((report) => {
            tableRows += `
              <tr>
                <td contenteditable="true"><input class="form-check-input mt-1" type="checkbox" id="gridCheck1"></td>
                <td contenteditable="true">${report.oocyteNo}</td>
                <td contenteditable="true">${report.embryoNo}</td>
                <td contenteditable="true">1</td>
                <td contenteditable="true">FRESH</td>
                <td contenteditable="true">${new Date(item.createdAt).toISOString().slice(0, 10)}</td>
                <td contenteditable="true">${report.grade}</td>
                <td contenteditable="true">${item.incubator}</td>
                <td contenteditable="true">YYV</td>
               
              </tr>
            `;
          });
        });
      };

      // Process each day's data and generate table rows
      if (data.emb_day3_ready_forTransfer) {
        processDayData("Day 3", data.emb_day3_ready_forTransfer);
      }
      if (data.embday4_readyforTransfer) {
        processDayData("Day 4", data.embday4_readyforTransfer);
      }
      if (data.embday5_readyforTransfer) {
        processDayData("Day 5", data.embday5_readyforTransfer);
      }
      if (data.embday6_readyforTransfer) {
        processDayData("Day 6", data.embday6_readyforTransfer);
      }

      // Append the rows to the table
      $("#tble101").html(tableRows);
    })
    .catch((error) => {
      console.error("Error fetching data:", error);
    });
}



                        </script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    axios
        .get("/embrology/patientAllDetails")
        .then((res) => {
        console.log(res.data);
        $('#etHeader').html(`EMBRYO TRANSFER FOR: ${res.data.spouse_firstName}, MRN: ${res.data.mr_no},
                                                          COUPLE NO: ${res.data.coupleId}`)
        $("#couple4_id").html(`Couple No. ${res.data.coupleId}<br>
                Referred By: ${res.data.ReferralDetails}`);
        $("#women5_id")
.html(`${res.data.firstName} ${res.data.lastName}, MRN: ${res.data.mr_no}<br>
                                        Age: ${res.data.age_years} Y, ${res.data.age_months} M, ${res.data.age_days} D, ${res.data.Gender}, Ph: ${res.data.mobileNo}<br>
                                        Ht: ${res.data.height}cm, Wt: ${res.data.weight} kg, BMI: ${res.data.bmi}, ${res.data.bloodGroup}`);
        $("#man5_id")
.html(`${res.data.spouse_firstName}, MRN: ${res.data.mr_no}<br>
                                        Age: ${res.data.spouse_age_year} Y, ${res.data.spouse_age_month} M, ${res.data.spouse_age_day} D, ${res.data.spouse_gender}, Ph: ${res.data.spouse_mobile_1}`);
})
    
    .catch((err) => {
        console.log(err);
    });
    
</script>
                      