<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>LifeLinker</title>

    <%- include('../header') %>
        <!-- //header-ends -->
        <!-- main content start -->
        <div class="main-content">

            <div class="row content-top-gap2">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light bg-white">
                        <a class="navbar-brand text-center mr-5" href="#">
                            <span class="dash-icon"><i class="fas fa-tachometer-alt"></i></span>
                            Dashboard
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item active text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="far fa-user"></i></span>
                                        Master
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-exchange-alt"></i></span>
                                        Transaction
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-hand-holding-medical"></i></span>
                                        Patient 360
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-receipt"></i></span>
                                        Outside Reciept
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-file-invoice"></i></span>
                                        Outpatient Department
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-chart-line"></i></span>
                                        Analytics
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="far fa-clock"></i></span>
                                        Waiting List
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-wrench"></i></span>
                                        Adminstration
                                    </a>
                                </li>
                                <li class="nav-item text-center">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-spinner"></i></span>
                                        Additional
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- content -->
            <div class="container-fluid">

                <div class="chart">
                    <form>
                        <div class="row">

                            <div class="col-lg-12 pl-lg-2 chart-grid mt-3">
                                <div class="card card_border">
                                    <div class="">
                                        <!--Past your code here starts-->

                                        <div class="card">
                                            <div class="col-xl-12 p-heading">
                                                <h6 class="p-text">SEARCH CRITERIA
                                                </h6>
                                            </div>
                                            <div class="card-body pt-2">

                                                <div class="form-row">

                                                    <div class="col-lg-3 col-md-4 col-sm-12">
                                                        <div class="form-group">
                                                            <label class="input__label">Sample Id</label>
                                                            <input name="description" type="text"
                                                                class="form-control input-style" placeholder="">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-sm-12">
                                                        <div class="form-group">
                                                            <label class="input__label">Status</label>
                                                            <select name="report_generated_by"
                                                                class="form-control input-style">
                                                                <option>Select</option>
                                                                <option>Collected</option>
                                                                <option>Washed</option>
                                                                <option>Split</option>
                                                                <option>Frozen</option>
                                                                <option>Thawed</option>
                                                                <option>Discarded</option>
                                                                       
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-sm-12">
                                                        <div class="form-group">
                                                            <label class="input__label">Tank</label>
                                                            <select name="report_generated_by"
                                                                class="form-control input-style">
                                                                <option>Select</option>
                                                                <option>J1</option>
                                                                       
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-sm-12">
                                                        <div class="form-group">
                                                            <label class="input__label">Canister</label>
                                                            <select name="report_generated_by"
                                                                class="form-control input-style">
                                                                <option>Select</option>
                                                                <option>1</option>
                                                                <option>2</option>
                                                                       
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-sm-12">
                                                        <div class="form-group">
                                                            <label class="input__label">Vial Holder</label>
                                                            <input name="description" type="text"
                                                                class="form-control input-style" placeholder="">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-sm-12">
                                                        <div class="form-group">
                                                            <label class="input__label">Vial Position</label>
                                                            <select name="report_generated_by"
                                                                class="form-control input-style">
                                                                <option>Select</option>
                                                                <option>1</option>
                                                                <option>2</option>
                                                                <option>3</option>
                                                                <option>4</option>
                                                                <option>5</option>

                                                                       
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-sm-12">
                                                        <div class="form-group">
                                                            <label class="input__label">Goblet</label>
                                                            <select name="report_generated_by"
                                                                class="form-control input-style">
                                                                <option>Select</option>
                                                                       
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-sm-12">
                                                        <div class="form-group">
                                                            <label class="input__label">Visogoblet</label>
                                                            <select name="report_generated_by"
                                                                class="form-control input-style">
                                                                <option>Select</option>
                                                                       
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-sm-12">
                                                        <div class="form-group">
                                                            <label class="input__label">Straw</label>
                                                            <select name="report_generated_by"
                                                                class="form-control input-style">
                                                                <option>Select</option>
                                                                       
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-sm-12">
                                                        <div class="form-group">
                                                            <label class="input__label">Couple No.</label>
                                                            <input name="description" type="text"
                                                                class="form-control input-style" placeholder="">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-sm-12">
                                                        <div class="form-group">
                                                            <label class="input__label">Patient MRN</label>
                                                            <input name="description" type="text"
                                                                class="form-control input-style" placeholder="">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-sm-12">
                                                        <div class="form-group">
                                                            <label class="input__label">Partner MRN</label>
                                                            <input name="description" type="text"
                                                                class="form-control input-style" placeholder="">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-sm-12">
                                                        <div class="form-group">
                                                            <label class="input__label">Agency</label>
                                                            <select name="report_generated_by"
                                                                class="form-control input-style">
                                                                <option>Select</option>
                                                                <option>IVF Supplier</option>
                                                                       
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-sm-12">
                                                        <div class="form-group">
                                                            <label class="input__label">Source</label>
                                                            <select name="report_generated_by"
                                                                class="form-control input-style">
                                                                <option>Select</option>
                                                                <option>Partner</option>
                                                                <option>Donor</option>
                                                                       
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-sm-12">
                                                        <div class="form-group">
                                                            <label class="input__label">Reserved For Couple</label>
                                                            <input name="description" type="text"
                                                                class="form-control input-style" placeholder="">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-sm-12">
                                                        <div class="form-group">
                                                            <label class="input__label">Batch No.</label>
                                                            <input name="description" type="text"
                                                                class="form-control input-style" placeholder="">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-sm-12">
                                                        <div class="form-group">
                                                            <label class="input__label">Storage Duration Type</label>
                                                            <select name="report_generated_by"
                                                                class="form-control input-style">
                                                                <option>Select</option>
                                                                <option>Short Term(6 Months)</option>
                                                                <option>Mid Term (1 Year)</option>
                                                                <option>Lomg Term (2 Years)</option>
                                                                       
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!--Past your code here ends-->



                                    </div>

                                </div>

                                <div class="card mt-3 ">


                                    <div class="card-body pt-3 pb-0">
                                        <div class="form-row">

                                            <div class="col-lg-6">
                                                <h4 class="primary">Machine Master Details</h4>
                                            </div>

                                            <div class="col-lg-6 text-right">
                                                <div class="form-group">
                                                    <button type="button"
                                                        class="btn-primary btn-style btn btn-change"><strong><i
                                                                class="fas fa-search"></i> Search</strong></button>
                                                    <button type="button"
                                                        class="btn-primary btn-style btn btn-change"><strong><i 
                                                            class="fa-solid fa-table-columns"></i> Select Columns</strong></button>
                                                   
                                                    <button type="button"
                                                        class="btn-primary btn-style btn btn-change"><strong><i
                                                             class="fa-solid fa-download"></i> Download</strong></button>
                                                    <button type="button"
                                                        class="btn-secondary btn-style btn btn-change"><strong><i 
                                                            class="fa-solid fa-folder"></i> New Folder</strong></button>
                                                    <button type="button"
                                                        class="btn-danger btn-style btn btn-change"><strong><i
                                                                class="fas fa-times"></i> Cancel</strong></button>
                                                </div>
                                            </div>
                                            

                                        </div>
                                    </div>

                                    <!-- main menu -->
                                    <div class="card-body pt-0">

                                        <div class="form-row">

                                            <div class="col-12  mt-1">
                                                <div class="form-group">
                                                    <div class="col col-12 pr-xl-0 pl-xl-0">
                                                        <div class="slidx">

                                                            
                                                            <div class="table-responsive">
                                                            <table class="table2">
                                                                <thead>
                                                                    <tr>
                                                                        <th contenteditable="true">Sample Id</th>
                                                                        <th contenteditable="true">Source MRN</th>
                                                                        <th contenteditable="true">Source</th>
                                                                        <th contenteditable="true">	Agency </th>
                                                                        <th contenteditable="true">Couple No</th>
                                                                        <th contenteditable="true">Reserved For</th>
                                                                        <th contenteditable="true">Status</th>
                                                                        <th contenteditable="true">Collected On</th>
                                                                        <th contenteditable="true">Storage Description</th>
                                                                        <th contenteditable="true" width="10%"></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody id="semenBody">
                                                                    <!-- <tr>
                                                                        <td contenteditable="true">SEM/0007/25</td>
                                                                        <td contenteditable="true">OHPL/R/24/1589</td>
                                                                        <td contenteditable="true">Partner</td>
                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true">IVF/00003/24</td>
                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true">Discarded</td>
                                                                        <td contenteditable="true">01/06/2024</td>
                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true"><i class="fa-solid fa-bars" 
                                                                            style="font-size: 20px; color:#11cdf0 ;"></i></strong>
                                                                    </tr>
                                                                    <tr>
                                                                        <td contenteditable="true">SEM/0007/25</td>
                                                                        <td contenteditable="true">OHPL/R/24/1589</td>
                                                                        <td contenteditable="true">Partner</td>
                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true">IVF/00003/24</td>
                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true">Washed</td>
                                                                        <td contenteditable="true">01/08/2024</td>
                                                                        <td contenteditable="true"></td>
                                                                        <td contenteditable="true"><i class="fa-solid fa-bars" 
                                                                            style="font-size: 20px; color:#11cdf0 ;"></i></strong></td>
                                                                        
                                                                    </tr> -->
                                                                    
                                                                </tbody>
                                                            </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                    <!-- discard section -->
                                    <div class="modal fade" role="dialog" id="discardInvModal">
                                        <div class="modal-dialog  modal-xl">
                                            <div class="modal-content">
                                    
                                                <!-- modal-header -->
                                                <div class="modal-header">
                                                    <a href="#" class="btn-close" data-bs-dismiss="modal"><i class="fa-solid fa-circle-xmark"></i></a>
                                                </div>
                                    
                                                <!-- modal-body -->
                                                <div class="chart modal-body">
                                                    <form id="">
                                                        <div class="row">
                                    
                                                            <div class="col-lg-12 pl-lg-2 chart-grid mt-3">
                                                                <div class="card card_border">
                                                                    <div class="">
                                                                        <!--Past your code here starts-->
                                    
                                    
                                                                        <div class="card">
                                                                            <div class="col-xl-12 p-heading">
                                                                                <h6 class="p-text">DISCARD SEMEN SAMPLE
                                    
                                                                                </h6>
                                                                            </div>
                                                                            <div class="card-body pt-2">
                                                                                <div class="pl-xl-0">
                                                                                    <h6 class="primary"></h6>
                                                                                </div>
                                                                                <div class="form-row">
                                                                                    <div class="col-3 ">
                                                                                        <div class="form-group"><label class="input__label">
                                                                                                <b>Sample Id :</b> SEM/0013/25</label>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-3 ">
                                                                                        <div class="form-group"><label class="input__label">
                                                                                                <b>Patient :</b> Nitesh , OHPL/R/24/1597</label>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-3 ">
                                                                                        <div class="form-group"><label class="input__label">
                                                                                                <b>Couple No :</b> IVF/00006/24</label>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-3 ">
                                                                                        <div class="form-group"><label class="input__label">
                                                                                                <b>Collected On :</b> 09/07/2024</label>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12 ">
                                                                                        <div class="form-group"><label class="input__label">
                                                                                                <b>Storage Location:</b>Tank: J1, Canister: 2, Colour:
                                                                                                BLUE, Vial Holder: 4, Vial Position: 2</label>
                                                                                        </div>
                                                                                    </div>
                                    
                                                                                    <div class="col-12 mt-2">
                                                                                        <div class="form-group">
                                                                                            <div class="pl-xl-0">
                                                                                                <h6 class="primary">SPERM CAPACITATION DETAILS
                                                                                                </h6>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                                                                        <div class="form-group">
                                                                                            <label class="input__label"></label>
                                    
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
                                                                                        <div class="form-group">
                                                                                            <label class="input__label">Fresh</label>
                                    
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                                                                        <div class="form-group">
                                                                                            <label class="input__label">Capacitated</label>
                                    
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-lg-4 col-md-4 col-sm-12 mb-3 ">
                                                                                        <div class="form-group">
                                                                                            <label class="input__label">Volume</label>
                                    
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                                                                        <div class="form-group">
                                    
                                                                                            <input name="description" type="text"
                                                                                                class="form-control input-style" placeholder="2">
                                    
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                                                                        <div class="form-group">
                                                                                            <input name="description" type="text"
                                                                                                class="form-control input-style" placeholder="1">
                                    
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-lg-4 col-md-4 col-sm-12 mb-2">
                                                                                        <div class="form-group">
                                                                                            <label class="input__label">Concentration (mill/ml)</label>
                                    
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                                                                        <div class="form-group">
                                    
                                                                                            <input name="description" type="text"
                                                                                                class="form-control input-style" placeholder="56">
                                    
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                                                                        <div class="form-group">
                                                                                            <input name="description" type="text"
                                                                                                class="form-control input-style" placeholder="38">
                                    
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
                                                                                        <div class="form-group">
                                                                                            <label class="input__label">Total</label>
                                    
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                                                                        <div class="form-group">
                                    
                                                                                            <input name="description" type="text"
                                                                                                class="form-control input-style" placeholder="112">
                                    
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                                                                        <div class="form-group">
                                                                                            <input name="description" type="text"
                                                                                                class="form-control input-style" placeholder="38">
                                    
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
                                                                                        <div class="form-group">
                                                                                            <label class="input__label">Progressive (%)</label>
                                    
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                                                                        <div class="form-group">
                                    
                                                                                            <input name="description" type="text"
                                                                                                class="form-control input-style" placeholder="54">
                                    
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                                                                        <div class="form-group">
                                                                                            <input name="description" type="text"
                                                                                                class="form-control input-style" placeholder="83">
                                    
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
                                                                                        <div class="form-group">
                                                                                            <label class="input__label">Non-Progressive (%)</label>
                                    
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                                                                        <div class="form-group">
                                    
                                                                                            <input name="description" type="text"
                                                                                                class="form-control input-style" placeholder="20">
                                    
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                                                                        <div class="form-group">
                                                                                            <input name="description" type="text"
                                                                                                class="form-control input-style" placeholder="3">
                                    
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
                                                                                        <div class="form-group">
                                                                                            <label class="input__label">Immobile (%)</label>
                                    
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                                                                        <div class="form-group">
                                    
                                                                                            <input name="description" type="text"
                                                                                                class="form-control input-style" placeholder="20">
                                    
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                                                                        <div class="form-group">
                                                                                            <input name="description" type="text"
                                                                                                class="form-control input-style" placeholder="12">
                                    
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
                                                                                        <div class="form-group">
                                                                                            <label class="input__label">Total motile prog.</label>
                                    
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                                                                        <div class="form-group">
                                    
                                                                                            <input name="description" type="text"
                                                                                                class="form-control input-style" placeholder="67.2">
                                    
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                                                                        <div class="form-group">
                                                                                            <input name="description" type="text"
                                                                                                class="form-control input-style" placeholder="32.3">
                                    
                                                                                        </div>
                                                                                    </div>
                                    
                                    
                                    
                                    
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                    
                                                                        <!--Past your code here ends-->
                                                                    </div>
                                                                </div>
                                                                <div class="form-group mt-1 mb-3 text-right">
                                    
                                    
                                    
                                                                    <button type="button" class="btn-primary btn-style btn mt-3 mr-2"><strong><i
                                                                                                                    class="fa-solid fa-save"></i>
                                                                                                                Save</strong></button>
                                                                    <button type="button" data-bs-dismiss="modal" class="btn-danger btn-style btn mt-3 mr-0"><strong><i
                                                                                class="fas fa-times"></i> Cancel</strong></button>
                                    
                                    
                                                                    <!-- <button type="button" class="btn-secondary btn-style btn mt-3 mr-2"><strong><i
                                                                                                                    class="fa-regular fa-pen-to-square"></i> Edit Entry</strong></button>
                                                                    
                                                                                                        <button type="button" class="btn-primary btn-style btn mt-3"><strong><i
                                                                                                                    class="far fa-save"></i>
                                                                                                                Save and Generate Interpretation</strong></button> -->
                                    
                                    
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- transfer section -->
                                    <div class="modal fade" role="dialog" id="transferSemenModal">
                                        <div class="modal-dialog  modal-xl">
                                            <div class="modal-content">
                                    
                                                <!-- modal-header -->
                                                <div class="modal-header">
                                                    <a href="#" class="btn-close" data-bs-dismiss="modal"><i class="fa-solid fa-circle-xmark"></i></a>
                                                </div>
                                    
                                                <!-- body -->
                                                <div class="chart modal-body">
                                                    <form>
                                                        <div class="row">
                                    
                                                            <div class="col-lg-12 pl-lg-2 chart-grid mt-3">
                                                                <div class="card card_border">
                                                                    <div class="">
                                                                        <!--Past your code here starts-->
                                    
                                    
                                                                        <div class="card">
                                                                            <div class="col-xl-12 p-heading">
                                                                                <h6 class="p-text">TRANSFER SEMEN SAMPLE
                                                                                </h6>
                                                                            </div>
                                                                            <div class="card-body pt-2">
                                                                                <div class="pl-xl-0">
                                                                                    <h6 class="primary"></h6>
                                                                                </div>
                                                                                <div class="form-row">
                                                                                    <div class="col-6 ">
                                                                                        <div class="form-group"><label class="input__label"><b>Semen Sample
                                                                                                    Id :</b> SEM/0017/25</label>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-6 ">
                                                                                        <div class="form-group"><label class="input__label"><b>Patient :</b>
                                                                                                Akash Pandey, IVF/00003/24</label>
                                                                                        </div>
                                                                                    </div>
                                    
                                    
                                                                                    <div class="col-12 mt-2">
                                                                                        <div class="form-group">
                                                                                            <div class="pl-xl-0">
                                                                                                <h6 class="primary">TANK NO.</h6>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                                                                        <div class="form-group">
                                                                                            <label class="input__label">From</label>
                                                                                            <input name="description" type="text"
                                                                                                class="form-control input-style" placeholder="">
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                                                                        <div class="form-group">
                                                                                            <label class="input__label">To</label>
                                                                                            <select name="report_generated_by"
                                                                                                class="form-control input-style">
                                                                                                <option>Select</option>
                                                                                                <option>J1</option>
                                                                                                       
                                                                                            </select>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12 mt-3">
                                                                                        <div class="form-group">
                                                                                            <div class="pl-xl-0">
                                                                                                <h6 class="primary">CANISTER NO.</h6>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                                                                        <div class="form-group">
                                                                                            <label class="input__label">From</label>
                                                                                            <input name="description" type="text"
                                                                                                class="form-control input-style" placeholder="">
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                                                                        <div class="form-group">
                                                                                            <label class="input__label">To</label>
                                                                                            <select name="report_generated_by"
                                                                                                class="form-control input-style">
                                                                                                <option>Select</option>
                                                                                                <option>1</option>
                                                                                                <option>2</option>
                                                                                                       
                                                                                            </select>
                                                                                        </div>
                                                                                    </div>
                                    
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                    
                                                                        <!--Past your code here ends-->
                                                                    </div>
                                                                </div>
                                                                <div class="form-group mt-1 mb-3 text-right">
                                    
                                    
                                    
                                                                    <button type="button" class="btn-primary btn-style btn mt-3 mr-2"><strong><i
                                                                                class="fa-solid fa-arrow-right-arrow-left"></i> Transfer</strong></button>
                                                                    <button type="button" data-bs-dismiss="modal"
                                                                        class="btn-danger btn-style btn mt-3 mr-2"><strong><i class="fas fa-times"></i>
                                                                            Cancel</strong></button>
                                    
                                    
                                                                    <!-- <button type="button" class="btn-secondary btn-style btn mt-3 mr-2"><strong><i
                                                                                                                                                                                                        class="fa-regular fa-pen-to-square"></i> Edit Entry</strong></button>
                                                                                                                                                        
                                                                                                                                                                                            <button type="button" class="btn-primary btn-style btn mt-3"><strong><i
                                                                                                                                                                                                        class="far fa-save"></i>
                                                                                                                                                                                                    Save and Generate Interpretation</strong></button> -->
                                    
                                    
                                                                </div>
                                                    </form>
                                                </div>
                                    
                                            </div>
                                        </div>
                                    </div>
                                    
                                                                        

                                </div>



                                <!-- <div class="form-group mt-1 mb-3 text-right">



                                    <button type="button" class="btn-danger btn-style btn mt-3 mr-2"><strong><i
                                                class="fas fa-times"></i> Cancel</strong></button>


                                    <button type="button" class="btn-secondary btn-style btn mt-3 mr-2"><strong><i
                                                class="fa-regular fa-pen-to-square"></i> Edit Entry</strong></button>

                                    <button type="button" class="btn-primary btn-style btn mt-3"><strong><i
                                                class="far fa-save"></i>
                                            Save and Generate Interpretation</strong></button>


                                </div> -->
                    </form>
                </div>
                <!--footer section start-->
                <%- include('../footer.ejs') %>

                <script>
                    function transferInv(){
                        $('#transferSemenModal').modal('show');
                    }
                    function discardInv(){
                        $('#discardInvModal').modal('show');
                    }

                    function fetchData() {
                        axios.get('/embrology/getSemenInvData')
                            .then(res => {
                                console.log(res.data);

                                let rows = ''; // Initialize an empty string to accumulate rows
                                res.data.forEach(element => {
                                    if(element.status == 'frozen'){
                                        rows += `
                                    <tr>
                                        <td contenteditable="true">${element.id}</td>
                                        <td contenteditable="true">OHPL/R/24/1589</td>
                                        <td contenteditable="true">Partner</td>
                                        <td contenteditable="true"></td>
                                        <td contenteditable="true">IVF/00003/24</td>
                                        <td contenteditable="true"></td>
                                        <td contenteditable="true">${element.status}</td>
                                        <td contenteditable="true">${element.date_of_collect.split('T')[0]}</td>
                                        <td contenteditable="true">${element.Storage}</td>
                                        <td contenteditable="true">
                                            <div class="dropdown">
                                                <a href="#" id="dropdownMenuButton" class="dropdown-toggle"  data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-bars" 
                                                                            style="font-size: 20px; color:#11cdf0 ;"></i></strong></a>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <li><a class="dropdown-item" href="#" onclick="transferInv()">TRANSFER SAMPLE</a></li>
                                                    <li><a class="dropdown-item" href="#" onclick="discardInv()">DISCARD SAMPLE</a></li>
                                                </ul>
                                            </div> 
                                        </td> 
                                    </tr>
                                `;
                                    }
                                });

                                // Update the table body once with all rows
                                $('#semenBody').html(rows);
                            })
                            .catch(error => {
                                console.error('Error fetching data:', error);
                            });
                    }
                    fetchData()
                </script>