<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>LifeLinkr</title>

    <%- include('../header') %>
        <!-- //header-ends -->
        <!-- main content start -->
        <div class="main-content">

            <div class="row content-top-gap2">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light bg-white">
                        <a class="navbar-brand text-center mr-5" href="#">
                            <span class="dash-icon"><i class="fas fa-tachometer-alt"></i></span>
                            Dashboard
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item active text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="far fa-user"></i></span>
                                        Master
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-exchange-alt"></i></span>
                                        Transaction
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-hand-holding-medical"></i></span>
                                        Patient 360
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-receipt"></i></span>
                                        Outside Reciept
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-file-invoice"></i></span>
                                        Outpatient Department
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-chart-line"></i></span>
                                        Analytics
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="far fa-clock"></i></span>
                                        Waiting List
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-wrench"></i></span>
                                        Adminstration
                                    </a>
                                </li>
                                <li class="nav-item text-center">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-spinner"></i></span>
                                        Additional
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- content -->
            <div class="container-fluid">

                <div class="chart">
                    <div class="row">

                        <div class="col-lg-12 pl-lg-0 mt-2 ml-2">
                            <h4 class="primary"></h4>
                        </div>
                        <div class="col-lg-12 pl-lg-2 chart-grid">
                            <div id="errordiv1"></div>
                            <form id="advanceSperm" method="post">
                                <div class="card card_border mb-4">
                                    <div class="">
                                        <!--Past your code here starts-->

                                        <div class="card">

                                            <div class="col-xl-12 p-heading">
                                                <h6 class="p-text">CREATE SPERM ADVANCE RESULT</h6>
                                            </div>

                                            <div class="card-body pt-3 pb-2">



                                                <div class="form-row">
                                                    <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                        <div class="form-group">
                                                            <label class="input__label" for="referenceDate">Reference Date</label>
                                                            <input name="referenceDate" id="referenceDate" type="text"
                                                                class="form-control text-right input-style" placeholder=""
                                                                data-validation="required" data-error-message="Reference Date is required">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                        <div class="form-group">
                                                            <label class="input__label" for="referenceNo">Reference No.</label>
                                                            <input name="referenceNo" id="referenceNo" type="text"
                                                                class="form-control text-right input-style" placeholder=""
                                                                data-validation="required" data-error-message="Reference No. is required">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                        <div class="form-group">
                                                            <label class="input__label" for="clinic">Clinic</label>
                                                            <select name="clinic" id="clinic" class="form-control input-style"
                                                                data-validation="required" data-error-message="Clinic is required">
                                                                <option value="cdd">fdfd</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                        <div class="form-group">
                                                            <label class="input__label" for="uhid">UHID</label>
                                                            <input name="uhid" id="uhid" type="text"
                                                                class="form-control text-right input-style" placeholder=""
                                                                data-validation="required" data-error-message="UHID is required">
                                                        </div>
                                                    </div>
                                                
                                                    <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                        <div class="form-group">
                                                            <label class="input__label" for="patientAccount">Patient Account</label>
                                                            <input name="patientAccount" id="patientAccount" type="text"
                                                                class="form-control text-right input-style" placeholder=""
                                                                data-validation="required" data-error-message="Patient Account is required">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                        <div class="form-group">
                                                            <label class="input__label" for="patientRegistration">Patient Registration</label>
                                                            <input name="patientRegistration" id="patientRegistration" type="text"
                                                                class="form-control text-right input-style" placeholder=""
                                                                data-validation="required" data-error-message="Patient Registration is required">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                        <div class="form-group">
                                                            <label class="input__label" for="investigationRequestNo">Investigation Request No.</label>
                                                            <input name="investigationRequestNo" id="investigationRequestNo" type="text"
                                                                class="form-control text-right input-style" placeholder=""
                                                                data-validation="required" data-error-message="Investigation Request No. is required">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                        <div class="form-group">
                                                            <label class="input__label" for="investigationType">Investigation Type</label>
                                                            <input name="investigationType" id="investigationType" type="text"
                                                                class="form-control text-right input-style" placeholder=""
                                                                data-validation="required" data-error-message="Investigation Type is required">
                                                        </div>
                                                    </div>
                                                
                                                    <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                        <label class="input__label">Sample Receiving Date & Time</label>
                                                        <div class="form-row">
                                                            <div class="col-6">
                                                                <div class="form-group">
                                                                    <input name="sampleReceivingDate" id="sampleReceivingDate" type="date"
                                                                        class="form-control input-style" placeholder=""
                                                                        data-validation="required" data-error-message="Sample Receiving Date is required">
                                                                </div>
                                                            </div>
                                                            <div class="col-6">
                                                                <div class="form-group">
                                                                    <input name="sampleReceivingTime" id="sampleReceivingTime" type="time"
                                                                        class="form-control input-style" placeholder=""
                                                                        data-validation="required" data-error-message="Sample Receiving Time is required">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                        <label class="input__label">Sample Taken Date & Time</label>
                                                        <div class="form-row">
                                                            <div class="col-6">
                                                                <div class="form-group">
                                                                    <input name="sampleTakenDate" id="sampleTakenDate" type="date"
                                                                        class="form-control input-style" placeholder=""
                                                                        data-validation="required" data-error-message="Sample Taken Date is required">
                                                                </div>
                                                            </div>
                                                            <div class="col-6">
                                                                <div class="form-group">
                                                                    <input name="sampleTakenTime" id="sampleTakenTime" type="time"
                                                                        class="form-control input-style" placeholder=""
                                                                        data-validation="required" data-error-message="Sample Taken Time is required">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                        <div class="form-group">
                                                            <label class="input__label" for="spermCollectionType">Sperm Collection Type</label>
                                                            <select name="spermCollectionType" id="spermCollectionType" class="form-control input-style"
                                                                data-validation="required" data-error-message="Sperm Collection Type is required">
                                                                <option value="dfd">dffd</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                        <div class="form-group">
                                                            <label class="input__label" for="collectionAt">Collection At</label>
                                                            <select name="collectionAt" id="collectionAt" class="form-control input-style"
                                                                data-validation="required" data-error-message="Collection At is required">
                                                                <option value="dfdf">dfdf</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                
                                                    <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                        <div class="form-group">
                                                            <label class="input__label" for="preparedBy">Prepared By</label>
                                                            <select name="preparedBy" id="preparedBy" class="form-control input-style"
                                                                data-validation="required" data-error-message="Prepared By is required">
                                                                <option value="df">dfdf</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                        <div class="form-group">
                                                            <label class="input__label" for="checkedBy">Checked By</label>
                                                            <select name="checkedBy" id="checkedBy" class="form-control input-style"
                                                                data-validation="required" data-error-message="Checked By is required">
                                                                <option value="df">df</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                        <div class="form-group">
                                                            <label class="input__label" for="remark">Remark</label>
                                                            <input name="remark" id="remark" type="text"
                                                                class="form-control text-right input-style" placeholder=""
                                                                data-validation="required" data-error-message="Remark is required">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                        <div class="form-group">
                                                            <label class="input__label" for="anySpillageReported">Any Spillage Reported</label>
                                                            <select name="anySpillageReported" id="anySpillageReported" class="form-control input-style"
                                                                data-validation="required" data-error-message="This field is required">
                                                                <option value="df">df</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                

                                                <div class="col-lg-12 mt-3 pl-0 pr-0">
                                                    <h4 class="primary">General Information</h4>
                                                </div>



                                                <div class="form-row">
                                                    <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                        <div class="form-group">
                                                            <label class="input__label" for="volume">Volume (ML)</label>
                                                            <input name="volume" id="volume" type="text"
                                                                class="form-control text-right input-style" placeholder=""
                                                                data-validation="required" data-error-message="Volume is required">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                        <div class="form-group">
                                                            <label class="input__label" for="visualAppearance">Visual Appearance</label>
                                                            <select name="visualAppearance" id="visualAppearance" class="form-control input-style"
                                                                data-validation="required" data-error-message="Visual Appearance is required">
                                                                <option value="df">fd</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                        <div class="form-group">
                                                            <label class="input__label" for="examinationInitiatedTime">Examination Initiated Time</label>
                                                            <input name="examinationInitiatedTime" id="examinationInitiatedTime" type="text"
                                                                class="form-control text-right input-style" placeholder=""
                                                                data-validation="required" data-error-message="Examination Initiated Time is required">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                        <div class="form-group">
                                                            <label class="input__label" for="examinationEndTime">Examination End Time</label>
                                                            <input name="examinationEndTime" id="examinationEndTime" type="text"
                                                                class="form-control text-right input-style" placeholder=""
                                                                data-validation="required" data-error-message="Examination End Time is required">
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                        <div class="form-group">
                                                            <label class="input__label" for="duration">Duration (Min.)</label>
                                                            <input name="duration" id="duration" type="text"
                                                                class="form-control text-right input-style" placeholder=""
                                                                data-validation="required" data-error-message="Duration is required">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                        <div class="form-group">
                                                            <label class="input__label" for="liquefaction">Liquefaction</label>
                                                            <input name="liquefaction" id="liquefaction" type="text"
                                                                class="form-control text-right input-style" placeholder=""
                                                                data-validation="required" data-error-message="Liquefaction is required">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                        <div class="form-group">
                                                            <label class="input__label" for="liquefactionTime">Liquefaction Time</label>
                                                            <select name="liquefactionTime" id="liquefactionTime" class="form-control input-style"
                                                                data-validation="required" data-error-message="Liquefaction Time is required">
                                                                <option value="df">df</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                        <div class="form-group">
                                                            <label class="input__label" for="ph">Ph</label>
                                                            <select name="ph" id="ph" class="form-control input-style"
                                                                data-validation="required" data-error-message="Ph is required">
                                                                <option value="df">dfd</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                
                                                    <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                        <div class="form-group">
                                                            <label class="input__label" for="viscosity">Viscosity</label>
                                                            <select name="viscosity" id="viscosity" class="form-control input-style"
                                                                data-validation="required" data-error-message="Viscosity is required">
                                                                <option value="df">df</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                        <div class="form-group">
                                                            <label class="input__label" for="abstinencePeriod">Abstinence Period (Days)</label>
                                                            <select name="abstinencePeriod" id="abstinencePeriod" class="form-control input-style"
                                                                data-validation="required" data-error-message="Abstinence Period is required">
                                                                <option value="df">fd</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                        <div class="form-group">
                                                            <label class="input__label" for="spermConcentration">Sperm Concentration (Million/ML)</label>
                                                            <input name="spermConcentration" id="spermConcentration" type="text"
                                                                class="form-control text-right input-style" placeholder=""
                                                                data-validation="required" data-error-message="Sperm Concentration is required">
                                                        </div>
                                                    </div>
                                                
                                                    <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                        <div class="form-group">
                                                            <label class="input__label" for="totalSpermNumber">Total Sperm Number</label>
                                                            <input name="totalSpermNumber" id="totalSpermNumber" type="text"
                                                                class="form-control text-right input-style" placeholder=""
                                                                data-validation="required" data-error-message="Total Sperm Number is required">
                                                        </div>
                                                    </div>
                                                </div>
                                                



                                                <div class="col-lg-12 mt-3 pl-0 pr-0">
                                                    <h4 class="primary">Modality</h4>
                                                </div>



                                                <div class="form-row">
                                                    <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                        <div class="form-group">
                                                            <label class="input__label" for="rapidProgressive">Rapid Progressive</label>
                                                            <input name="rapidProgressive" id="rapidProgressive" type="text"
                                                                class="form-control text-right input-style" placeholder=""
                                                                data-validation="required" data-error-message="Rapid Progressive is required">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                        <div class="form-group">
                                                            <label class="input__label" for="slowProgressive">Slow Progressive</label>
                                                            <input name="slowProgressive" id="slowProgressive" type="text"
                                                                class="form-control text-right input-style" placeholder=""
                                                                data-validation="required" data-error-message="Slow Progressive is required">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                        <div class="form-group">
                                                            <label class="input__label" for="prProgressive">PR Progressive</label>
                                                            <input name="prProgressive" id="prProgressive" type="text"
                                                                class="form-control text-right input-style" placeholder=""
                                                                data-validation="required" data-error-message="PR Progressive is required">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                        <div class="form-group">
                                                            <label class="input__label" for="nonProgressive">Non Progressive</label>
                                                            <input name="nonProgressive" id="nonProgressive" type="text"
                                                                class="form-control text-right input-style" placeholder=""
                                                                data-validation="required" data-error-message="Non Progressive is required">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                        <div class="form-group">
                                                            <label class="input__label" for="totalMotile">Total Motile</label>
                                                            <input name="totalMotile" id="totalMotile" type="text"
                                                                class="form-control text-right input-style" placeholder=""
                                                                data-validation="required" data-error-message="Total Motile is required">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                        <div class="form-group">
                                                            <label class="input__label" for="immotile">Immotile</label>
                                                            <input name="immotile" id="immotile" type="text"
                                                                class="form-control text-right input-style" placeholder=""
                                                                data-validation="required" data-error-message="Immotile is required">
                                                        </div>
                                                    </div>
                                                </div>
                                                



                                                <div class="col-lg-12 mt-3 pl-0 pr-0">
                                                    <h4 class="primary">Additional Information</h4>
                                                </div>



                                                <div class="form-row">
                                                    <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                        <div class="form-group">
                                                            <label class="input__label" for="debrisName">Debris Name</label>
                                                            <select name="debrisName" id="debrisName" class="form-control input-style"
                                                                data-validation="required" data-error-message="Debris Name is required">
                                                                <option value="df">df</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                
                                                    <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                        <div class="form-group">
                                                            <label class="input__label" for="roundCells">Round Cells</label>
                                                            <select name="roundCells" id="roundCells" class="form-control input-style"
                                                                data-validation="required" data-error-message="Round Cells is required">
                                                                <option value="df">df</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                        <div class="form-group">
                                                            <label class="input__label" for="agglutinationName">Agglutination Name</label>
                                                            <select name="agglutinationName" id="agglutinationName" class="form-control input-style"
                                                                data-validation="required" data-error-message="Agglutination Name is required">
                                                                <option value="df">df</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                        <div class="form-group">
                                                            <label class="input__label" for="aggregationName">Aggregation Name</label>
                                                            <select name="aggregationName" id="aggregationName" class="form-control input-style"
                                                                data-validation="required" data-error-message="Aggregation Name is required">
                                                                <option value="df">df</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                
                                                    <div class="col-lg-3 col-md-4 col-sm-12 pl-0 mb-2 text-left">
                                                        <div class="form-check-label">
                                                            <div class="radio mt-4">
                                                                <label class="form-check-label pt-1 pr-4" for="enterViability">
                                                                    <input id="enterViability" name="enterViability" class="form-check-input mt-1"  type="checkbox">
                                                                    Enter Viability
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                
                                                    <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                        <div class="form-group">
                                                            <label class="input__label" for="spermViability">Sperm Viability</label>
                                                            <input name="spermViability" id="spermViability" type="text"
                                                                class="form-control text-right input-style" placeholder=""
                                                                data-validation="required" data-error-message="Sperm Viability is required">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                        <div class="form-group">
                                                            <label class="input__label" for="fructoseName">Fructose Name</label>
                                                            <select name="fructoseName" id="fructoseName" class="form-control input-style"
                                                                data-validation="required" data-error-message="Fructose Name is required">
                                                                <option value="df">df</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                        <div class="form-group">
                                                            <label class="input__label" for="peroxidasePositiveCollisConcentration">Peroxidase-Positive Collis Concentration (10^6 Per ML) - Pus Cells</label>
                                                            <input name="peroxidasePositiveCollisConcentration" id="peroxidasePositiveCollisConcentration" type="text"
                                                                class="form-control text-right input-style" placeholder=""
                                                                data-validation="required" data-error-message="Peroxidase-Positive Collis Concentration is required">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                        <div class="form-group">
                                                            <label class="input__label" for="systemImpression">System Impression</label>
                                                            <input name="systemImpression" id="systemImpression" type="text"
                                                                class="form-control text-right input-style" placeholder=""
                                                                data-validation="required" data-error-message="System Impression is required">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                        <div class="form-group">
                                                            <label class="input__label" for="impression">Impression</label>
                                                            <input name="impression" id="impression" type="text"
                                                                class="form-control text-right input-style" placeholder=""
                                                                data-validation="required" data-error-message="Impression is required">
                                                        </div>
                                                    </div>
                                                
                                                    <div class="col-lg-12 col-md-12 col-sm-12 mb-2 text-right">
                                                        <div class="form-group">
                                                            <button type="button" class="btn-success btn-style btn btn-change">
                                                                <strong><i class="fas fa-calculator"></i> Calculate Impression</strong>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                

                                            </div>
                                        </div>

                                        <!--Past your code here ends-->


                                    </div>
                                </div>










                                
                                <div class="form-group mt-1 mb-3 text-right">

                                    <!-- <button type="button" class="btn-success btn-style btn mt-3 mr-2"><strong><i
                                                class="fa-regular fa-pen-to-square"></i> Modify</strong></button> -->

                                    

                                    <button type="button" class="btn-danger btn-style btn mr-2"><strong><i
                                                class="fas fa-times"></i>
                                            Cancel</strong></button>

                                    <button type="submit" class="btn-primary btn-style btn"><strong><i
                                                class="far fa-save"></i>
                                            Save</strong></button>

                                </div>
                            </form>
                            <div id="loadingIndicator"></div>
                        </div>
                        <!--footer section start-->
                        <%- include('../footer') %>
                        <script src="../javascripts/validation2.js"></script>
                        <script>
                            $(document).ready(function() {
                                $('#advanceSperm').on('submit', function(event) {
                                    event.preventDefault();
                        
                                    // Validate the form (you can keep your existing validateForm function)
                                    const { isValid, errorMessage } = validateForm('#advanceSperm');
                                    const errorDivId = '#errordiv1';
                        
                                    if (!isValid) {
                                        alert(errorMessage);
                                        $(errorDivId).removeClass('alert-success').addClass('alert-danger').text(errorMessage).show();
                                        return;
                                    }
                        
                                    // Create an object from the serialized form data
                                    const formDataArray = $(this).serializeArray();
                                    const formDataObj = {};
                        
                                    formDataArray.forEach(function(item) {
                                        formDataObj[item.name] = item.value;
                                    });
                        
                                    // Handle checkboxes: set their value to true or false
                                    $('input[type="checkbox"]').each(function() {
                                        formDataObj[this.name] = this.checked;
                                    });
                        
                                    // Ensure dates are formatted correctly and valid
                                    formDataObj.sampleReceivingDate = formDataObj.sampleReceivingDate || null;
                                    formDataObj.sampleReceivingTime = formDataObj.sampleReceivingTime || null;
                                    formDataObj.sampleTakenDate = formDataObj.sampleTakenDate || null;
                                    formDataObj.sampleTakenTime = formDataObj.sampleTakenTime || null;
                        
                                    console.log("Form data object:", formDataObj);
                        
                                    const url = '/embrology/saveSpermAdvanceResult';
                        
                                    axios.post(url, formDataObj)
                                        .then(response => {
                                            console.log('Report saved successfully:', response.data);
                                            alert("Form Submitted Successfully");
                                            $(errorDivId).removeClass('alert-danger').addClass('alert-success').text('Report saved successfully!').show();
                                        })
                                        .catch(error => {
                                            alert("Error in Saving Form");
                                            console.error('Error saving report:', error);
                                            $(errorDivId).removeClass('alert-success').addClass('alert-danger').text('Error saving report!').show();
                                        });
                                });
                            });
                        </script>
                        
                        
                        