<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>LifeLinker</title>

    <!-- Template CSS -->
    <%- include('../header') %>        <!-- //header-ends -->
        <!-- main content start -->
        <div class="main-content">

            <div class="row content-top-gap2">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light bg-white">
                        <a class="navbar-brand text-center mr-5" href="#">
                            <span class="dash-icon"><i class="fas fa-tachometer-alt"></i></span>
                            Dashboard
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item active text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="far fa-user"></i></span>
                                        Master
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-exchange-alt"></i></span>
                                        Transaction
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-hand-holding-medical"></i></span>
                                        Patient 360
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-receipt"></i></span>
                                        Outside Reciept
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-file-invoice"></i></span>
                                        Outpatient Department
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-chart-line"></i></span>
                                        Analytics
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="far fa-clock"></i></span>
                                        Waiting List
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-wrench"></i></span>
                                        Adminstration
                                    </a>
                                </li>
                                <li class="nav-item text-center">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-spinner"></i></span>
                                        Additional
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- content -->
            <div class="container-fluid">

                <div class="chart">
                    <form>
                        <div class="row">

                            <div class="col-lg-12 pl-lg-2 chart-grid mt-3">
                                <div class="card card_border">
                                    <div class="">
                                        <!--Past your code here starts-->


                                        <div class="card">
                                            <div class="col-xl-12 p-heading">
                                                <h6 class="p-text">DISCARD SEMEN SAMPLE

                                                </h6>
                                            </div>
                                            <div class="card-body pt-2">
                                                <div class="pl-xl-0">
                                                    <h6 class="primary"></h6>
                                                </div>
                                                <div class="form-row">
                                                    <div class="col-3 ">
                                                        <div class="form-group"><label class="input__label">
                                                                <b>Sample Id :</b> SEM/0013/25</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-3 ">
                                                        <div class="form-group"><label class="input__label">
                                                                <b>Patient :</b> Nitesh , OHPL/R/24/1597</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-3 ">
                                                        <div class="form-group"><label class="input__label">
                                                                <b>Couple No :</b> IVF/00006/24</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-3 ">
                                                        <div class="form-group"><label class="input__label">
                                                                <b>Collected On :</b> 09/07/2024</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 ">
                                                        <div class="form-group"><label class="input__label">
                                                                <b>Storage Location:</b>Tank: J1, Canister: 2, Colour:
                                                                BLUE, Vial Holder: 4, Vial Position: 2</label>
                                                        </div>
                                                    </div>

                                                    <div class="col-12 mt-2">
                                                        <div class="form-group">
                                                            <div class="pl-xl-0">
                                                                <h6 class="primary">SPERM CAPACITATION DETAILS
                                                                </h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                                        <div class="form-group">
                                                            <label class="input__label"></label>
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
                                                        <div class="form-group">
                                                            <label class="input__label">Fresh</label>
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                                        <div class="form-group">
                                                            <label class="input__label">Capacitated</label>
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-12 mb-3 ">
                                                        <div class="form-group">
                                                            <label class="input__label">Volume</label>
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                                        <div class="form-group">
                                                            
                                                            <input name="description" type="text" 
                                                            class="form-control input-style" placeholder="2">
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                                        <div class="form-group">
                                                            <input name="description" type="text" 
                                                            class="form-control input-style" placeholder="1">
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-12 mb-2">
                                                        <div class="form-group">
                                                            <label class="input__label">Concentration (mill/ml)</label>
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                                        <div class="form-group">
                                                            
                                                            <input name="description" type="text" 
                                                            class="form-control input-style" placeholder="56">
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                                        <div class="form-group">
                                                            <input name="description" type="text" 
                                                            class="form-control input-style" placeholder="38">
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
                                                        <div class="form-group">
                                                            <label class="input__label">Total</label>
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                                        <div class="form-group">
                                                            
                                                            <input name="description" type="text" 
                                                            class="form-control input-style" placeholder="112">
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                                        <div class="form-group">
                                                            <input name="description" type="text" 
                                                            class="form-control input-style" placeholder="38">
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
                                                        <div class="form-group">
                                                            <label class="input__label">Progressive (%)</label>
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                                        <div class="form-group">
                                                            
                                                            <input name="description" type="text" 
                                                            class="form-control input-style" placeholder="54">
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                                        <div class="form-group">
                                                            <input name="description" type="text" 
                                                            class="form-control input-style" placeholder="83">
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
                                                        <div class="form-group">
                                                            <label class="input__label">Non-Progressive (%)</label>
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                                        <div class="form-group">
                                                            
                                                            <input name="description" type="text" 
                                                            class="form-control input-style" placeholder="20">
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                                        <div class="form-group">
                                                            <input name="description" type="text" 
                                                            class="form-control input-style" placeholder="3">
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
                                                        <div class="form-group">
                                                            <label class="input__label">Immobile (%)</label>
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                                        <div class="form-group">
                                                            
                                                            <input name="description" type="text" 
                                                            class="form-control input-style" placeholder="20">
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                                        <div class="form-group">
                                                            <input name="description" type="text" 
                                                            class="form-control input-style" placeholder="12">
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-12 mb-3">
                                                        <div class="form-group">
                                                            <label class="input__label">Total motile prog.</label>
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                                        <div class="form-group">
                                                            
                                                            <input name="description" type="text" 
                                                            class="form-control input-style" placeholder="67.2">
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                                        <div class="form-group">
                                                            <input name="description" type="text" 
                                                            class="form-control input-style" placeholder="32.3">
                                                            
                                                        </div>
                                                    </div>
                                                    
                                                   


                                                </div>
                                            </div>
                                        </div>

                                        <!--Past your code here ends-->
                                    </div>
                                </div>
                                <div class="form-group mt-1 mb-3 text-right">



                                    <!-- <button type="button" class="btn-primary btn-style btn mt-3 mr-2"><strong><i
                                                class="fa-solid fa-save"></i>
                                            Save</strong></button> -->
                                    <button type="button" class="btn-danger btn-style btn mt-3 mr-0"><strong><i
                                                class="fas fa-times"></i> Cancel</strong></button>


                                    <!-- <button type="button" class="btn-secondary btn-style btn mt-3 mr-2"><strong><i
                                                class="fa-regular fa-pen-to-square"></i> Edit Entry</strong></button>

                                    <button type="button" class="btn-primary btn-style btn mt-3"><strong><i
                                                class="far fa-save"></i>
                                            Save and Generate Interpretation</strong></button> -->


                                </div>
                    </form>
                </div>
                <!--footer section start-->
                <%- include('../footer') %>