<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="geeta.css" />
    <link rel="stylesheet" href="assets/css/style-starter.css?v=0.2" />
    <link rel="stylesheet" href="style.css" />

    <!-- google fonts -->
    <link
      href="//fonts.googleapis.com/css?family=Montserrat:300,400,600,700,800,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      rel="stylesheet"
    />

    <title>LifeLinker</title>
<%-include('../header.ejs')-%>
        <!-- main content start -->
        <div class="main-content">

            <div class="row content-top-gap2">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light bg-white">
                        <a class="navbar-brand text-center mr-5" href="#">
                            <span class="dash-icon"><i class="fas fa-tachometer-alt"></i></span>
                            Dashboard
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">

                                <li class="nav-item active text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="far fa-user"></i></span>
                                        Master
                                    </a>
                                </li>

                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-exchange-alt"></i></span>
                                        Transaction
                                    </a>
                                </li>

                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-hand-holding-medical"></i></span>
                                        Patient 360
                                    </a>
                                </li>

                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-receipt"></i></span>
                                        Outside Reciept
                                    </a>
                                </li>

                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-file-invoice"></i></span>
                                        Outpatient Department
                                    </a>
                                </li>

                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-chart-line"></i></span>
                                        Analytics
                                    </a>
                                </li>

                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="far fa-clock"></i></span>
                                        Waiting List
                                    </a>
                                </li>

                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-wrench"></i></span>
                                        Adminstration
                                    </a>
                                </li>

                                <li class="nav-item text-center">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-spinner"></i></span>
                                        Additional
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- content -->
            <div class="container-fluid">

                <div class="chart">
                    <div class="row">

                        <div class="col-lg-12 pl-lg-0 mt-2 ml-2">
                            <h4 class="primary"></h4>
                        </div>
                        <div class="col-lg-12  chart-grid">
                            <form>
                                <div class="card card_border">
                                    <div>
                                        <!--Past your code here starts-->


                                        <div class="card">

                                            <div class="col-xl-12 p-heading">
                                                <h6 class="p-text">VITRIFY EMBRYOS &nbsp; &nbsp; COUPLE NO. :
                                                    IVF/00003/24 &nbsp; &nbsp; PATIENT NAME : GEETA PANDEY &nbsp; &nbsp;
                                                    PARTNER NAME : AKASH PANDEY</h6>

                                            </div>
                                            <div class="form-row card-body pl-lg-3 pr-lg-3 pt-lg-1">
                                                <div class="col-lg-6 col-md-6 col-sm-12">
                                                    
                                                </div>


                                            </div>

                                            <div class="card-body pt-0">

                                                <div class="form-row">

                                                    <div class="col-12 ">
                                                        <div class="form-group">
                                                            <div class="col col-12 pr-xl-0 pl-xl-0">
                                                                <div class="slidx">


                                                                    <table class="table2">
                                                                        <thead>
                                                                            <tr>
                                                                                <th contenteditable="true">Patient MRN
                                                                                </th>
                                                                                <th contenteditable="true">Name
                                                                                </th>
                                                                                <th contenteditable="true">Couple No.
                                                                                </th>
                                                                                <th contenteditable="true">Date of vitrification
                                                                                </th>
                                                                                <th contenteditable="true">Day of vitrification
                                                                                </th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody id="vitrifyBody">
                                                                            

                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>

                                        <!--Past your code here ends-->
                                    </div>
                                </div>
                        </div>
                    </div>

                    <!-- section 2 -->


                </div>
                </form>

                <div class="modal" id="vitrifyModal">
                    <div class="modal-dialog  modal-xl">
                        <div class="modal-content">
    
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <a href="#" class="btn-close" data-bs-dismiss="modal"><i
                                        class="fa-solid fa-circle-xmark"></i></a>
                            </div>
    
                            <!-- Modal body -->
                            <div class="modal-body">
                                <div class="container-fluid">

                                    <div class="chart">
                                        <div class="row">
                    
                                            <div class="col-lg-12 pl-lg-0 mt-2 ml-2">
                                                <h4 class="primary"></h4>
                                            </div>
                                            <div class="col-lg-12  chart-grid">
                                                <form>
                                                    <div class="card card_border">
                                                        <div>
                                                            <!--Past your code here starts-->
                    
                    
                                                            <div class="card">
                    
                                                                <div class="col-xl-12 p-heading">
                                                                    <h6 class="p-text">VITRIFY EMBRYOS &nbsp; &nbsp; COUPLE NO. :
                                                                        IVF/00003/24 &nbsp; &nbsp; PATIENT NAME : GEETA PANDEY &nbsp; &nbsp;
                                                                        PARTNER NAME : AKASH PANDEY</h6>
                    
                                                                </div>
                                                                <div class="form-row card-body pl-lg-3 pr-lg-3 pt-lg-1">
                                                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                                                        <div class="form-group ">
                                                                            <label class="input__label">Vitrification date : </label>
                                                                            <input name="header_image" type="date"
                                                                                class="form-control input-style" placeholder="">
                                                                        </div>
                                                                    </div>
                    
                    
                                                                </div>
                    
                                                                <div class="card-body pt-0">
                    
                                                                    <div class="form-row">
                    
                                                                        <div class="col-12 ">
                                                                            <div class="form-group">
                                                                                <div class="col col-12 pr-xl-0 pl-xl-0">
                                                                                    <div class="slidx">
                    
                                                                                        <div class="table-responsive">
                    
                                                                                        <table class="table2">
                                                                                            <thead>
                                                                                                <tr>
                                                                                                    <th contenteditable="true">Oocyte No.
                                                                                                    </th>
                                                                                                    <th contenteditable="true">Embryo No.
                                                                                                    </th>
                                                                                                    <th contenteditable="true">Fertilisation
                                                                                                        Date </th>
                                                                                                    <th contenteditable="true">No of Cells
                                                                                                    </th>
                                                                                                    <th contenteditable="true">Fragment %
                                                                                                    </th>
                                                                                                    <th contenteditable="true">Compaction
                                                                                                    </th>
                                                                                                    <th contenteditable="true">Stage</th>
                                                                                                    <th contenteditable="true">ICM</th>
                                                                                                    <th contenteditable="true">Trofect</th>
                                                                                                    <th contenteditable="true">Grade</th>
                                                                                                    <th contenteditable="true">Age (day)
                                                                                                    </th>
                                                                                                    <th contenteditable="true">Incubator
                                                                                                    </th>
                                                                                                    <th contenteditable="true">Vitrification
                                                                                                        time</th>
                                                                                                    <th contenteditable="true">Tank</th>
                                                                                                    <th contenteditable="true">Canister
                                                                                                    </th>
                                                                                                    <th contenteditable="true">Goble</th>
                                                                                                    <th contenteditable="true">Hexatube</th>
                                                                                                    <th contenteditable="true">Visotube</th>
                                                                                                    <th contenteditable="true" colspan="2">
                                                                                                        Cryotop Color and Number </th>
                    
                                                                                                </tr>
                                                                                            </thead>
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td contenteditable="true">31/08/2022 -
                                                                                                        3</td>
                                                                                                    <td contenteditable="true">3</td>
                                                                                                    <td contenteditable="true">31/08/2022
                                                                                                    </td>
                                                                                                    <td contenteditable="true">6</td>
                                                                                                    <td contenteditable="true">11-20%</td>
                                                                                                    <td contenteditable="true"></td>
                                                                                                    <td contenteditable="true"></td>
                                                                                                    <td contenteditable="true"></td>
                                                                                                    <td contenteditable="true"></td>
                                                                                                    <td contenteditable="true">I (A)</td>
                                                                                                    <td contenteditable="true">4</td>
                                                                                                    <td contenteditable="true">HIRACELL</td>
                                                                                                    <td contenteditable="true"><input
                                                                                                            name="header_image" type="time"
                                                                                                            class="form-control input-style"
                                                                                                            placeholder=""></td>
                                                                                                    <td contenteditable="true"><input
                                                                                                            name="header_image" type="text"
                                                                                                            class="form-control input-style"
                                                                                                            placeholder="TANK-1"></td>
                                                                                                    <td contenteditable="true"><input
                                                                                                            name="header_image" type="text"
                                                                                                            class="form-control input-style"
                                                                                                            placeholder="1"></td>
                                                                                                    <td contenteditable="true"><input
                                                                                                            name="header_image" type="text"
                                                                                                            class="form-control input-style"
                                                                                                            placeholder="RED"></td>
                                                                                                    <td contenteditable="true"><input
                                                                                                            name="header_image" type="text"
                                                                                                            class="form-control input-style"
                                                                                                            placeholder="RED"></td>
                                                                                                    <td contenteditable="true"><input
                                                                                                            name="header_image" type="text"
                                                                                                            class="form-control input-style"
                                                                                                            placeholder="WHITE"></td>
                                                                                                    <td contenteditable="true"><input
                                                                                                            name="header_image" type="text"
                                                                                                            class="form-control input-style"
                                                                                                            placeholder="RED"></td>
                                                                                                    <td contenteditable="true"><i
                                                                                                            class="fa-solid fa-quote-right"
                                                                                                            style="font-size: 20px; color:#11cdf0 ;"></i>
                                                                                                    </td>
                    
                    
                                                                                                </tr>
                    
                                                                                                <tr>
                                                                                                    <td contenteditable="true">31/08/2022 - 4</td>
                                                                                                    <td contenteditable="true">4</td>
                                                                                                    <td contenteditable="true">31/08/2022</td>
                                                                                                    <td contenteditable="true">6</td>
                                                                                                    <td contenteditable="true">11-20%</td>
                                                                                                    <td contenteditable="true"></td>
                                                                                                    <td contenteditable="true"></td>
                                                                                                    <td contenteditable="true"></td>
                                                                                                    <td contenteditable="true"></td>
                                                                                                    <td contenteditable="true">I (A)</td>
                                                                                                    <td contenteditable="true">4</td>
                                                                                                    <td contenteditable="true">HIRACELL</td>
                                                                                                    <td contenteditable="true"><input
                                                                                                            name="header_image" type="time"
                                                                                                            class="form-control input-style"
                                                                                                            placeholder=""></td>
                                                                                                    <td contenteditable="true"><input
                                                                                                            name="header_image" type="text"
                                                                                                            class="form-control input-style"
                                                                                                            placeholder="TANK-1"></td>
                                                                                                    <td contenteditable="true"><input
                                                                                                            name="header_image" type="text"
                                                                                                            class="form-control input-style"
                                                                                                            placeholder="1"></td>
                                                                                                    <td contenteditable="true"><input
                                                                                                            name="header_image" type="text"
                                                                                                            class="form-control input-style"
                                                                                                            placeholder="RED"></td>
                                                                                                    <td contenteditable="true"><input
                                                                                                            name="header_image" type="text"
                                                                                                            class="form-control input-style"
                                                                                                            placeholder="RED"></td>
                                                                                                    <td contenteditable="true"><input
                                                                                                            name="header_image" type="text"
                                                                                                            class="form-control input-style"
                                                                                                            placeholder="WHITE"></td>
                                                                                                    <td contenteditable="true"><input
                                                                                                            name="header_image" type="text"
                                                                                                            class="form-control input-style"
                                                                                                            placeholder="RED"></td>
                                                                                                    <td contenteditable="true"><i
                                                                                                            class="fa-solid fa-quote-right"
                                                                                                            style="font-size: 20px; color:#11cdf0 ;"></i>
                                                                                                    </td>
                    
                    
                                                                                                </tr>
                    
                                                                                            </tbody>
                                                                                        </table>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                    
                                                                    <div class="form-row card-body pl-lg-0 pr-lg-3 pt-lg-1 pb-lg-0">
                    
                                                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                                                            <div class="form-group">
                                                                                <label class="input__label">Done By </label>
                                                                                <input name="header_image" type="text"
                                                                                    class="form-control input-style"
                                                                                    placeholder="Andrologist">
                                                                            </div>
                                                                        </div>
                    
                                                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                                                            <div class="form-group">
                                                                                <label class="input__label">Witnessed By </label>
                                                                                <input name="header_image" type="text"
                                                                                    class="form-control input-style"
                                                                                    placeholder="Embryologist">
                                                                            </div>
                                                                        </div>
                    
                                                                    </div>
                    
                                                                </div>
                                                            </div>
                    
                                                            <!--Past your code here ends-->
                                                        </div>
                                                    </div>
                                            </div>
                                        </div>
                    
                                        <!-- section 2 -->
                    
                    
                                    </div>
                                    <div class="form-group   text-right">
                    
                    
                    
                                        <!-- <button type="button" class="btn-success btn-style btn  mr-2"><strong><i
                                                        class="fa-regular fa-pen-to-square"></i> Sav</strong></button> -->
                    
                                        <!-- <button type="button" class="btn-secondary btn-style btn mt-3 mr-2"><strong><i
                                                        class="fa-solid fa-plus"></i> New</strong></button> -->
                    
                                        <button type="button" data-bs-dismiss="modal" class="btn-danger btn-style btn mr-2"><strong><i class="fas fa-times"></i>
                                                Cancel</strong></button>
                    
                                        <button type="button" class="btn-primary btn-style btn"><strong><i class="far fa-save"></i>
                                                Save</strong></button>
                                    </div>
                    
                                    </form>
                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <%-include('../footer.ejs')-%>

            <script>
                function fetchDataTable(){
                    axios.get('/embrology/tableVitrify').then(res=>{
                        console.log(res.data);
                        let row=``;
                        console.log(res.data.day2[0]);
                        if(res.data.day2[0] != undefined){
                            res.data.day2[0].reportData.forEach(element => {
                                if(element.status == 'Vitrify'){
                                    row += `
                                <tr onclick='sawEmbryo(${element.id},2)'>
                                      <td contenteditable="true">Patient MRN</td>  
                                      <td contenteditable="true">name</td>  
                                      <td contenteditable="true">couple no.</td>  
                                      <td contenteditable="true">${element.Date}</td>  
                                      <td contenteditable="true">2</td>  
                                </tr>
                            `
                                }
                            });
                        }
                        if(res.data.day3[0] != undefined){
                            res.data.day3[0].reportData.forEach(element => {
                                if(element.status == 'Vitrify'){
                                    row += `
                                <tr onclick='sawEmbryo(${element.id},2)'>
                                      <td contenteditable="true">Patient MRN</td>  
                                      <td contenteditable="true">name</td>  
                                      <td contenteditable="true">couple no.</td>  
                                      <td contenteditable="true">${element.Date}</td>  
                                      <td contenteditable="true">2</td>  
                                </tr>
                            `
                                }
                            });
                        }
                        if(res.data.day4[0] != undefined ){
                            res.data.day4[0].reportData.forEach(element => {
                                if(element.status == 'Vitrify'){
                                    row += `
                                <tr onclick='sawEmbryo(${element.id},2)'>
                                      <td contenteditable="true">Patient MRN</td>  
                                      <td contenteditable="true">name</td>  
                                      <td contenteditable="true">couple no.</td>  
                                      <td contenteditable="true">${element.Date}</td>  
                                      <td contenteditable="true">2</td>  
                                </tr>
                            `
                                }
                            });
                        }
                        $('#vitrifyBody').html(row);
                        
                    }).catch(err=>{
                        console.log('error',err);
                    })
                }fetchDataTable();
                function sawEmbryo(id,str){
                    console.log(id)
                    $('#vitrifyModal').modal('show')
                    axios.get('/embrology/vitrifyEmbryo',{params:{id: id, str: str}}).then(res=>{
                        console.log(res.data);
                    })
                }


            </script>