<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>LifeLinkr</title>
    <%- include('../header'); -%>

    <!-- main content start -->
    <div class="main-content">
      <div class="row content-top-gap2">
        <div class="col-lg-12">
          <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <a class="navbar-brand text-center mr-5" href="#">
              <span class="dash-icon"
                ><i class="fas fa-tachometer-alt"></i
              ></span>
              Dashboard
            </a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active text-center mr-5">
                  <a class="nav-link" href="#">
                    <span class="dash-icon"><i class="far fa-user"></i></span>
                    Master
                  </a>
                </li>
                <li class="nav-item text-center mr-5">
                  <a class="nav-link" href="#">
                    <span class="dash-icon"
                      ><i class="fas fa-exchange-alt"></i
                    ></span>
                    Transaction
                  </a>
                </li>
                <li class="nav-item text-center mr-5">
                  <a class="nav-link" href="#">
                    <span class="dash-icon"
                      ><i class="fas fa-hand-holding-medical"></i
                    ></span>
                    Patient 360
                  </a>
                </li>
                <li class="nav-item text-center mr-5">
                  <a class="nav-link" href="#">
                    <span class="dash-icon"
                      ><i class="fas fa-receipt"></i
                    ></span>
                    Outside Reciept
                  </a>
                </li>
                <li class="nav-item text-center mr-5">
                  <a class="nav-link" href="#">
                    <span class="dash-icon"
                      ><i class="fas fa-file-invoice"></i
                    ></span>
                    Outpatient Department
                  </a>
                </li>
                <li class="nav-item text-center mr-5">
                  <a class="nav-link" href="#">
                    <span class="dash-icon"
                      ><i class="fas fa-chart-line"></i
                    ></span>
                    Analytics
                  </a>
                </li>
                <li class="nav-item text-center mr-5">
                  <a class="nav-link" href="#">
                    <span class="dash-icon"><i class="far fa-clock"></i></span>
                    Waiting List
                  </a>
                </li>
                <li class="nav-item text-center mr-5">
                  <a class="nav-link" href="#">
                    <span class="dash-icon"><i class="fas fa-wrench"></i></span>
                    Adminstration
                  </a>
                </li>
                <li class="nav-item text-center">
                  <a class="nav-link" href="#">
                    <span class="dash-icon"
                      ><i class="fas fa-spinner"></i
                    ></span>
                    Additional
                  </a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
      <!-- content -->
      <div class="container-fluid">
        <div class="chart">
          <div class="row">
            <div class="col-lg-12 pl-lg-0 mt-2 ml-2">
              <h4 class="primary"></h4>
            </div>
            <div class="col-lg-12 pl-lg-2 chart-grid">
              <form id="formid">
                <div class="card card_border">
                  <div class="">
                    <!--Past your code here starts-->

                    <div class="card">
                      <div class="card-body pt-3 pb-3">
                        <div class="form-row">
                          <div class="col-lg-1 col-md-2 col-sm-12">
                            <div class="form-row">
                              <div class="pl-2">
                                <i
                                  class="fa-solid fa-user"
                                  style="font-size: 42px; color: #11cdf0"
                                ></i>
                              </div>
                            </div>
                          </div>

                          <div class="col-lg-5 col-md-12 col-sm-12 ml-0">
                            <div id="women1_id" class="form-row">
                              <label class="input__label pl-0 pr-2 pb-3">
                                <strong>Name : </strong>Ankita Sharma,
                              </label>

                              <label class="input__label pl-2 pr-2">
                                <strong>MRN : </strong>OHPL/R/24/1602,
                              </label>

                              <label class="input__label pl-2 pr-2">
                                <strong>Phone : </strong>9878798488,
                              </label>

                              <label class="input__label pl-0 pr-2">
                                <strong>Referred By : </strong>Self,
                              </label>

                              <label class="input__label pl-2 pr-2">
                                <strong>Age : </strong>35 Y, 1 M, 9 D
                              </label>

                              <label class="input__label pl-2 pr-2">
                                <strong>Gender : </strong>Female
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!--Past your code here ends-->
                  </div>
                </div>

                <!-- second section -->

                <!-- <div class="col-lg-12 pl-lg-0 pt-lg-0 mt-2 ">
                                    <h4 class="primary">Past Cycle</h4>
                                </div> -->

                <div class="card mt-3">
                  <div class="card-body pt-2 pb-2">
                    <div class="form-row">
                      <div class="col-lg-3 col-md-4 col-sm-12">
                        <div class="form-group">
                          <label class="input__label"
                            ><strong>Treatment : </strong> IVF</label
                          >
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-4 col-sm-12">
                        <div class="form-group">
                          <label class="input__label"
                            ><strong>Advised On : </strong>14/08/2024</label
                          >
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-4 col-sm-12">
                        <div class="form-group">
                          <label class="input__label"
                            ><strong>Advised By : </strong> DR. NISHA BHATNAGAR
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-12 pl-lg-0 pt-2 mt-2">
                  <!-- Nav Tabs are here once have a look--->
                  <h4 class="primary">Counselling</h4>
                </div>

                <div class="card mb-4">
                  <div class="col-xl-12 p-heading">
                    <h6 class="p-text">ASSIGN TEAM</h6>
                  </div>

                  <div class="card">
                    <div class="form-row">
                      <div class="col-12 mt-3">
                        <div class="form-group">
                          <div class="col col-12 pr-xl-3 pl-xl-3 pb-3">
                            <div class="slidx">
                              <table class="table2">
                                <thead>
                                  <th contenteditable="true">
                                    Staff Designation
                                  </th>
                                  <th contenteditable="true">Staff</th>
                                </thead>

                                <tbody>
                                  <tr>
                                    <td contenteditable="true">Doctor</td>
                                    <td id="doctor101" contenteditable="true">
                                      <select
                                        name="assignedDoctor"
                                        class="form-control input-style"
                                        onchange=""
                                      >
                                        <option>DR. NISHA BHATNAGAR</option>
                                        <option>Assistant Doctor</option>
                                      </select>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td contenteditable="true">
                                      Assistant Doctor
                                    </td>
                                    <td
                                      id="assistantdoctor102"
                                      contenteditable="true"
                                    >
                                      <select
                                        name="assignedAssistantDoctor"
                                        class="form-control input-style"
                                        onchange=""
                                      >
                                        <option>Assistant Doctor</option>
                                        <option>DR. NISHA BHATNAGAR</option>
                                      </select>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td contenteditable="true">Counsellor</td>
                                    <td
                                      id="counsellor103"
                                      contenteditable="true"
                                    >
                                      <select
                                        name="assignedCounselor"
                                        class="form-control input-style"
                                        onchange=""
                                      >
                                        <option>IVF Counsellor</option>
                                      </select>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td contenteditable="true">Coordinator</td>
                                    <td
                                      id="coordinator104"
                                      contenteditable="true"
                                    >
                                      <select
                                        name="assignedCoordinator"
                                        class="form-control input-style"
                                        onchange=""
                                      >
                                        <option>IVF Coordinator</option>
                                      </select>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="col-xl-12 p-heading">
                    <h6 class="p-text">CLINICAL COUNSELLING</h6>
                  </div>
                  <div class="card">
                    <div class="card-body pt-2 pb-2">
                      <div class="form-row">
                        <div class="col-lg-6 col-md-6 col-sm-12 mb-2">
                          <div class="form-group">
                            <label
                              id="clinicalCounsellingDoneBy101"
                              class="input__label"
                              >Done By</label
                            >
                            <select
                              name="clinicalCounselingDoneBy"
                              class="form-control input-style"
                              onchange=""
                            >
                              <option></option>
                              <option>DR. NISHA BHATNAGAR</option>
                              <option>Assistant Doctor</option>
                            </select>
                          </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 mb-2">
                          <div class="form-group">
                            <label
                              id="clinicalCounsellingDateBy102"
                              class="input__label"
                              >Date</label
                            >
                            <input
                              name="clinicalCounselingDate"
                              type="date"
                              class="form-control input-style"
                              placeholder=""
                              onchange=""
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="card mt-4">
                  <div class="col-xl-12 p-heading">
                    <h6 class="p-text">FINANCIAL COUNSELLING</h6>
                  </div>

                  <div class="card">
                    <div class="card-body pt-2 pb-2">
                      <div class="form-row">
                        <div class="col-lg-6 col-md-6 col-sm-12 mb-2">
                          <div class="form-group">
                            <label
                              id="financialCounselingDoneBy101"
                              class="input__label"
                              >Done By</label
                            >
                            <select
                              name="financialCounselingDoneBy"
                              class="form-control input-style"
                              onchange=""
                            >
                              <option></option>
                              <option>IVF Financial Counsellor</option>
                            </select>
                          </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 mb-2">
                          <div class="form-group">
                            <label
                              id="financialCounsellingDateBy102"
                              class="input__label"
                              >Date</label
                            >
                            <input
                              name="financialCounselingDate"
                              type="date"
                              class="form-control input-style"
                              placeholder=""
                              onchange=""
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="card mt-4">
                  <div class="col-xl-12 p-heading">
                    <h6 class="p-text">NOTES</h6>
                  </div>

                  <div class="card">
                    <div class="form-row">
                      <div class="col-12 mt-3">
                        <div class="form-group">
                          <div class="col col-12 pr-xl-3 pl-xl-3">
                            <div class="slidx">
                              <table class="table2">
                                <thead>
                                  <th contenteditable="true" width="20%">
                                    Date
                                  </th>
                                  <th contenteditable="true">Note</th>
                                  <th contenteditable="true" width="25%">
                                    Recorded By
                                  </th>
                                </thead>

                                <tbody>
                                  <tr>
                                    <td
                                      contenteditable="true"
                                      colspan="3"
                                      class="text-left pl-3"
                                    >
                                      New Note
                                    </td>
                                  </tr>

                                  <tr>
                                    <td
                                      id="notesdate101"
                                      contenteditable="true"
                                    >
                                      <input
                                        name="notesDate"
                                        type="date"
                                        class="form-control input-style"
                                        placeholder=""
                                        onchange=""
                                      />
                                    </td>
                                    <td id="note102" contenteditable="true">
                                      <input
                                        name="notes"
                                        type="text"
                                        class="form-control input-style"
                                        placeholder=""
                                        onchange=""
                                      />
                                    </td>
                                    <td
                                      id="noterecordedby103"
                                      contenteditable="true"
                                    >
                                      <input
                                        name="notesRecordedBy"
                                        type="text"
                                        class="form-control input-style"
                                        placeholder=""
                                        onchange=""
                                      />
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>

                <div class="card mt-4">
                  <div class="col-xl-12 p-heading">
                    <h6 class="p-text">CHOOSE THE PACKAGE</h6>
                  </div>

                  <div class="col-lg-3 col-md-4 col-sm-12">
                    <div class="form-check-label">
                      <div class="radio mt-4">
                        <label class="form-check-label pt-0">
                          <p>choose the package</p>
                          <select name="" id="selectMany">
                            <option value=""></option>
                          </select>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-4 col-sm-12">
                    <div class="form-check-label">
                      <div class="radio mt-4">
                        <label id="total" class="form-check-label pt-0">
                          
                        </label>
                      </div>
                    </div>
                  </div>
                    <div class="form-check-label" id="showCol" style="display: none;">
                      <div class="radio mt-4">
                        <label class="form-check-label pt-0">
                          <p>Registeration</p>
                          <input type="number" id="registeration" placeholder="registeration%" class="form-control" min="0" max="100">
                          <input type="number" id="registerationAmount" placeholder="Registeration Amount" class="form-control" min="0">
                        </label>
                        <label class="form-check-label pt-0">
                          <p>Day2 </p>
                          <input type="number" id="Day2" placeholder="Day2%" class="form-control" min="0" max="100">
                          <input type="number" id="Day2Amount" placeholder="Day 2 Amount" class="form-control" min="0">
                        </label>
                        <label class="form-check-label pt-0">
                          <p>Day6 </p>
                          <input type="number" id="Day6" placeholder="Day6%" class="form-control" min="0" max="100">
                          <input type="number" id="Day6Amount" placeholder="Day 6 Amount" class="form-control" min="0">
                        </label>
                        <label class="form-check-label pt-0">
                          <p>Day9 </p>
                          <input type="number" id="Day9" placeholder="Day9%" class="form-control" min="0" max="100">
                          <input type="number" id="Day9Amount" placeholder="Day 9 Amount" class="form-control" min="0">
                        </label>
                        <label class="form-check-label pt-0">
                          <p>Trigger </p>
                          <input type="number" id="Trigger" class="form-control" placeholder="Trigger" class="form-control" min="0" max="100" >
                          <input type="number" id="TriggerAmount" placeholder="Trigger Amount" class="form-control" min="0">
                        </label>
                        <label class="form-check-label pt-0">
                          <p>Opu </p>
                          <input type="number" id="Opu" class="form-control" placeholder="Opu" class="form-control" min="0" max="100" >
                          <input type="number" id="OpuAmount" placeholder="Opu Amount" class="form-control" min="0">
                        </label>
                        <label class="form-check-label pt-0">
                          <p>ET </p>
                          <input type="number" id="et" class="form-control" placeholder="ET" class="form-control" min="0" max="100" >
                          <input type="number" id="etAmount" placeholder="ET Amount" class="form-control" min="0">
                        </label>
                        <label class="form-check-label pt-0"></label>
                          <p>Donor </p>
                          <input type="number" id="Donor" class="form-control" placeholder="Donor" style="width: 227px;" class="form-control" min="0" max="100" >
                          <input type="number" id="DonorAmount" placeholder="Donor Amount" style="width: 227px;"  class="form-control" min="0">
                        </label>
                      </div>
                    
                    </div>
                  </div>

                    <!-- <div class="card-body pt-2 pb-2">
                      <div class="form-row">
                        <div class="col-lg-3 col-md-4 col-sm-12">
                          <div class="form-check-label">
                            <div class="radio mt-4">
                              <label class="form-check-label pt-0">
                                <input
                                  class="form-check-input mt-1"
                                  type="number"
                                />
                                Consent Pending</label
                              >
                            </div>
                          </div>
                        </div>

                  <div class="card">
                    <div class="card-body pt-2 pb-2">
                      <div class="form-row">
                        <div class="col-lg-3 col-md-4 col-sm-12">
                          <div class="form-check-label">
                            <div class="radio mt-4">
                              <label class="form-check-label pt-0">
                                <input
                                  class="form-check-input mt-1"
                                  type="number"
                                />
                                Consent Pending</label
                              >
                            </div>
                          </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-12">
                          <div class="form-check-label">
                            <div class="radio mt-4">
                              <label class="form-check-label pt-0">
                                <input
                                  class="form-check-input mt-1"
                                  type="radio"
                                />
                                Consent Received</label
                              >
                            </div>
                          </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-12">
                          <div class="form-check-label">
                            <div class="radio mt-4">
                              <label class="form-check-label pt-0">
                                <input
                                  class="form-check-input mt-1"
                                  type="radio"
                                />
                                Consent Denied</label
                              >
                            </div>
                          </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-12">
                          <div class="form-group">
                            <label class="input__label">Consent Form</label>
                            <select
                              name="consentForm"
                              class="form-control input-style"
                            >
                              <option></option>
                              <option>Form 6</option>
                            </select>
                          </div>
                        </div>

                        <div
                          class="col-lg-12 col-md-12 col-sm-12 mb-2 mt-4 text-right"
                        >
                          <div class="form-group">
                            <button
                              type="button"
                              class="btn-secondary btn-style btn-change btn"
                            >
                              <strong
                                ><i class="fas fa-download"></i> Download
                                Consent Form</strong
                              >
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                    </div> -->

                <div class="form-group mt-1 mb-3 text-right">
                  <!-- <button type="button" class="btn-success btn-style btn mt-3 mr-2"><strong><i
                                    class="fa-regular fa-pen-to-square"></i> Modify</strong></button>

                        <button type="button" class="btn-secondary btn-style btn mt-3 mr-2"><strong><i
                                    class="fa-solid fa-plus"></i> New</strong></button> -->

                  <button
                    type="button"
                    class="btn-danger btn-style btn mt-3 mr-2"
                  >
                    <strong><i class="fas fa-times"></i> Cancel</strong>
                  </button>

                  <button type="submit" class="btn-primary btn-style btn mt-3">
                    <strong><i class="far fa-save"></i> Save</strong>
                  </button>
                </div>
              </form>
            </div>
            <!--footer section start-->
            <%- include('../footer'); -%>
            
            <script src="../javascripts/validation2.js"></script>
            <script src="../javascripts/myAjax2.js"></script>
            
            <script>
              let amount;
              function fetchData() {
                axios.get('/embrology/get-package').then(res => {
                  let data = res.data;
                  data.forEach(element => {
                    $('#selectMany').append(`<option value='${element.packageRate}'>${element.packageName}</option>`);
                  });
                }).catch(err => {
                  console.log(err);
                })
              }
              $('#selectMany').on('change', () => {
                console.log()
                if ($('#selectMany').val() != '') {
                  $('#showCol').show()
                  amount = parseInt($('#selectMany').val());
                  $('#total').html(`
                    <p>total amount of package is ${$('#selectMany').val()}</p>
                    <input type='text' class='input-style' id='discount' placeholder='discount %'> 
                  `)
                } else {
                  $('#showCol').hide()
                  $('#total').html(`<p></p>`)
                }
              })
              $('#total').on('input','#discount',function (){
                let discount =   parseFloat($('#discount').val());
                let realAmount = parseFloat($('#selectMany').val());
                amount = amount - ((realAmount*discount)/100);
                console.log(amount)
                $('#total').html(`
                    <p>total amount of package is ${amount}</p>
                    <input id='discount' placeholder='discount value=${$('#discount').val()} %'> 
                  `)
              })
              $('#registeration,#total, #Day2, #Day6,#Day9, #Trigger,#Opu,#Donor, #et').on('input',function () {
                  console.log('amount')
                  let registerationAmount = parseInt($('#registeration').val())
                  let Day2Amount = parseInt($('#Day2').val())
                  let Day6Amount = parseInt($('#Day6').val())
                  let Day9Amount = parseInt($('#Day9').val())
                  let TriggerAmount = parseInt($('#Trigger').val())
                  let OpuAmount = parseInt($('#Opu').val())
                  let DonorAmount = parseInt($('#Donor').val())
                  let etAmount = parseInt($('#et').val())
                  $('#registerationAmount').val((Math.ceil((registerationAmount*amount)/100)));
                  $('#Day2Amount').val(Math.ceil((Day2Amount*amount)/100))
                  $('#Day6Amount').val(Math.ceil((Day6Amount*amount)/100))
                  $('#Day9Amount').val(Math.ceil((Day9Amount*amount)/100))
                  $('#TriggerAmount').val(Math.ceil((TriggerAmount*amount)/100))
                  $('#OpuAmount').val(Math.ceil((OpuAmount*amount)/100))
                  $('#DonorAmount').val(Math.ceil((DonorAmount*amount)/100))
                  $('#etAmount').val(Math.ceil((etAmount*amount)/100))
              });
              $('#registerationAmount, #Day2Amount, #Day6Amount,#Day9Amount, #TriggerAmount,#OpuAmount,#DonorAmount, #etAmount').on('input',function () {
                  console.log('amount')
                  let registerationAmount = parseInt($('#registerationAmount').val())
                  let Day2Amount = parseInt($('#Day2Amount').val())
                  let Day6Amount = parseInt($('#Day6Amount').val())
                  let Day9Amount = parseInt($('#Day9Amount').val())
                  let TriggerAmount = parseInt($('#TriggerAmount').val())
                  let OpuAmount = parseInt($('#OpuAmount').val())
                  let DonorAmount = parseInt($('#DonorAmount').val())
                  let etAmount = parseInt($('#etAmount').val())
                  $('#registeration').val((((registerationAmount/amount)*100).toFixed(2)));
                  $('#Day2').val(((Day2Amount/amount)*100).toFixed(2))
                  $('#Day6').val(((Day6Amount/amount)*100).toFixed(2))
                  $('#Day9').val(((Day9Amount/amount)*100).toFixed(2))
                  $('#Trigger').val(((TriggerAmount/amount)*100).toFixed(2))
                  $('#Opu').val(((OpuAmount/amount)*100).toFixed(2))
                  $('#Donor').val(((DonorAmount/amount)*100).toFixed(2))
                  $('#et').val(((etAmount/amount)*100).toFixed(2))
              });
              fetchData();
            </script>
            <script src="../javascripts/validation2.js"></script>
            <script src="../javascripts/myAjax2.js"></script>
            <script>
              $(document).ready(function () {
                console.log("Document is ready");

                $("#formid").on("submit", function (event) {
                  event.preventDefault();
                  const { isValid, errorMessage, formData } =
                  validateForm("#formid");

                  console.log(formData);
                  const errorDivId = "#errordiv1";
                  let total = 0;
                  $('#registeration, #Day2, #Day6,#Day9, #Trigger,#Opu,#Donor, #et').each(function () {
                    total += parseInt($(this).val()) || 0; // Default to 0 if parsing fails
                  });

                  let amountData = {
                    registeration: $('#registerationAmount').val(),
                    Day2: $('#Day2Amount').val(),
                    Day6: $('#Day6Amount').val(),
                    Day9: $('#Day9Amount').val(),
                    Trigger: $('#TriggerAmount').val(),
                    Opu: $('#OpuAmount').val(),
                    Donor: $('#DonorAmount').val(),
                    et:$('#etAmount').val()
                  }

                  formData['amount'] = amountData;

                  if (isValid && total == 100) {

                    const url = "/embrology/post-patientCounselling";
                    const loadingDiv = "#loadingIndicator";
                    console.log(formData);
                    alert('Form Data is submitted')

                    myAjax(formData, errorDivId, url, loadingDiv);
                    location.reload();
                  } else {
                    alert('input field is not filled')
                    $(errorDivId)
                      .removeClass("alert-success")
                      .addClass("alert-danger")
                      .text(errorMessage)
                      .show();
                    $(errorDivId).text(errorMessage).show();
                  }
                });
              });
            </script>
            <script>
                axios
                    .get("/embrology/patientAllDetails")
                    .then((res) => {
                    console.log(res.data);
                    // $("#couple_ivf").html(`Couple No. ${res.data.coupleId}<br>
                    //         Referred By: ${res.data.ReferralDetails}`);
                    $("#women1_id").html(`<label class="input__label pl-0 pr-2 pb-3">
                                <strong>Name : </strong>${res.data.firstName} ${res.data.lastName},
                              </label>

                              <label class="input__label pl-2 pr-2">
                                <strong>MRN : </strong>${res.data.mr_no},
                              </label>

                              <label class="input__label pl-2 pr-2">
                                <strong>Phone : </strong>${res.data.mobileNo},
                              </label>

                              <label class="input__label pl-0 pr-2">
                                <strong>Referred By : </strong>Self,
                              </label>

                              <label class="input__label pl-2 pr-2">
                                <strong>Age : </strong>${res.data.age_years} Y, ${res.data.age_months} M, ${res.data.age_days} D
                              </label>

                              <label class="input__label pl-2 pr-2">
                                <strong>Gender : </strong>${res.data.Gender}
                              </label>`)
                                                    })
                
                .catch((err) => {
                    console.log(err);
                });
                
            </script>
          </div>
        </div>
      </div>
    </div>
  </head>
</html>
