<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>LifeLinkr</title>

    <%- include('../header') %>
        <!-- //header-ends -->
        <!-- main content start -->
        <div class="main-content">

            <div class="row content-top-gap2">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light bg-white">
                        <a class="navbar-brand text-center mr-5" href="#">
                            <span class="dash-icon"><i class="fas fa-tachometer-alt"></i></span>
                            Dashboard
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item active text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="far fa-user"></i></span>
                                        Master
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-exchange-alt"></i></span>
                                        Transaction
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-hand-holding-medical"></i></span>
                                        Patient 360
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-receipt"></i></span>
                                        Outside Reciept
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-file-invoice"></i></span>
                                        Outpatient Department
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-chart-line"></i></span>
                                        Analytics
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="far fa-clock"></i></span>
                                        Waiting List
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-wrench"></i></span>
                                        Adminstration
                                    </a>
                                </li>
                                <li class="nav-item text-center">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-spinner"></i></span>
                                        Additional
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- content -->
            <div class="container-fluid">

                <div class="chart">
                    <div class="row">

                        <div class="col-lg-12 pl-lg-0 mt-2 ml-2">
                            <h4 class="primary"></h4>
                        </div>
                        <div class="col-lg-12 pl-lg-2 chart-grid">
                            <div id="errordiv1"></div>
                            <button type="submit" class="btn btn-primary btn-style mt-2 mr-2" data-bs-toggle="modal" data-bs-target="#myModal"><strong>Save</strong></button>
                          <!-- The Modal -->
                          <div>
                            <table>
                            <thead>
                               
                            </thead>
                            <tbody id="stimulationRows">

                            </tbody>
                            </table>
                        </div>
 
                            <div id="loadingIndicator"></div>
                        </div>
                        <!--footer section start-->

                        <%- include('../footer') %>

                        <div class="modal" id="myModal">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        Record Result of Day 13
                                        <a href="#" class="btn-close" data-bs-dismiss="modal"><i class="fa-solid fa-circle-xmark"></i></a>
                                    </div>
                        
                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <div class="row">
                                            Medications
                                            <table class="table2">
                                                <tr>
                                                    <th>Genric</th>
                                                    <th>Drug Name</th>
                                                    <th>Doses</th>
                                                    <th>Quantity</th>
                                                    <th>Remarks</th>
                                                </tr>
                                                <tr>
                                                    <td>CC</td>
                                                    <td><input type="text" class="form-control input-style" id="ccDrugName" name="ccDrugName"></td>
                                                    <td>
                                                        <div class="row">
                                                            <div class="col-md-9">
                                                                <input type="text" class="form-control input-style" id="ccDosage" name="ccDosage">
                                                            </div>
                                                            <div class="col-md-3">mg</div>
                                                        </div>
                                                    </td>
                                                    <td><input type="text" class="form-control input-style" id="ccQuantity" name="ccQuantity"></td>
                                                    <td><input type="text" class="form-control input-style" id="ccRemarks" name="ccRemarks"></td>
                                                </tr>
                                                <tr>
                                                    <td>R-FSH</td>
                                                    <td><input type="text" class="form-control input-style" id="rFshDrugName" name="rFshDrugName"></td>
                                                    <td>
                                                        <div class="row">
                                                            <div class="col-md-9">
                                                                <input type="text" class="form-control input-style" id="rFshDosage" name="rFshDosage">
                                                            </div>
                                                            <div class="col-md-3">mg</div>
                                                        </div>
                                                    </td>
                                                    <td><input type="text" class="form-control input-style" id="rFshQuantity" name="rFshQuantity"></td>
                                                    <td><input type="text" class="form-control input-style" id="rFshRemarks" name="rFshRemarks"></td>
                                                </tr>
                                                <tr>
                                                    <td>GnRH Antagonist</td>
                                                    <td><input type="text" class="form-control input-style" id="antagonistDrugName" name="antagonistDrugName"></td>
                                                    <td>
                                                        <div class="row">
                                                            <div class="col-md-9">
                                                                <input type="text" class="form-control input-style" id="antagonistDosage" name="antagonistDosage">
                                                            </div>
                                                            <div class="col-md-3">mg</div>
                                                        </div>
                                                    </td>
                                                    <td><input type="text" class="form-control input-style" id="antagonistQuantity" name="antagonistQuantity"></td>
                                                    <td><input type="text" class="form-control input-style" id="antagonistRemarks" name="antagonistRemarks"></td>
                                                </tr>
                                                <tr style="text-align:left">
                                                    <td colspan="5"><strong>Follicular Scan</strong></td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2">Right Follicles (mm)</td>
                                                    <td colspan="3"><input type="text" class="form-control input-style" id="rightFollicles" name="rightFollicles"></td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2">Left Follicles (mm)</td>
                                                    <td colspan="3"><input type="text" class="form-control input-style" id="leftFollicles" name="leftFollicles"></td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2">Endometrium (mm)</td>
                                                    <td colspan="3"><input type="text" class="form-control input-style" id="endometrium" name="endometrium"></td>
                                                </tr>
                                                <tr style="text-align:left">
                                                    <td colspan="5"><strong>Labs</strong></td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2">E2</td>
                                                    <td colspan="3"><input type="text" class="form-control input-style" id="e2" name="e2"></td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2">P4</td>
                                                    <td colspan="3"><input type="text" class="form-control input-style" id="p4" name="p4"></td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2">Advice</td>
                                                    <td colspan="3"><input type="text" class="form-control input-style" id="advice" name="advice"></td>
                                                </tr>
                                            </table>
                                            <div class="text-right col-lg-12">
                                                <div class="row">
                                                    <div class="col-lg-8">
                                                        <div class="row" style="text-align:left">
                                                            <div class="col-lg-1">
                                                                <input type="checkbox" class="form-control" id="repeatDosage" name="repeatDosage">
                                                            </div>
                                                            <div class="col-lg-11">Repeat dosage for further days</div>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="col-lg-4">
                                                        <button type="submit" class="btn btn-primary btn-style mt-2 mr-2 btn-save" id="addStimulation"
><strong>Save</strong></button>
<button type="button" class="btn btn-primary btn-style mt-2 mr-2 btn-cancel" data-bs-dismiss="modal"><strong>Cancel</strong></button>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                        
                                </div>
                            </div>
                        </div>
                        
                        <script src="../javascripts/validation2.js"></script>
                        <script>
                            $(document).ready(function() {
                                let stimulationData = []; // This will store only the current cycleId and dayId data
                                let allStimulationData = []; // This will store all fetched data from the backend
                            
                                const cycleId = 1;
                                const dayId = 1;
                            
                                // Fetch existing stimulation data from the backend when the page loads
                                axios.get(`/embrology/stimulation-data?cycleId=${cycleId}&dayId=${dayId}`)
                                    .then(response => {
                                        console.log(response.data);
                                        const stimulationDataArray = response.data[0]; // Access the first element of the outer array
                            
                                        stimulationDataArray.forEach(data => {
                                            stimulationData.push(data); // Add to the current cycle/day specific data array
                                            appendToTable(data);
                                        });
                            
                                        // Update the allStimulationData array
                                        allStimulationData = response.data.flat(); // Flatten the data and store it in allStimulationData
                                    })
                                    .catch(error => {
                                        console.error('Error fetching stimulation data:', error);
                                    });
                            
                                // Function to handle the Save button click
                                $('#addStimulation').on('click', function(event) {
                                    event.preventDefault();
                            
                                    // Create an object from the form data
                                    const formData = {
                                        ccDrugName: $('#ccDrugName').val(),
                                        ccDosage: $('#ccDosage').val(),
                                        ccQuantity: $('#ccQuantity').val(),
                                        ccRemarks: $('#ccRemarks').val(),
                                        rFshDrugName: $('#rFshDrugName').val(),
                                        rFshDosage: $('#rFshDosage').val(),
                                        rFshQuantity: $('#rFshQuantity').val(),
                                        rFshRemarks: $('#rFshRemarks').val(),
                                        antagonistDrugName: $('#antagonistDrugName').val(),
                                        antagonistDosage: $('#antagonistDosage').val(),
                                        antagonistQuantity: $('#antagonistQuantity').val(),
                                        antagonistRemarks: $('#antagonistRemarks').val(),
                                        rightFollicles: $('#rightFollicles').val(),
                                        leftFollicles: $('#leftFollicles').val(),
                                        endometrium: $('#endometrium').val(),
                                        e2: $('#e2').val(),
                                        p4: $('#p4').val(),
                                        advice: $('#advice').val(),
                                        repeatDosage: $('#repeatDosage').is(':checked') ? true : false,
                                        cycleId: cycleId,
                                        dayId: dayId
                                    };
                            
                                    // Check if the cycleId and dayId already exist in stimulationData
                                    const existingEntryIndex = stimulationData.findIndex(
                                        data => data.cycleId === cycleId && data.dayId === dayId
                                    );
                            
                                    if (existingEntryIndex !== -1) {
                                        // Update the existing entry in the stimulationData array
                                        stimulationData[existingEntryIndex] = formData;
                            
                                        // Update the corresponding row in the table
                                        updateTableRow(existingEntryIndex, formData);
                                    } else {
                                        // Add the form data as a new row in the stimulationData array
                                        stimulationData.push(formData);
                            
                                        // Append the new data to the table
                                        appendToTable(formData);
                                    }
                            
                                    // Update the allStimulationData array
                                    allStimulationData.push(formData);
                            
                                    // Hide the modal
                                    $('#myModal').modal('hide');
                            
                                    // Send the data to the backend
                                    axios.post('/embrology/save-stimulation-data', {
                                        StimulationRows: stimulationData,
                                        cycleId: cycleId,
                                        dayId: dayId,
                                         // Send all data including the newly added/updated row
                                    })
                                    .then(response => {
                                        console.log('Data saved successfully:', response.data);
                                        alert("Data saved successfully!");
                                    })
                                    .catch(error => {
                                        console.error('Error saving data:', error);
                                        alert("Error saving data. Please try again.");
                                    });
                                });
                            
                                // Function to append new data to the table
                                function appendToTable(data) {
                                    const newRow = `
                                        <tr data-cycle-id="${data.cycleId || ''}" data-day-id="${data.dayId || ''}">
                                            <td>${data.ccDrugName || '-'}</td>
                                            <td>${data.ccDosage || '-'}</td>
                                            <td>${data.ccQuantity || '-'}</td>
                                            <td>${data.ccRemarks || '-'}</td>
                                            <td>${data.rFshDrugName || '-'}</td>
                                            <td>${data.rFshDosage || '-'}</td>
                                            <td>${data.rFshQuantity || '-'}</td>
                                            <td>${data.rFshRemarks || '-'}</td>
                                            <td>${data.antagonistDrugName || '-'}</td>
                                            <td>${data.antagonistDosage || '-'}</td>
                                            <td>${data.antagonistQuantity || '-'}</td>
                                            <td>${data.antagonistRemarks || '-'}</td>
                                            <td>${data.rightFollicles || '-'}</td>
                                            <td>${data.leftFollicles || '-'}</td>
                                            <td>${data.endometrium || '-'}</td>
                                            <td>${data.e2 || '-'}</td>
                                            <td>${data.p4 || '-'}</td>
                                            <td>${data.advice || '-'}</td>
                                            <td>${data.repeatDosage ? 'Yes' : 'No'}</td>
                                            <td><button type="button" class="btn btn-edit">Edit</button></td>
                                        </tr>
                                    `;
                                    $('#stimulationRows').append(newRow);
                                }
                            
                                // Function to update an existing row in the table
                                function updateTableRow(index, data) {
                                    const tableRow = $('#stimulationRows tr').eq(index);
                                    tableRow.html(`
                                        <td>${data.ccDrugName}</td>
                                        <td>${data.ccDosage}</td>
                                        <td>${data.ccQuantity}</td>
                                        <td>${data.ccRemarks}</td>
                                        <td>${data.rFshDrugName}</td>
                                        <td>${data.rFshDosage}</td>
                                        <td>${data.rFshQuantity}</td>
                                        <td>${data.rFshRemarks}</td>
                                        <td>${data.antagonistDrugName}</td>
                                        <td>${data.antagonistDosage}</td>
                                        <td>${data.antagonistQuantity}</td>
                                        <td>${data.antagonistRemarks}</td>
                                        <td>${data.rightFollicles}</td>
                                        <td>${data.leftFollicles}</td>
                                        <td>${data.endometrium}</td>
                                        <td>${data.e2}</td>
                                        <td>${data.p4}</td>
                                        <td>${data.advice}</td>
                                        <td>${data.repeatDosage}</td>
                                        <td><button type="button" class="btn btn-edit">Edit</button></td>
                                    `);
                                }
                            
                                // Function to handle the Edit button click
                                $(document).on('click', '.btn-edit', function() {
                                    const rowIndex = $(this).closest('tr').index();
                                    console.log(rowIndex);
                                    console.log(stimulationData)
                                    const rowData = allStimulationData[rowIndex];
                                    console.log(rowData+"vv")   
                            
                                    // Populate the modal fields with the row data
                                    $('#ccDrugName').val(rowData.ccDrugName);
                                    $('#ccDosage').val(rowData.ccDosage);
                                    $('#ccQuantity').val(rowData.ccQuantity);
                                    $('#ccRemarks').val(rowData.ccRemarks);
                                    $('#rFshDrugName').val(rowData.rFshDrugName);
                                    $('#rFshDosage').val(rowData.rFshDosage);
                                    $('#rFshQuantity').val(rowData.rFshQuantity);
                                    $('#rFshRemarks').val(rowData.rFshRemarks);
                                    $('#antagonistDrugName').val(rowData.antagonistDrugName);
                                    $('#antagonistDosage').val(rowData.antagonistDosage);
                                    $('#antagonistQuantity').val(rowData.antagonistQuantity);
                                    $('#antagonistRemarks').val(rowData.antagonistRemarks);
                                    $('#rightFollicles').val(rowData.rightFollicles);
                                    $('#leftFollicles').val(rowData.leftFollicles);
                                    $('#endometrium').val(rowData.endometrium);
                                    $('#e2').val(rowData.e2);
                                    $('#p4').val(rowData.p4);
                                    $('#advice').val(rowData.advice);
                                    $('#repeatDosage').prop('checked', rowData.repeatDosage);
                            
                                    // Show the modal
                                    $('#myModal').modal('show');
                                });
                            });
                            </script>
                            
                            
                            


                        
                        
                        
                        