<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>LifeLinkr</title>

    <%- include('../header'); -%>
        <!-- //header-ends -->
        <!-- main content start -->
        <div class="main-content">

            <div class="row content-top-gap2">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light bg-white">
                        <a class="navbar-brand text-center mr-5" href="#">
                            <span class="dash-icon"><i class="fas fa-tachometer-alt"></i></span>
                            Dashboard
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item active text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="far fa-user"></i></span>
                                        Master
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-exchange-alt"></i></span>
                                        Transaction
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-hand-holding-medical"></i></span>
                                        Patient 360
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-receipt"></i></span>
                                        Outside Reciept
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-file-invoice"></i></span>
                                        Outpatient Department
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-chart-line"></i></span>
                                        Analytics
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="far fa-clock"></i></span>
                                        Waiting List
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-wrench"></i></span>
                                        Adminstration
                                    </a>
                                </li>
                                <li class="nav-item text-center">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-spinner"></i></span>
                                        Additional
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- content -->
            <div class="container-fluid">

                <div class="chart">
                    <div class="row">

                        <div class="col-lg-12 pl-lg-0 mt-2 ml-2">
                            <h4 class="primary">Camp Master</h4>
                        </div>
                        <div class="col-lg-12 pl-lg-2 chart-grid">
                            <form>
                                <div class="card card_border">
                                    <div class="">
                                        <!--Past your code here starts-->

                                        <div class="card">

                                            <div class="card-body">

                                                <div class="form-row">
                                                    <div class="col-5 mb-2">
                                                        <div class="form-group"><label
                                                                class="input__label">Description</label><input
                                                                name="description" type="text" id="searchBox"
                                                                class="form-control input-style" placeholder=""></div>
                                                    </div>

                                                </div>

                                                <div class="form-row mb-1">
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <div class="pl-xl-0">
                                                                <h6 class="primary">LIST OF CAMP MASTER
                                                                </h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-row">
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <div class="col col-12 pr-xl-0 pl-xl-0">
                                                                <div class="slidx">

                                                                    <table class="table2" id="data-table">
                                                                        <thead>
                                                                            <tr>
                                                                                <th contenteditable="true" width="15%">
                                                                                    View</th>
                                                                                <th contenteditable="true" width="15%">
                                                                                    Code</th>
                                                                                <th contenteditable="true">Description
                                                                                </th>

                                                                                <th contenteditable="true" width="15%">
                                                                                    Status</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody id="categtable">
                                                                            <!-- <tr>
                                                                                <td contenteditable="true"><button
                                                                                    type="submit"
                                                                                    class="btn btn-primary btn-style btn-change">View</button>
                                                                                </td>
                                                                                <td contenteditable="true">01
                                                                                </td>
                                                                                <td contenteditable="true">Biochemistry
                                                                                </td>
                                                                                <td contenteditable="true"><input
                                                                                    class="form-check-input mt-1"
                                                                                    type="checkbox" id="gridCheck1">
                                                                                </td>
                                                                            </tr>

                                                                            <tr>
                                                                                <td contenteditable="true"><button
                                                                                    type="submit"
                                                                                    class="btn btn-primary btn-style btn-change">View</button>
                                                                                </td>
                                                                                <td contenteditable="true">02
                                                                                </td>
                                                                                <td contenteditable="true">Immunoassy
                                                                                </td>
                                                                                <td contenteditable="true"><input
                                                                                    class="form-check-input mt-1"
                                                                                    type="checkbox" id="gridCheck1">
                                                                                </td>
                                                                            </tr> -->
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                                <div id="paginationControls"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <!--Past your code here ends-->
                                    </div>
                                </div>
                                <div class="form-group mt-1 mb-3 text-right">

                                    <button type="button" class="btn-success btn-style btn mt-3 mr-2"
                                        disabled><strong><i class="fa-regular fa-pen-to-square"></i>
                                            Modify</strong></button>

                                    <button type="button" class="btn-secondary btn-style btn mt-3 mr-2"
                                        onclick="window.location.href='/patient/28'"><strong><i
                                                class="fa-solid fa-plus"></i> New</strong></button>

                                    <button type="button" class="btn-danger btn-style btn mt-3 mr-2" disabled><strong><i
                                                class="fas fa-times"></i> Cancel</strong></button>

                                    <button type="button" class="btn-primary btn-style btn mt-3" disabled><strong><i
                                                class="far fa-save"></i>
                                            Save</strong></button>

                                </div>
                            </form>
                        </div>
                        <!--footer section start-->
                        <%- include('../footer'); -%>

                            <script>
                                function encryptDataForUrl(data) {
                                    const secretKey = 'll'; // Replace with your actual secret key
                                    const encrypted = CryptoJS.AES.encrypt(data, secretKey).toString();
                                    const encodedEncrypted = encodeURIComponent(encrypted);
                                    return encodedEncrypted;
                                }

                                function decryptData(encryptedData, secretKey) {
                                    const bytes = CryptoJS.AES.decrypt(encryptedData, secretKey);
                                    return bytes.toString(CryptoJS.enc.Utf8);
                                }


                            </script>
                            <script type="module">
                                // Assuming crypto-functions.js is in the same directory

                                import { pagi_search } from '../javascripts/pagi_search.js';
                                import { updateStatus } from '../javascripts/statusUpdate.js'


                                $(document).ready(function () {
                                    console.log("Document is ready");

                                    function fetchData() {
                                        axios.get('/patient/getCampMaster')
                                            .then(function (response) {
                                                console.log(response.data);
                                                let data = response.data;
                                                let tableRows = '';

                                                data.forEach(function (item) {
                                                    tableRows += `
                        <tr data-dept-id="${item.id}" >
                            <td >
                                <button type="button" id="view-btn" class="btn btn-primary btn-style btn-change">View</button>
                            </td>
                            <td>${item.code}</td>
                            <td>${item.description}</td>
                            <td><input class="form-check-input mt-0 status-checkbox" id="status-checkbox" type="checkbox"  data-id="${item.id}" ${item.status ? 'checked' : ''}></td>
                        </tr>
                    `;
                                                });

                                            




                                                $('#categtable').on('click', '#view-btn', function () {
                                                    const deptId = $(this).closest('tr').data('dept-id');

                                                    const encryptedId = encryptDataForUrl(`${deptId}`)

                                                    axios.get('/patient/28', {
                                                        params: {
                                                            dept_id: encryptedId
                                                        }
                                                    })
                                                        .then(response => {
                                                            // console.log('Success:', response.data);
                                                            window.location.href = `/patient/28?dept_id=${encryptedId}`;

                                                        })
                                                        .catch(error => {
                                                            console.error('Error:', error);
                                                        });
                                                });
                                                $('#categtable').html(tableRows);
                                                pagi_search('#searchBox', '#data-table', '#paginationControls');
                                            })
                                            .catch(function (error) {
                                                console.error('Error fetching data:', error);
                                            });
                                    }

                                    $('#categtable').on('click','#status-checkbox', function () {
                                                    const itemId = $(this).data('id');
                                                    const isChecked = $(this).is(':checked');
                                                    console.log(itemId + isChecked)
                                                    updateStatus(itemId, isChecked, 'CampMaster');
                                                });
                                    fetchData();
                                });
                            </script>