<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>LifeLinker</title>

  <%- include('../header'); -%>
    <!-- main content start -->
    <div class="main-content">

      <div class="row content-top-gap2">
        <div class="col-lg-12">
          <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <a class="navbar-brand text-center mr-5" href="#">
              <span class="dash-icon"><i class="fas fa-tachometer-alt"></i></span>
              Dashboard
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active text-center mr-5">
                  <a class="nav-link" href="#">
                    <span class="dash-icon"><i class="far fa-user"></i></span>
                    Master
                  </a>
                </li>
                <li class="nav-item text-center mr-5">
                  <a class="nav-link" href="#">
                    <span class="dash-icon"><i class="fas fa-exchange-alt"></i></span>
                    Transaction
                  </a>
                </li>
                <li class="nav-item text-center mr-5">
                  <a class="nav-link" href="#">
                    <span class="dash-icon"><i class="fas fa-hand-holding-medical"></i></span>
                    Patient 360
                  </a>
                </li>
                <li class="nav-item text-center mr-5">
                  <a class="nav-link" href="#">
                    <span class="dash-icon"><i class="fas fa-receipt"></i></span>
                    Outside Reciept
                  </a>
                </li>
                <li class="nav-item text-center mr-5">
                  <a class="nav-link" href="#">
                    <span class="dash-icon"><i class="fas fa-file-invoice"></i></span>
                    Outpatient Department
                  </a>
                </li>
                <li class="nav-item text-center mr-5">
                  <a class="nav-link" href="#">
                    <span class="dash-icon"><i class="fas fa-chart-line"></i></span>
                    Analytics
                  </a>
                </li>
                <li class="nav-item text-center mr-5">
                  <a class="nav-link" href="#">
                    <span class="dash-icon"><i class="far fa-clock"></i></span>
                    Waiting List
                  </a>
                </li>
                <li class="nav-item text-center mr-5">
                  <a class="nav-link" href="#">
                    <span class="dash-icon"><i class="fas fa-wrench"></i></span>
                    Adminstration
                  </a>
                </li>
                <li class="nav-item text-center">
                  <a class="nav-link" href="#">
                    <span class="dash-icon"><i class="fas fa-spinner"></i></span>
                    Additional
                  </a>
                </li>

              </ul>
            </div>
          </nav>
        </div>
      </div>
      <!-- content -->
      <div class="container-fluid">

        <div class="chart">
          <div class="row">

            <div class="col-lg-12 pl-lg-0 mt-2 ml-2">
              <h4 class="primary">Item</h4>
            </div>
            <div class="col-lg-12 pl-lg-2 chart-grid">
              <form>
                <div class="card card_border">
                  <div class="">
                    <!--Past your code here starts-->

                    <div class="card">

                      <!-- <div class="card-body"> -->

                      <div class="form-row pl-lg-3 pr-lg-3 mt-2 mb-3">
                        <div class="col-5 mb-2">
                          <div class="form-group"><label class="input__label">Item Name</label><input name="description"
                              type="text" id="searchBox" class="form-control input-style" placeholder=""></div>
                        </div>
                        <div class="col-5 mb-2">
                          <div class="form-group"><label class="input__label">Item Code</label><input name="description"
                              type="text" class="form-control input-style" placeholder=""></div>
                        </div>
                        <div class="col-2 mb-2">
                          <div class="form-group"><button type="button"
                              class="btn btn-style mt-4 btn-primary btn-style btn-change"><strong><i
                                  class="fas fa-search"></i>
                                Search</strong></button></div>
                        </div>
                      </div>

                      <div class="form-row pl-lg-3 pr-lg-3 mt-1 mb-1">
                        <div class="col-12">
                          <div class="form-group">
                            <div class="pl-xl-0">
                              <h6 class="primary">LIST OF ITEM DETAILS</h6>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="form-row pl-lg-3 pr-lg-3 mt-2 mb-3">
                        <div class="col-12">
                          <div class="form-group">
                            <div class="col col-12 pr-xl-0 pl-xl-0">
                              <div class="slidx">

                                <table class="table2" id="tableid">
                                  <thead>
                                    <tr>
                                      <th contenteditable="true">View</th>
                                      <th contenteditable="true">Item Code</th>
                                      <th contenteditable="true">Item Name</th>
                                      <th contenteditable="true">Molecule Name</th>
                                      <th contenteditable="true">Item Group</th>
                                      <th contenteditable="true">Item Category</th>
                                      <th contenteditable="true">Manufactured By</th>
                                      <th contenteditable="true">Purchase UOM</th>
                                      <th contenteditable="true">Discount On Sale</th>
                                    </tr>
                                  </thead>
                                  <tbody id="item-body">

                                  </tbody>
                                </table>
                                <div id="paginationControls"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- </div> -->
                    </div>

                    <!--Past your code here ends-->
                  </div>
                </div>
                <div class="form-group mt-1 mb-3 text-right">

                  <button type="button" id="location" disabled class="btn-primary btn-style btn mt-3 mr-2"
                    data-bs-toggle="modal" data-bs-target="#itemDetailsModal"><strong>Location</strong></button>
                  <button type="button" disabled data-bs-toggle="modal" id="conversion"
                    data-bs-target="#uomConversionModal"
                    class="btn-primary btn-style btn mt-3 mr-2"><strong>Conversion</strong></button>
                  <button type="button" disabled data-bs-toggle="modal" id="applySupplier"
                    data-bs-target="#itemSupplierModal" class="btn-secondary btn-style btn mt-3 mr-2"><strong>Apply
                      Supplier</strong></button>
                  <button type="button" disabled data-bs-toggle="modal" id="storeAndTax"
                    data-bs-target="#itemStoreModal" class="btn-secondary btn-style btn mt-3 mr-2"><strong>Apply
                      Store and Tax</strong></button>

                  <button type="button" disabled id="otherDetails" data-bs-toggle="modal"
                    data-bs-target="#itemDetailsModalOtherDetails"
                    class="btn-success btn-style btn mt-3 mr-2"><strong>Other
                      Details</strong></button>

                  <button type="button" onclick="window.location.href='/adminInv/21'"
                    class="btn-secondary btn-style btn mt-3 mr-2"><strong><i class="fa-solid fa-plus"></i>
                      New</strong></button>

                  <button type="button" onclick="deselectSelectedRow()"
                    class="btn-danger btn-style btn mt-3 mr-2"><strong><i class="fas fa-times"></i>
                      Cancel</strong></button>

                  <button type="button" disabled class="btn-primary btn-style btn mt-3"><strong><i class="far fa-save"></i>
                      Save</strong></button>

                </div>
              </form>
            </div>

            <!-- The Supplier Modal -->
            <div class="modal fade" id="itemSupplierModal" tabindex="-1" aria-labelledby="itemSupplierModalLabel"
              aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h5 class="modal-title" id="itemSupplierModalLabel"></h5>
                    <button type="button" data-bs-dismiss="modal" aria-label="Close"><i
                        class="fa-solid fa-xmark"></i></button>
                  </div>

                  <!-- Modal Body -->
                  <form id="itemSupplierForm">
                    <div class="modal-body">
                      <div class="chart">
                        <div class="row">
                          <div class="col-lg-12 pl-lg-0 mt-2 ml-2">
                            <h4 class="primary">Item Supplier</h4>
                          </div>
                          <div class="col-lg-12 pl-lg-2 chart-grid">

                            <div class="card card_border">
                              <div class="">
                                <div class="card">
                                  <div class="col-xl-12 p-heading">
                                    <h6 class="p-text" id="itemNameSupp"></h6>
                                  </div>

                                  <div class="pl-xl-3 mt-2">
                                    <h6 class="primary">Apply Supplier</h6>
                                  </div>

                                  <div class="form-row pl-lg-3 pr-lg-3 mt-2 mb-3">
                                    <div class="col-12">
                                      <div class="form-group">
                                        <div class="col col-12 pr-xl-0 pl-xl-0">
                                          <div class="slidx">

                                            <div id="errordiv5"></div>
                                            <input type="hidden" name="itemCode" id="item_code_location">
                                            <table class="table2">
                                              <thead>
                                                <tr>
                                                  <th>Select</th>
                                                  <th>Supplier Description</th>
                                                </tr>
                                              </thead>
                                              <tbody id="suppTblBody">
                                                <!-- Dynamically populated rows will go here -->
                                              </tbody>
                                            </table>



                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="form-group mt-1 mb-3 text-right">
                              <button type="button" class="btn-danger btn-style btn mt-3 mr-2"
                                onclick="clearErrorDiv5()" data-bs-dismiss="modal"><strong><i class="fas fa-times"></i>
                                  Close</strong></button>
                              <button type="submit" class="btn-primary btn-style btn mt-3"><strong><i
                                    class="far fa-save"></i> Save</strong></button>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>


            <!-- The store Modal -->
            <!-- Modal Structure -->
            <div class="modal fade" id="itemStoreModal" tabindex="-1" aria-labelledby="itemStoreModalLabel"
              aria-hidden="true">
              <div class="modal-dialog modal-xl"> <!-- Larger modal for more content -->
                <div class="modal-content">
                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h5 class="modal-title" id="itemStoreModalLabel">Item Store</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i
                        class="fa-solid fa-xmark"></i></button>
                  </div>

                  <!-- Modal Body -->
                  <div class="modal-body">
                    <div class="chart">
                      <div class="row">
                        <div class="col-lg-12 pl-lg-0 mt-2 ml-2">
                          <h4 class="primary" id="itemNameStoreTax"></h4>
                        </div>
                        <div class="col-lg-12 pl-lg-2 chart-grid">
                          <form>
                            <div class="card card_border">
                              <div class="card">
                                <div class="col-xl-12 p-heading">
                                  <h6 class="p-text" id="itemNameStore"></h6>
                                </div>
                                <div class="form-row pl-lg-2">
                                  <div class="col-lg-11 col-md-9 col-sm-9 mb-2">
                                    <div class="form-group">
                                      <label class="input__label">Clinic</label>
                                      <select name="clinic" id="clinic" class="form-control input-style">
                                        <option value="">Select</option>
                                      </select>
                                    </div>
                                  </div>
                                  <div class="col-lg-1 col-md-3 col-sm-3 mb-2">
                                    <button type="button" id="searchButton"
                                      class="btn btn-style mt-4 btn-primary btn-style btn-change">
                                      <strong><i class="fas fa-search"></i> Search</strong>
                                    </button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>

                        <!-- Store Section -->
                        <div class="mt-1 col-lg-6 pl-lg-2">
                          <div class="card card_border">
                            <div class="mb-1">
                              <div class="form-group">
                                <div class="col-xl-12 p-heading">
                                  <h6 class="p-text">STORE</h6>
                                </div>
                              </div>
                            </div>

                            <div class="form-row">
                              <div class="col-12 mb-3 pl-lg-3 pr-lg-3">
                                <div class="slidex">
                                  <div class="pl-4"><input class="mt-1" type="checkbox" id="selectAll">
                                    <label class="form-check-label mb-2" for="selectAll"> Select all</label>
                                  </div>
                                  <form id="ItemStoreMinMaxForm">
                                    <div id="errordiv6"></div>
                                    <table class="table2">
                                      <thead>
                                        <tr>
                                          <th width="15%">Select</th>
                                          <th>Store Name</th>
                                          <th width="50%">Minimum</th>
                                          <th width="10%">Maximum</th>
                                          <th width="10%">ReOrder</th>
                                        </tr>
                                      </thead>
                                      <tbody id="StoreTaxTblBody">

                                        <!-- Additional rows -->
                                      </tbody>
                                    </table>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="form-group mt-1 mb-3 text-right">
                            <button type="submit" class="btn-success btn-style btn mt-3"><strong><i
                                  class="fa-regular fa-pen-to-square"></i> Modify Store</strong></button>
                          </div>
                          </form>
                        </div>

                        <!-- Tax Section -->
                        <div class="mt-1 col-lg-6">
                          <div class="card card_border">
                            <div class="form-row">
                              <div class="col-12 mb-3 mt-3 pl-lg-3 pr-lg-3">
                                <div class="slidex">
                                  <table class="table2" class="slidex">
                                    <thead>
                                      <tr>
                                        <th>Store</th>
                                        <th>TaxName</th>
                                        <th>Applicable For</th>
                                        <th>Applicable On</th>
                                        <th>Percentage</th>
                                        <th>Tax Type</th>
                                        <th>Delete</th>
                                      </tr>
                                    </thead>
                                    <tbody id="storeTaxTblBody">

                                    </tbody>
                                  </table>
                                </div>
                              </div>

                            </div>
                            <div class="mb-1">
                              <div class="form-group">
                                <div class="col-xl-12 p-heading">
                                  <h6 class="p-text">ADD TAX</h6>
                                </div>
                              </div>
                            </div>
                            <form id="itemStoreTax">
                              <div id="errordiv4"></div>
                              <input type="hidden" name="itemCode" id="item_code_store_tax">
                              <div class="form-row pl-lg-3 pr-lg-3">
                                <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                  <div class="form-group"><label class="input__label">Store</label><select name="store"
                                      id="store_tax" data-validation="required" data-error-message="Store is required"
                                      class="form-control input-style">
                                      <option value="">Select</option>
                                      <!-- <option value="0">0</option> -->
                                             
                                    </select></div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                  <div class="form-group"><label class="input__label">Tax</label><select name="tax"
                                      id="tax" data-validation="required" data-error-message="Tax is required"
                                      class="form-control input-style">
                                      <option value="">Select</option>
                                             
                                    </select></div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                  <div class="form-group"><label class="input__label">Applicable For</label><select
                                      name="applicable_for" data-validation="required"
                                      data-error-message="Applicable For is required" class="form-control input-style">
                                      <option value="">Select</option>
                                      <option value="Purchase Rate">Purchase Rate</option>
                                      <option value="Sale Rate">Sale Rate</option>
                                             
                                    </select></div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                  <div class="form-group"><label class="input__label">Applicable On</label><select
                                      name="applicable_on" data-validation="required"
                                      data-error-message="Applicable On is required" class="form-control input-style">
                                      <option value="">Select</option>
                                      <option value="Purchase Rate">Purchase Rate</option>
                                      <option value="Sale Rate">Sale Rate</option>
                                      <option value="MRP">MRP</option>
                                             
                                    </select></div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                  <div class="form-group"><label class="input__label">Percentage</label><select
                                      name="percentage" data-validation="required"
                                      data-error-message="Percentages required" class="form-control input-style">
                                      <option value="">Select</option>
                                      <option value="2.2">2.2%</option>
                                      <option value="5">5%</option>
                                      <option value="6">6%</option>
                                      <option value="9">9%</option>
                                      <option value="12">12%</option>
                                      <option value="14">14%</option>
                                      <option value="18">18%</option>
                                      <option value="28">28%</option>
                                             
                                    </select></div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                  <div class="form-group ml-4 mt-4">
                                    <input class="form-check-input my-2" type="radio" name="taxType" id="inclusive"
                                      value="Inclusive">
                                    <label class="form-check-label" for="inclusive">Inclusive</label>
                                  </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                  <div class="form-group ml-4 mt-4">
                                    <input class="form-check-input my-2" type="radio" name="taxType" id="exclusive"
                                      value="Exclusive">
                                    <label class="form-check-label" for="exclusive">Exclusive</label>
                                  </div>
                                </div>




                              </div>
                          </div>
                        </div>


                      </div>
                    </div>
                  </div>

                  <!-- Modal Footer -->
                  <div class="modal-footer">
                    <button type="submit" class="btn-secondary btn-style btn"><strong><i class="fa-solid fa-plus"></i>
                        Add Tax</strong></button>
                    <button type="button" class="btn-danger btn-style btn" data-bs-dismiss="modal"><strong><i
                          class="fas fa-times"></i> Close</strong></button>
                  </div>
                  </form>
                </div>
              </div>
            </div>


            <!-- Location modal -->

            <div class="modal fade" id="itemDetailsModal" tabindex="-1" aria-labelledby="itemDetailsModalLabel"
              aria-hidden="true">
              <div class="modal-dialog modal-lg"> <!-- Use modal-xl for a wider modal -->
                <div class="modal-content">
                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h5 class="modal-title" id="itemDetailsModalLabel">Item Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i
                        class="fa-solid fa-xmark"></i></button>
                  </div>

                  <!-- Modal Body -->
                  <div class="modal-body">
                    <div class="chart">
                      <div class="row">
                        <div class="col-lg-12 pl-lg-0 mt-2 ml-2">
                          <h4 class="primary" id="itemName"></h4>
                        </div>
                        <div class="col-lg-12 pl-lg-2 chart-grid">
                          <form>

                            <div class="card card_border">
                              <div class="card">
                                <div class="col-xl-12 p-heading">
                                  <h6 class="p-text">STORE WISE LOCATION DETAILS LIST</h6>
                                </div>
                                <div class="form-row pl-lg-3 pr-lg-3 mt-3 mb-3">
                                  <div class="col-12">
                                    <div class="form-group">
                                      <div class="col col-12 pr-xl-0 pl-xl-0">
                                        <div class="slidx">
                                          <table class="table2">
                                            <thead>
                                              <tr>
                                                <th contenteditable="true">Modify</th>
                                                <th contenteditable="true">Store Name</th>
                                                <th contenteditable="true">Rack</th>
                                                <th contenteditable="true">Shelf</th>
                                                <th contenteditable="true">Bin</th>
                                                <th contenteditable="true"></th>
                                              </tr>
                                            </thead>
                                            <tbody id="locationTblBody">

                                            </tbody>
                                          </table>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>

                        <div class="mt-1 col-lg-12 pl-lg-2 pr-lg-3">
                          <div class="card card_border">
                            <div class="mb-1">
                              <div class="form-group">
                                <div class="col-xl-12 p-heading">
                                  <h6 class="p-text">STORE AND LOCATION SELECTION</h6>
                                </div>
                              </div>
                            </div>

                            <form id="itemLocationForm">
                              <div id="errordiv1"></div>
                              <input type="hidden" id="itemCode" name="itemCode">
                              <div class="form-row pl-lg-3 pr-lg-3">
                                <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
                                  <div class="form-group">
                                    <label class="input__label">Store</label>
                                    <select name="store" class="form-control input-style" id="store"
                                      data-validation="required" data-error-message="Store is required.">
                                      <option value="">Select</option>
                                      <!-- Additional options -->
                                    </select>
                                  </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
                                  <div class="form-group">
                                    <label class="input__label">Rack</label>
                                    <select name="rack" class="form-control input-style" id="rack"
                                      data-validation="required" data-error-message="Rack is required.">
                                      <option value="">Select</option>
                                      <!-- Additional options -->
                                    </select>
                                  </div>
                                </div>
                                <!-- Additional select rows for Shelf and Bin -->
                              </div>

                              <div class="form-row pl-lg-3 pr-lg-3">
                                <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
                                  <div class="form-group">
                                    <label class="input__label">Shelf</label>
                                    <select name="shelf" class="form-control input-style" id="shelf"
                                      data-validation="required" data-error-message="Shelf is required.">
                                      <option value="">Select</option>
                                      <!-- Additional options -->
                                    </select>
                                  </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
                                  <div class="form-group">
                                    <label class="input__label">Bin</label>
                                    <select name="bin" class="form-control input-style" id="bin"
                                      data-validation="required" data-error-message="Bin is required.">
                                      <option value="">Select</option>
                                      <!-- Additional options -->
                                    </select>
                                  </div>
                                </div>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Modal Footer -->
                  <div class="modal-footer">
                    <button type="submit" class="btn-primary btn-style btn"><strong><i class="far fa-save"></i>
                        Save</strong></button>
                    <button type="button" class="btn-danger btn-style btn" data-bs-dismiss="modal"><strong><i
                          class="fas fa-times"></i> Close</strong></button>
                  </div>
                </div>
              </div>
            </div>
            </form>
            <!-- Conversions -->
            <div class="modal fade" id="uomConversionModal" tabindex="-1" aria-labelledby="uomConversionModalLabel"
              aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h5 class="modal-title" id="uomConversionModalLabel">UOM Conversions</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i
                        class="fa-solid fa-xmark"></i></button>
                  </div>

                  <!-- Modal Body -->
                  <div class="modal-body">
                    <div class="chart">
                      <div class="row">
                        <div class="col-lg-12 pl-lg-0 mt-2 ml-2">
                          <h4 class="primary">Conversions</h4>
                        </div>
                        <div class="col-lg-12 pl-lg-2 chart-grid">
                          <form>
                            <div class="card card_border">
                              <div class="col-xl-12 p-heading">
                                <h6 class="p-text" id="itemNameConv"></h6>
                              </div>

                              <div class="mb-1 mt-3 ml-3">
                                <h6 class="primary">Selected UOM</h6>
                              </div>
                              <div class="form-row pl-lg-3 pr-lg-3">
                                <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
                                  <div class="form-group">
                                    <label class="input__label">Purchase UOM</label>
                                    <select name="purchase_uom" disabled id="purchase_uom"
                                      class="form-control input-style">
                                      <option>Select</option>
                                      <!-- Additional options -->
                                    </select>
                                  </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 mb-2">
                                  <div class="form-group">
                                    <label class="input__label">Sale UOM</label>
                                    <select name="sale_uom" disabled id="sale_uom" class="form-control input-style">
                                      <option>Select</option>
                                      <!-- Additional options -->
                                    </select>
                                  </div>
                                </div>
                              </div>
                              <div class="form-row pl-lg-3 pr-lg-3">
                                <div class="col-lg-6 col-md-6 col-sm-12 mb-2">
                                  <div class="form-group">
                                    <label class="input__label">Stock UOM</label>
                                    <select name="stock_uom" disabled class="form-control input-style" id="stock_uom">
                                      <option>Select</option>
                                      <!-- Additional options -->
                                    </select>
                                  </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 mb-2">
                                  <div class="form-group">
                                    <label class="input__label">Base UOM</label>
                                    <select name="base_uom" disabled id="base_uom" class="form-control input-style">
                                      <option>Select</option>
                                      <!-- Additional options -->
                                    </select>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>

                        <div class="mt-1 col-lg-12 pl-lg-2 pr-lg-3">
                          <div class="card card_border">
                            <div class="mb-3">
                              <div class="form-group">
                                <div class="col-xl-12 p-heading">
                                  <h6 class="p-text">LIST OF CONVERSIONS</h6>
                                </div>
                              </div>
                            </div>
                            <div class="form-row">
                              <div class="col-lg-12 col-md-12 col-sm-12 mb-3 pl-lg-4 pr-lg-4">
                                <div class="slidx">
                                  <table class="table2">
                                    <thead>
                                      <tr>
                                        <th width="20%">From UOM</th>
                                        <th>To UOM</th>
                                        <th>Conversion Factor</th>
                                      </tr>
                                    </thead>
                                    <tbody id="convTblBodu">

                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="mt-4 col-lg-12 pl-lg-2 pr-lg-3">
                          <div class="card card_border">
                            <div class="form-group">
                              <div class="col-xl-12 p-heading">
                                <h6 class="p-text">ADD UOM</h6>
                              </div>
                            </div>
                            <form id="itemConvForm">
                              <div id="errordiv2"></div>
                              <input type="hidden" name="itemCode" id="item_code_conv">
                              <div class="form-row pl-lg-3 pr-lg-3 mb-3">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                  <div class="form-group">
                                    <label class="input__label">From UOM</label>
                                    <select name="from_uom" id="from_uom" class="form-control input-style"
                                      data-validation="required" data-error-message="From UOM is required.">
                                      <option value="">Select</option>
                                      <!-- Additional options -->
                                    </select>
                                  </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                  <div class="form-group">
                                    <label class="input__label">To UOM</label>
                                    <select name="to_uom" id="to_uom" class="form-control input-style"
                                      data-validation="required" data-error-message="To UOM is required.">
                                      <option value="">Select</option>


                                    </select>
                                  </div>
                                </div>
                              </div>
                              <div class="form-row pl-lg-3 pr-lg-3 mb-3">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                  <div class="form-group">
                                    <label class="input__label">Conversion Factor</label>
                                    <input name="conversion_factor" data-validation="required"
                                      data-error-message="Conversion Factor is required." type="number"
                                      class="form-control input-style" placeholder="">
                                  </div>
                                </div>
                              </div>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Modal Footer -->
                  <div class="modal-footer">
                    <button type="submit" class="btn-primary btn-style btn"><strong><i class="far fa-save"></i>
                        Save</strong></button>
                    <button type="button" class="btn-danger btn-style btn" data-bs-dismiss="modal"><strong><i
                          class="fas fa-times"></i> Close</strong></button>
                  </div>
                  </form>
                </div>
              </div>
            </div>

            <!-- Other Details Model -->
            <!-- Modal -->
            <div class="modal fade" id="itemDetailsModalOtherDetails" tabindex="-1"
              aria-labelledby="itemDetailsModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-md"> <!-- Use modal-xl for a wider modal -->
                <div class="modal-content">
                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h5 class="modal-title" id="itemDetailsModalLabel">Item Other Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i
                        class="fa-solid fa-xmark"></i></button>
                  </div>

                  <!-- Modal Body -->
                  <form id="itemOtherDetails">
                    <div id="errordiv3"></div>
                    <input type="hidden" name="itemCode" id="item_code_othr">
                    <div class="modal-body">
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 mb-3">
                          <div class="form-group">
                            <label class="input__label">Item Name</label>
                            <h6 class="p-text" id="itemNameOther"></h6>
                          </div>
                          <div class="form-group">
                            <label class="input__label">Contra Indication</label>
                            <textarea name="contra_indication" id="contra_indication" data-validation="required"
                              data-error-message=" Contra Indication is request" class="form-control input-style"
                              placeholder=""></textarea>
                          </div>
                          <div class="form-group">
                            <label class="input__label">Side Effects</label>
                            <textarea name="side_effects" id="side_effects" class="form-control input-style"
                              data-validation="required" data-error-message=" Side Effects is request"
                              placeholder=""></textarea>
                          </div>
                          <div class="form-group">
                            <label class="input__label">Help URL</label>
                            <input name="help_url" id="help_url" type="text" class="form-control input-style"
                              placeholder="">
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Modal Footer -->
                    <div class="modal-footer">
                      <button type="submit" class="btn-primary btn-style btn"><strong><i class="far fa-save"></i>
                          Save</strong></button>
                      <button type="button" class="btn-danger btn-style btn" data-bs-dismiss="modal"
                        onclick="clearErrorDiv3()"><strong><i class="fas fa-times"></i> Close</strong></button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <!--footer section start-->
            <%- include('../footer'); -%>

              <script>
                // Clear error div content and classes
                function clearErrorDiv5() {
                  $('#errordiv5').removeClass('alert-success alert-danger').text('');
                }
              </script>

              <script type="module">
                import { pagi_search } from '../javascripts/pagi_search.js';
                import { validateForm } from '../javascripts/validation.js';
                import { myAjax } from '../javascripts/myAjax.js';

                $(document).ready(function () {

                  // Load dropdown options for various elements
                  const loadDropdown = (url, elementId) => {
                    fetch(url)
                      .then(response => response.json())
                      .then(data => {
                        const dropdown = document.getElementById(elementId);
                        data.forEach(item => {
                          const option = document.createElement('option');
                          option.value = item.description || item.rank_desc || item.shelf_desc || item.bin_desc || item.clinic_desc || item.tax_desc;
                          option.textContent = item.description || item.rank_desc || item.shelf_desc || item.bin_desc || item.clinic_desc || item.tax_desc;
                          dropdown.appendChild(option);
                        });
                      })
                      .catch(error => console.error(`Error fetching ${elementId} details:`, error));
                  };

                  loadDropdown('/adminInv/get-rack-details', 'rack');
                  loadDropdown('/adminInv/get-shelf-details', 'shelf');
                  loadDropdown('/adminInv/get-bin-details', 'bin');
                  loadDropdown('/adminInv/get-clinic-details', 'clinic');
                  loadDropdown('/adminInv/get-store-details', 'store');
                  // loadDropdown('/adminInv/get-store-details', 'store_tax');
                  loadDropdown('/adminInv/get-UOM-details', 'purchase_uom');
                  loadDropdown('/adminInv/get-UOM-details', 'stock_uom');
                  loadDropdown('/adminInv/get-UOM-details', 'base_uom');
                  loadDropdown('/adminInv/get-UOM-details', 'sale_uom');
                  loadDropdown('/adminInv/get-UOM-details', 'from_uom');
                  loadDropdown('/adminInv/get-UOM-details', 'to_uom');
                  loadDropdown('/adminInv/get-tax-details', 'tax');

                  // Fetch and display item details
                  const fetchData = () => {
                    $.ajax({
                      url: '/admininv/get-item-details',
                      type: 'GET',
                      success: function (data) {
                        let tableRows = data.reverse().map(item => `
                        <tr data-item-id="${item.id}">
                          <td><button type="button" id="view_btn" class="btn btn-primary btn-style btn-change">View</button></td>
                          <td>${item.item_code}</td>
                          <td>${item.item_name}</td>
                          <td>${item.molecule_name}</td>
                          <td>${item.item_group}</td>
                          <td>${item.item_category}</td>
                          <td>${item.manufactured_by}</td>
                          <td>${item.purchase_uom}</td>
                          <td>${item.discount_on_sale}</td>
                          <td style="display:none;">
                            <input type="hidden" name="base_uom" value="${item.base_uom}">
                            <input type="hidden" name="selling_uom" value="${item.selling_uom}">
                            <input type="hidden" name="stocking_uom" value="${item.stocking_uom}">
                          </td>
                        </tr>`).join('');

                        $('#item-body').html(tableRows);
                        pagi_search('#searchBox', '#tableid', '#paginationControls');

                        $('#item-body').on('click', '#view_btn', function() {
                    
                    const id=$(this).closest('tr').data('item-id')
                      const route='21'
                      const module='AdminInv'
                      ViewBtn(route,id,module)             // window.location.href = '/clinic/8' 
                           });
                           
                      },
                      error: function (xhr, status, error) {
                        console.error('Error fetching classification details:', error);
                      }
                    });
                  };

                  fetchData();

                  // Fetch and display stores by clinic
                  // Function to fetch stores by clinic and populate the table
                  const fetchStoresByClinic = clinic => {
                    axios.post('/adminInv/get-store-by-clinic', { clinic })
                      .then(response => {
                        let tableRows = '';
                        let storeDetailsPromises = response.data.map(item => {
                          return axios.post('/adminInv/route-to-fetch-details', { store_id: item.id })
                            .then(detailsResponse => ({
                              id: item.id,
                              code: item.code,
                              description: item.description,
                              isSelected: detailsResponse.data.isSelected,
                              min: detailsResponse.data.min,
                              max: detailsResponse.data.max,
                              reorder: detailsResponse.data.reorder
                            }))
                            .catch(() => ({
                              id: item.id,
                              code: item.code,
                              description: item.description,
                              isSelected: false,
                              min: '',
                              max: '',
                              reorder: ''
                            }));
                        });

                        Promise.all(storeDetailsPromises)
                          .then(allDetails => {
                            let selectedStores = [];
                            allDetails.forEach(detail => {
                              tableRows += `
                <tr data-item-id="${detail.id}">
                  <td><input class="mt-1" type="checkbox" name="isSelected" ${detail.isSelected ? 'checked' : ''}></td>
                  <input type="hidden" name="store_id" value="${detail.id}">
                  <input type="hidden" name="store_name" value="${detail.description}">
                  <td contenteditable="true">${detail.description}</td>
                  <td><input type="number" name="min" value="${detail.min}"></td>
                  <td><input type="number" name="max" value="${detail.max}"></td>
                  <td><input type="number" name="reorder" value="${detail.reorder}"></td>
                </tr>`;
                              if (detail.isSelected) {
                                selectedStores.push(detail.description);
                              }
                            });
                            document.getElementById('StoreTaxTblBody').innerHTML = tableRows;
                            updateStoreTaxDropdown(selectedStores);
                          })
                          .catch(error => console.error('Error fetching additional details:', error));
                      })
                      .catch(error => console.error('Error fetching stores:', error));
                  };

                  // Event listener for the Select All checkbox
                  const selectAllCheckbox = document.getElementById('selectAll');
                  selectAllCheckbox.addEventListener('change', function () {
                    const checkboxes = document.querySelectorAll('#StoreTaxTblBody input[type="checkbox"]');
                    checkboxes.forEach(checkbox => {
                      checkbox.checked = selectAllCheckbox.checked;
                    });
                    updateSelectedStores();
                  });

                  // Function to update the content of the store_tax dropdown based on selected checkboxes
                  const updateStoreTaxDropdown = (selectedStores) => {
                    const storeTaxDropdown = document.getElementById('store_tax');
                    storeTaxDropdown.innerHTML = '<option value="">Select</option>'; // Clear previous options

                    selectedStores.forEach(store => {
                      const option = document.createElement('option');
                      option.value = store;
                      option.textContent = store;
                      storeTaxDropdown.appendChild(option);
                    });
                  };

                  const updateSelectedStores = () => {
                    const selectedStores = Array.from(document.querySelectorAll('#StoreTaxTblBody input[type="checkbox"]:checked'))
                      .map(checkbox => checkbox.closest('tr').querySelector('td[contenteditable="true"]').textContent);
                    updateStoreTaxDropdown(selectedStores);
                  };

                  // Event listener for individual checkboxes to update the selected stores
                  document.getElementById('StoreTaxTblBody').addEventListener('change', function (event) {
                    if (event.target.type === 'checkbox') {
                      updateSelectedStores();
                    }
                  });

                  // Update Applicable On options based on Applicable For selection
                  const applicableForDropdown = document.querySelector('select[name="applicable_for"]');
                  const applicableOnDropdown = document.querySelector('select[name="applicable_on"]');
                  const allApplicableOnOptions = Array.from(applicableOnDropdown.options);

                  applicableForDropdown.addEventListener('change', function () {
                    const selectedValue = applicableForDropdown.value;
                    applicableOnDropdown.innerHTML = ''; // Clear the Applicable On dropdown

                    if (selectedValue === 'Purchase Rate') {
                      allApplicableOnOptions.forEach(option => {
                        if (option.value !== 'Sale Rate') {
                          applicableOnDropdown.appendChild(option);
                        }
                      });
                    } else if (selectedValue === 'Sale Rate') {
                      allApplicableOnOptions.forEach(option => {
                        if (option.value !== 'Purchase Rate') {
                          applicableOnDropdown.appendChild(option);
                        }
                      });
                    } else {
                      allApplicableOnOptions.forEach(option => {
                        applicableOnDropdown.appendChild(option);
                      });
                    }
                  });

                  // Fetch and render items
                  const fetchAndRenderItems = selectedRowCode => {
                    axios.post('/adminInv/get-Location-list', { code: selectedRowCode })
                      .then(response => {
                        let tableRows = response.data.map(item => `
                        <tr>
                          <td><a type="button" class="btn btn-primary btn-style btn-change">Modify</a></td>
                          <td>${item.store}</td>
                          <td>${item.rack}</td>
                          <td>${item.shelf}</td>
                          <td>${item.bin}</td>
                          <td><button type="button" class="btn btn-danger" onClick="deleteItem('${item.id}', '${selectedRowCode}')">Delete</button></td>
                        </tr>`).join('');
                        document.getElementById('locationTblBody').innerHTML = tableRows;
                      })
                      .catch(error => console.error('Error fetching details:', error));
                  };

                  // Fetch and render conversion items
                  const fetchAndRenderItemsConv = selectedRowCode => {
                    axios.post('/adminInv/get-conv-list', { code: selectedRowCode })
                      .then(response => {
                        let tableRows = response.data.map(item => `
                        <tr>
                          <td>${item.from_uom}</td>
                          <td>${item.to_uom}</td>
                          <td>${item.conversion_factor}</td>
                        </tr>`).join('');
                        document.getElementById('convTblBodu').innerHTML = tableRows;
                      })
                      .catch(error => console.error('Error fetching details:', error));
                  };

                  // Fetch and render suppliers
                  const fetchAndRenderItemsSupplier = selectedRowCode => {
                    axios.all([
                      axios.get('/adminInv/get-supplier-list-item'),
                      axios.post('/adminInv/get-item-suppliers', { itemCode: selectedRowCode })
                    ]).then(axios.spread((suppliersResponse, itemSuppliersResponse) => {
                      const allSuppliers = suppliersResponse.data;
                      const currentSupplierCodes = new Set(itemSuppliersResponse.data.map(supplier => supplier.supplierCode));

                      let tableRows = allSuppliers.map(item => `
                      <tr>
                        <td><input type="checkbox" name="suppliers" value="${item.code}" ${currentSupplierCodes.has(item.code) ? 'checked' : ''}></td>
                        <td>${item.description}</td>
                      </tr>`).join('');

                      document.getElementById('suppTblBody').innerHTML = tableRows;
                      document.getElementById('itemCode').value = selectedRowCode;
                    })).catch(error => console.error('Error fetching details:', error));
                  };

                  // Fetch and render store tax items
                  const fetchAndRenderStoreTaxItems = selectedRowCode => {
                    axios.post('/adminInv/get-store-tax-list', { code: selectedRowCode })
                      .then(response => {
                        let tableRows = response.data.map(item => `
                        <tr>
                          <td>${item.store}</td>
                          <td>${item.tax}</td>
                          <td>${item.applicable_for}</td>
                          <td>${item.applicable_on}</td>
                          <td>${item.percentage}</td>
                          <td>${item.taxType}</td>
                          <td><button type="button" class="btn btn-danger" onClick="deleteItemStoreTax('${item.id}', '${selectedRowCode}')">Delete</button></td>
                        </tr>`).join('');
                        document.getElementById('storeTaxTblBody').innerHTML = tableRows;
                      })
                      .catch(error => console.error('Error fetching store tax items:', error));
                  };

                  // Open item details modal
                  const openItemDetailsModal = itemCode => {
                    const url = '/adminInv/getItemOtherDetails';
                    axios.post(url, { itemCode })
                      .then(response => {
                        const data = response.data;
                        $('#itemNameOther').val(data.itemName);
                        $('#contra_indication').val(data.contra_indication);
                        $('#side_effects').val(data.side_effects);
                        $('#help_url').val(data.help_url);
                      })
                      .catch(error => console.error('Error fetching item details:', error));
                  };

                  // Handle row click event
                  $('#item-body').on('click', 'tr', function () {
                    // Remove 'locked' class from all rows and enable buttons
                    $('#item-body tr').removeClass('locked');
                    ['#location', '#conversion', '#applySupplier', '#storeAndTax', '#otherDetails'].forEach(selector => $(selector).removeAttr('disabled'));
                    $(this).addClass('locked');
                    const selectedRowText = $(this).find('td').eq(2).text();
                    const selectedRowCode = $(this).find('td').eq(1).text();
                    [
                      { selector: '#itemName', value: selectedRowText },
                      { selector: '#itemNameConv', value: selectedRowText },
                      { selector: '#item_code_location', value: selectedRowCode },
                      { selector: '#item_code_conv', value: selectedRowCode },
                      { selector: '#item_code_othr', value: selectedRowCode },
                      { selector: '#item_code_store_tax', value: selectedRowCode },
                      { selector: '#itemNameOther', value: selectedRowText },
                      { selector: '#itemNameStoreTax', value: selectedRowText },
                      { selector: '#itemNameSupp', value: selectedRowText }
                    ].forEach(field => $(field.selector).val(field.value).text(field.value));

                    const purchaseUom = $(this).find('td').eq(7).text();
                    const saleUom = $(this).find('input[name="selling_uom"]').val();
                    const stockUom = $(this).find('input[name="stocking_uom"]').val();
                    const baseUom = $(this).find('input[name="base_uom"]').val();

                    $('#purchase_uom').val(purchaseUom);
                    $('#sale_uom').val(saleUom);
                    $('#stock_uom').val(stockUom);
                    $('#base_uom').val(baseUom);

                    fetchAndRenderItems(selectedRowCode);
                    fetchAndRenderItemsConv(selectedRowCode);
                    fetchAndRenderItemsSupplier(selectedRowCode);
                    fetchAndRenderStoreTaxItems(selectedRowCode);
                    openItemDetailsModal(selectedRowCode);

                    // Clear the values for elements with data-validation attribute
                    $('[data-validation]').each(function () {
                      if ($(this).is('input, select, textarea')) {
                        $(this).val('');
                      } else {
                        $(this).text('');
                      }
                    });
                  });

                  // Deselect selected row
                  window.deselectSelectedRow = function () {
                    $('#item-body tr').removeClass('locked');
                  };

                  // Handle form submissions with validation
                  const handleFormSubmit = (formSelector, url, errorDivSelector, fetchCallback) => {
                    $(formSelector).on('submit', function (event) {
                      event.preventDefault();
                      const { isValid } = validateForm(formSelector);
                      if (isValid) {
                        const formData = $(this).serialize();
                        axios.post(url, formData)
                          .then(response => {
                            console.log('Response from server:', response.data);
                            $(errorDivSelector).removeClass('alert-danger').addClass('alert-success').text(response.data.msg).show();
                            const selectedRowCode = $('#itemCode').val();
                            fetchCallback(selectedRowCode);
                          })
                          .catch(error => {
                            console.error('Error:', error);
                            const errorMessage = error.response?.data?.msg || 'An error occurred';
                            $(errorDivSelector).removeClass('alert-success').addClass('alert-danger').text(errorMessage).show();
                          });
                      } else {
                        $(errorDivSelector).removeClass('alert-success').addClass('alert-danger').text('Please Fill the Form').show();
                      }
                    });
                  };

                  handleFormSubmit('#itemLocationForm', '/adminInv/itemLocationSave', '#errordiv1', fetchAndRenderItems);
                  handleFormSubmit('#itemConvForm', '/adminInv/itemConvSave', '#errordiv2', fetchAndRenderItemsConv);
                  handleFormSubmit('#itemStoreTax', '/adminInv/itemStoreTaxSave', '#errordiv4', fetchAndRenderStoreTaxItems);

                  $('#itemSupplierForm').on('submit', function (event) {
                    event.preventDefault();
                    const itemCode = $('#itemCode').val();
                    const selectedSuppliers = $('input[name="suppliers"]:checked').map(function () {
                      return $(this).val();
                    }).get();
                    const data = { itemCode, suppliers: selectedSuppliers };
                    axios.post('/adminInv/save-item-suppliers', data)
                      .then(response => {
                        console.log('Response from server:', response.data);
                        $('#errordiv5').removeClass('alert-danger').addClass('alert-success').text(response.data.msg).show();
                      })
                      .catch(error => {
                        console.error('Error:', error);
                        const errorMessage = error.response?.data?.msg || 'An error occurred';
                        $('#errordiv5').removeClass('alert-success').addClass('alert-danger').text(errorMessage).show();
                      });
                  });

                  $('#ItemStoreMinMaxForm').on('submit', function (event) {
                    event.preventDefault();
                    const formData = $('#StoreTaxTblBody tr').map(function () {
                      const row = $(this);
                      if (row.find('input[type="checkbox"]').is(':checked')) {
                        return {
                          itemCode: $('#itemCode').val(),
                          store_id: row.find('input[name="store_id"]').val(),
                          store_name: row.find('input[name="store_name"]').val(),
                          min: row.find('input[name="min"]').val(),
                          max: row.find('input[name="max"]').val(),
                          reorder: row.find('input[name="reorder"]').val(),
                          isSelected: true
                        };
                      }
                    }).get();

                    if (formData.length === 0) {
                      alert("Please select at least one row to save.");
                      return;
                    }

                    axios.post('/adminInv/itemStoreMinMaxSave', { data: formData })
                      .then(response => {
                        console.log('Response from server:', response.data);
                        $('#errordiv6').removeClass('alert-danger').addClass('alert-success').text(response.data.msg).show();
                        const selectedRowCode = $('#itemCode').val();
                        fetchAndRenderStoreTaxItems(selectedRowCode);
                      })
                      .catch(error => {
                        console.error('Error:', error);
                        const errorMessage = error.response?.data?.msg || 'An error occurred';
                        $('#errordiv6').removeClass('alert-success').addClass('alert-danger').text(errorMessage).show();
                      });
                  });

                  // Delete item location
                  window.deleteItem = function (itemId, selectedRowCode) {
                    axios.post('/adminInv/delete-item-location', { id: itemId })
                      .then(response => {
                        console.log('Item deleted:', response.data);
                        fetchAndRenderItems(selectedRowCode);
                      })
                      .catch(error => console.error('Error deleting item:', error));
                  };

                  // Delete item store tax
                  window.deleteItemStoreTax = function (itemId, selectedRowCode) {
                    axios.post('/adminInv/delete-item-store-tax', { id: itemId })
                      .then(response => {
                        console.log('Item deleted:', response.data);
                        fetchAndRenderStoreTaxItems(selectedRowCode);
                      })
                      .catch(error => console.error('Error deleting item:', error));
                  };

                  // Search button click event
                  document.getElementById('searchButton').addEventListener('click', function () {
                    const clinic = document.getElementById('clinic').value;
                    if (clinic) {
                      fetchStoresByClinic(clinic);
                    } else {
                      alert('Please select a clinic.');
                    }
                  });

                  // Clear error div for itemOtherDetails form
                  window.clearErrorDiv3 = function () {
                    $('#errordiv3').removeClass('alert-success alert-danger').text('');
                  };

                  // Handle itemOtherDetails form submission
                  handleFormSubmit('#itemOtherDetails', '/adminInv/itemOtherDtlsSave', '#errordiv3', openItemDetailsModal);
                });
              </script>