<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>LifeLinker</title>
    <%-include('../header');-%>
        <!-- main content start -->
        <div class="main-content">

            <div class="row content-top-gap2">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light bg-white">
                        <a class="navbar-brand text-center mr-5" href="#">
                            <span class="dash-icon"><i class="fas fa-tachometer-alt"></i></span>
                            Dashboard
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item active text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="far fa-user"></i></span>
                                        Master
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-exchange-alt"></i></span>
                                        Transaction
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-hand-holding-medical"></i></span>
                                        Patient 360
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-receipt"></i></span>
                                        Outside Reciept
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-file-invoice"></i></span>
                                        Outpatient Department
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-chart-line"></i></span>
                                        Analytics
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="far fa-clock"></i></span>
                                        Waiting List
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-wrench"></i></span>
                                        Adminstration
                                    </a>
                                </li>
                                <li class="nav-item text-center">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-spinner"></i></span>
                                        Additional
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- content -->
            <div class="container-fluid">

                <div class="chart">
                    <div class="row">

                        <div class="col-lg-12 pl-lg-0 mt-2 ml-2">
                            <h4 class="primary">Item Master Details</h4>
                        </div>
                        <div class="col-lg-12 pl-lg-2 chart-grid">
                            <form id="ItemMst">
                                <div id="errordiv1"></div>
                                <div class="card card_border">
                                    <div class="">
                                        <!--Past your code here starts-->

                                        <div class="card">

                                            <!-- <div class="card-body"> -->

                                                <div class="form-row pl-lg-3 pr-lg-3 mt-3">
                                                    
                                                    <!-- <div class="form-row"> -->


                                                        <div class="col-lg-3 col-md-4 col-sm-12 mb-3">
                                                            <div class="form-group"><label class="input__label">Item
                                                                    Code</label><input name="item_code" type="text"
                                                                    class="form-control input-style" placeholder="1"></div>
                                                        </div>
                                                        <div class="col-lg-3 col-md-4 col-sm-12 mb-3">
                                                            <div class="form-group"><label class="input__label">Brand Name
                                                                </label><input name="brand_name" type="text"
                                                                    class="form-control input-style"
                                                                    placeholder="3-WAY STOP COCK"></div>
                                                        </div>
                                                        <div class="col-lg-3 col-md-4 col-sm-12 mb-3">
                                                            <div class="form-group"><label class="input__label">Item
                                                                    Name</label><input name="item_name" type="text"
                                                                    class="form-control input-style"
                                                                    placeholder=" 3-WAY STOP COCK"></div>
                                                        </div>
                                                        <div class="col-lg-3 col-md-4 col-sm-12 mb-3">
                                                            <div class="form-group"><label class="input__label">Item Group
                                                                </label><select name="item_group"
                                                                    class="form-control input-style">
                                                                    <option>Medical Consumables</option>
                                                                    <option value="1">1</option>
                                                                    <option value="2">2</option>
                                                                </select></div>
                                                        </div>
                                                    
                                                        <div class="col-lg-3 col-md-4 col-sm-12 mb-3">
                                                            <div class="form-group"><label class="input__label">Dispensing
                                                                    Type</label><select name="dispensing_type"
                                                                    class="form-control input-style">
                                                                    <option> NA</option>
                                                                    <option value="1">1</option>
                                                                    <option value="2">2</option>
                                                                </select></div>
                                                        </div>
                                                        <div class="col-lg-3 col-md-4 col-sm-12 mb-3">
                                                            <div class="form-group"><label class="input__label">Pregnancy
                                                                    Class </label><select name="pregnancy_class"
                                                                    class="form-control input-style">
                                                                    <option>NA</option>
                                                                    <option value="1">1</option>
                                                                    <option value="2">2</option>
                                                                </select></div>
                                                        </div>
                                                        <div class="col-lg-3 col-md-4 col-sm-12 mb-3">
                                                            <div class="form-group"><label class="input__label">Manufactured
                                                                    By </label><select name="manufactured_by"
                                                                    class="form-control input-style">
                                                                    <option>Romsons</option>
                                                                    <option value="1">1</option>
                                                                    <option value="2">2</option>
                                                                </select></div>
                                                        </div>
                                                        <div class="col-lg-3 col-md-4 col-sm-12 mb-3">
                                                            <div class="form-group"><label class="input__label">Purchase UOM
                                                                </label><select name="purchase_uom"
                                                                    class="form-control input-style">
                                                                    <option>PACK</option>
                                                                    <option value="1">1</option>
                                                                    <option value="2">2</option>
                                                                </select></div>
                                                        </div>
                                                    
                                                        <div class="col-lg-3 col-md-4 col-sm-12 mb-3">
                                                            <div class="form-group"><label class="input__label">Base
                                                                    UOM</label><select name="base_uom"
                                                                    class="form-control input-style">
                                                                    <option>PACK</option>
                                                                    <option value="1">1</option>
                                                                    <option value="2">2</option>
                                                                </select></div>
                                                        </div>
                                                        <div class="col-lg-3 col-md-4 col-sm-12 mb-3">
                                                            <div class="form-group"><label class="input__label">Base Unit
                                                                    MRP</label><input name="base_unit_mrp" type="text"
                                                                    class="form-control input-style" placeholder="33.87 ">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 col-md-4 col-sm-12 mb-3">
                                                            <div class="form-group"><label class="input__label">Discount On
                                                                    Sale (%)</label><input name="discount_on_sale"
                                                                    type="text" class="form-control input-style"
                                                                    placeholder="0.00"></div>
                                                        </div>
                                                    
                                                        
                                                        


                                                        <div class="col-lg-3 col-md-4 col-sm-12 mb-3">

                                                            <div class="form-group"><label class="input__label ml-1">Analysis Required</label></div>
                                                            
                                                            <div class="radio"><label class="form-check-label"><input name="AnalysisRequired" value="ABC" class="form-check-input"
                                                                        type="checkbox">ABC</label></div>

                                                            <div class="radio"><label class="form-check-label"><input name="AnalysisRequired" value="FNS" class="form-check-input"
                                                                        type="checkbox">FNS</label></div>

                                                            <div class="radio"><label class="form-check-label"><input name="AnalysisRequired" value="VED" class="form-check-input"
                                                                        type="checkbox">VED</label></div>

                                                                    
                                                        </div>



                                                    
                                                        <div class="col-lg-3 col-md-4 col-sm-12 mb-3">
                                                            <div class="form-group"><label class="input__label">Expiry Alert
                                                                    Before In Days</label><input
                                                                    name="expiry_alert_before_in_days" type="text"
                                                                    class="form-control input-style" placeholder="30"></div>
                                                        </div>
                                                        <div class="col-lg-3 col-md-4 col-sm-12 mb-3">
                                                            <div class="form-group"><label class="input__label">hSN
                                                                    Cades</label><select name="hsn_codes"
                                                                    class="form-control input-style">
                                                                    <option value="">Select one</option>
                                                                    <option value="1">1</option>
                                                                    <option value="2">2</option>
                                                                </select></div>
                                                        </div>
                                                        <div class="col-lg-3 col-md-4 col-sm-12 mb-3">
                                                            <div class="form-group"><label class="input__label">Staff-
                                                                    Discount on sale%</label><input
                                                                    name="staff_discount_on_sale" type="text"
                                                                    class="form-control input-style" placeholder="0"></div>
                                                        </div>
                                                        <div class="col-lg-3 col-md-4 col-sm-12 mb-3">
                                                            <div class="form-group"><label class="input__label">Registered
                                                                    Patients - Discount on sale%</label><input
                                                                    name="registered_patients_discount_on_sale" type="text"
                                                                    class="form-control input-style" placeholder="0"></div>
                                                        </div>
                                                    
                                                        <div class="col-lg-3 col-md-4 col-sm-12 mb-3">
                                                            <div class="form-group"><label class="input__label">Walk-in
                                                                    Patients - Discount on sale %</label><input
                                                                    name="walk_in_patients_discount_on_sale" type="text"
                                                                    class="form-control input-style" placeholder="0"></div>
                                                        </div>
                                                        <div class="col-lg-3 col-md-4 col-sm-12 mb-3">
                                                            <div class="form-group"><label
                                                                    class="input__label">Strength</label><input
                                                                    name="strength" type="text"
                                                                    class="form-control input-style" placeholder=""></div>
                                                        </div>
                                                        <div class="col-lg-3 col-md-4 col-sm-12 mb-3">
                                                            <div class="form-group"><label class="input__label">Strength
                                                                    Unit</label><select name="strength_unit"
                                                                    class="form-control input-style">
                                                                    <option value="">Selecr One</option>
                                                                    <option value="1">1</option>
                                                                    <option value="2">2</option>
                                                                </select></div>
                                                        </div>
                                                        <div class="col-lg-3 col-md-4 col-sm-12 mb-3">
                                                            <div class="form-group"><label class="input__label">Molecule
                                                                    Name </label><select name="molecule_name"
                                                                    class="form-control input-style">
                                                                    <option>NA</option>
                                                                    <option value="1">1</option>
                                                                    <option value="2">2</option>
                                                                </select></div>
                                                        </div>
                                                    
                                                        <div class="col-lg-3 col-md-4 col-sm-12 mb-3">
                                                            <div class="form-group"><label class="input__label">Item
                                                                    Category </label><select name="item_category"
                                                                    class="form-control input-style">
                                                                    <option>Medical</option>
                                                                    <option value="1">1</option>
                                                                    <option value="2">2</option>
                                                                </select></div>
                                                        </div>
                                                        <div class="col-lg-3 col-md-4 col-sm-12 mb-3">
                                                            <div class="form-group"><label class="input__label">Storage Type
                                                                </label><select name="storage_type"
                                                                    class="form-control input-style">
                                                                    <option>Room Temperature</option>
                                                                    <option value="1">1</option>
                                                                    <option value="2">2</option>
                                                                </select></div>
                                                        </div>
                                                        <div class="col-lg-3 col-md-4 col-sm-12 mb-3">
                                                            <div class="form-group"><label class="input__label">Storage
                                                                    Degree</label><input name="storage_degree" type="text"
                                                                    class="form-control input-style" placeholder="1.00">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 col-md-4 col-sm-12 mb-3">
                                                            <div class="form-group"><label class="input__label">Therapeutic
                                                                    Class</label><select name="therapeutic_class"
                                                                    class="form-control input-style">
                                                                    <option value="">Select</option>
                                                                    <option value="1">1</option>
                                                                    <option value="2">2</option>
                                                                </select></div>
                                                        </div>
                                                    
                                                        <div class="col-lg-3 col-md-4 col-sm-12 mb-3">
                                                            <div class="form-group"><label class="input__label">Stocking
                                                                    UOM</label><select name="stocking_uom"
                                                                    class="form-control input-style">
                                                                    <option> PACK</option>
                                                                    <option value="1">1</option>
                                                                    <option value="2">2</option>
                                                                </select></div>
                                                        </div>
                                                        <div class="col-lg-3 col-md-4 col-sm-12 mb-3">
                                                            <div class="form-group"><label class="input__label">Selling UOM
                                                                </label><select name="selling_uom"
                                                                    class="form-control input-style">
                                                                    <option>PACK</option>
                                                                    <option value="1">1</option>
                                                                    <option value="2">2</option>
                                                                </select></div>
                                                        </div>
                                                        <div class="col-lg-3 col-md-4 col-sm-12 mb-3">
                                                            <div class="form-group"><label class="input__label">Base Unit
                                                                    Cost Price</label><input name="base_unit_cost_price"
                                                                    type="text" class="form-control input-style"
                                                                    placeholder="21.00"></div>
                                                        </div>

                                                        <div class="col-lg-3 col-md-4 col-sm-12 mb-3">
                                                            <div class="form-group"><label class="input__label">Route
                                                                </label><select name="route"
                                                                    class="form-control input-style">
                                                                    <option value="">Select One</option>
                                                                    <option value="1">1</option>
                                                                    <option value="2">2</option>
                                                                </select></div>
                                                        </div>
                                                    
                                                        <div class="col-lg-3 col-md-4 col-sm-12">
                                                            <div class="form-check-label">
                                                                <div class="radio my-4"><label
                                                                        class="form-check-label"><input name="batchesRequired"
                                                                            class="form-check-input" type="checkbox" value="1">
                                                                        Batches Required</label>
                                                                    </div>
                                                            </div>
                                                        </div>
                                                    




                                                    

                                                        
                                                    <!-- </div> -->

                                                </div>





                                            <!-- </div> -->
                                        </div>
                                        <div id="loadingDiv"></div>
                                        <!--Past your code here ends-->
                                    </div>
                                </div>
                                <div class="form-group mt-1 mb-3 text-right">

                                    <button type="button" class="btn-primary btn-style btn mt-3 mr-2"><strong>Location</strong></button>
                                    <button type="button" class="btn-primary btn-style btn mt-3 mr-2"><strong>Conversion</strong></button>
                                    <button type="button" class="btn-secondary btn-style btn mt-3 mr-2"><strong>Apply Supplier</strong></button>
                                    <button type="button" class="btn-secondary btn-style btn mt-3 mr-2"><strong>Apply Store and Tax</strong></button>

                                    <button type="button" class="btn-success btn-style btn mt-3 mr-2"><strong>Other Details</strong></button>
    
                            <button type="button" class="btn-secondary btn-style btn mt-3 mr-2"><strong><i
                                        class="fa-solid fa-plus"></i> New</strong></button>
    
                            <button type="button" class="btn-danger btn-style btn mt-3 mr-2"><strong><i
                                        class="fas fa-times"></i> Cancel</strong></button>
    
                            <button type="submit" class="btn-primary btn-style btn mt-3"><strong><i class="far fa-save"></i>
                                    Save</strong></button>

                                </div>
                            </form>
                        </div>
                        <!--footer section start-->
                        <%-include('../footer');-%>
                        <script type="module">
                            import { validateForm } from '../javascripts/validation.js';
                            import { myAjax } from '../javascripts/myAjax.js';
                        
                            $(document).ready(function() {
                                console.log("Document is ready");
                        
                                // Handle final submit button click
                                $('#ItemMst').on('submit', function(event) {
                                    event.preventDefault();
                                    submitForms(event);
                                });
                        
                                // Function to submit forms
                                const submitForms = (event) => {
                                    event.preventDefault();
                        
                                    const ItemMstFormDetails = validateForm('#ItemMst');
                                    const { isValid: isItemMstFormValid, errorMessage: itemMstFormError, formData: itemFormData } = ItemMstFormDetails;
                        
                                    // Handle checkbox values (assuming similar checkboxes exist in the form)
                                
                                    console.log(itemFormData);
                        
                                    const errorDivId = '#errordiv1';
                        
                                    if (isItemMstFormValid) {
                                        const url = '/adminInv/ItemMstSubmit';
                                        const loadingDiv = '#loadingDiv';
                                        myAjax(itemFormData, errorDivId, url, loadingDiv);
                                    } else {
                                        alert(itemMstFormError);
                                        $(errorDivId).removeClass('alert-success').addClass('alert-danger').text(itemMstFormError).show();
                                    }
                                };
                        
                                // Function to reset forms
                                const resetForms = () => {
                                    $('#ItemMst')[0].reset();
                                    // Hide error messages
                                    $('#errordiv1').hide();
                                };
                        
                                // Attach reset function to cancel button
                                // $('#submitCancel').on('click', function() {
                                //     resetForms();
                                // });
                            });
                        </script>
                        