<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>LifeLinker</title>

    <!-- Template CSS -->
    <%- include('../header') %>
        <!-- //header-ends -->
        <!-- main content start -->
        <div class="main-content">

            <div class="row content-top-gap2">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light bg-white">
                        <a class="navbar-brand text-center mr-5" href="#">
                            <span class="dash-icon"><i class="fas fa-tachometer-alt"></i></span>
                            Dashboard
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item active text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="far fa-user"></i></span>
                                        Master
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-exchange-alt"></i></span>
                                        Transaction
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-hand-holding-medical"></i></span>
                                        Patient 360
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-receipt"></i></span>
                                        Outside Reciept
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-file-invoice"></i></span>
                                        Outpatient Department
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-chart-line"></i></span>
                                        Analytics
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="far fa-clock"></i></span>
                                        Waiting List
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-wrench"></i></span>
                                        Adminstration
                                    </a>
                                </li>
                                <li class="nav-item text-center">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-spinner"></i></span>
                                        Additional
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- content -->
            <div class="container-fluid">

                <div class="chart">
                    <div class="row">

                        <div class="col-lg-12 pl-lg-0 mt-2 ml-2">
                            <h4 class="primary">Patient Registration</h4>
                        </div>
                        <div class="col-lg-12 pl-lg-2 chart-grid">
                            <form>
                                <div class="card card_border">
                                    <div class="">
                                        <!--Past your code here starts-->

                                        <div class="card">





                                            <div class="card-body pb-1 pt-2">

                                                <div class="form-row">

                                                    <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                        <div class="form-group"><label
                                                                class="input__label">Date</label><input
                                                                name="investigation_no*" type="date"
                                                                class="form-control input-style" placeholder=""></div>
                                                    </div>

                                                    <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                        <div class="form-group"><label class="input__label">Registration
                                                                Type</label>
                                                            <select name="clinic_status"
                                                                class="form-control input-style">
                                                                <option></option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                        <div class="form-group"><label class="input__label">MR
                                                                No.</label><input name="investigation_no*" type="number"
                                                                class="form-control input-style" placeholder=""></div>
                                                    </div>

                                                    <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                        <div class="form-group"><label class="input__label">Agency
                                                                Name</label>
                                                            <select name="clinic_status"
                                                                class="form-control input-style">
                                                                <option></option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                        <div class="form-group"><label
                                                                class="input__label">Agent</label>
                                                            <select name="clinic_status"
                                                                class="form-control input-style">
                                                                <option></option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                        <div class="form-group"><label class="input__label">Source Of
                                                                Reference</label>
                                                            <select name="clinic_status"
                                                                class="form-control input-style">
                                                                <option></option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                        <div class="form-group"><label class="input__label">Camp</label>
                                                            <select name="clinic_status"
                                                                class="form-control input-style">
                                                                <option></option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                        <div class="form-group"><label class="input__label">Referral
                                                                Details</label><input name="investigation_no*"
                                                                type="text" class="form-control input-style"
                                                                placeholder=""></div>
                                                    </div>


                                                    <div class="col-lg-3 col-md-4 col-sm-12 mt-3">
                                                        <div class="form-check-label form-row">
                                                            <div class="radio pt-2">

                                                                <label class="form-check-label pt-1 pr-4"><input
                                                                        class="form-check-input mt-1"
                                                                        type="radio">External Doctor</label>

                                                                <label class="form-check-label pt-1 pl-4"><input
                                                                        class="form-check-input mt-1"
                                                                        type="radio">Inhouse Doctor</label>


                                                            </div>
                                                        </div>

                                                    </div>

                                                    <div class="col-lg-3 col-md-4 col-sm-12 mb-2 mt-4">
                                                        <div class="form-group">
                                                            <select name="clinic_status"
                                                                class="form-control input-style">
                                                                <option>Select</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-3 col-md-4 col-sm-12">
                                                        <div class="form-group"><button type="button"
                                                                class="btn btn-style mt-4 btn-secondary btn-style btn-change"><strong>
                                                                    <i class="fa-solid fa-stethoscope"></i> Referral
                                                                    Doctor</strong></button></div>
                                                    </div>

                                                </div>









                                            </div>









                                            <!--Past your code here ends-->
                                        </div>

                                    </div>

                                </div>
                        </div>

                        <!-- section2 -->







                        <div class="col-lg-12 pl-lg-2 pr-lg-3">
                            <div class="card card_border">

                                <div class="col-xl-12 p-heading">

                                    <!-- Nav Tabs are here once have a look--->
                                    <h6 class="p-text">SPONSOR INFORMATION</h6>
                                </div>

                                

                                    


                                    <div class="card-body pt-2 pb-3">

                                        <div class="form-row">

                                            <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                <div class="form-group"><label class="input__label">Reference No.</label><input name="investigation_no*" type="number"
                                                        class="form-control input-style" placeholder=""></div>
                                            </div>

                                            <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                <div class="form-group"><label class="input__label">Patient Category</label>
                                                    <select name="clinic_status" class="form-control input-style">
                                                        <option>Select</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                <div class="form-group"><label class="input__label">Associated Company </label>
                                                    <select name="clinic_status" class="form-control input-style">
                                                        <option>Select</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                <div class="form-group"><label class="input__label">Member Relation </label>
                                                    <select name="clinic_status" class="form-control input-style">
                                                        <option>Select</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                <div class="form-group"><label class="input__label">Patient Source</label>
                                                    <select name="clinic_status" class="form-control input-style">
                                                        <option>Select</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                <div class="form-group"><label class="input__label">Company</label>
                                                    <select name="clinic_status" class="form-control input-style">
                                                        <option>Select</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                <div class="form-group"><label class="input__label">Tariff</label>
                                                    <select name="clinic_status" class="form-control input-style">
                                                        <option>Select</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                <div class="form-group"><label class="input__label">Remark</label>
                                                    <textarea
                                                        name="" class="form-control input-style"
                                                        placeholder=""></textarea>
                                                </div>
                                            </div>

                                            
                                        </div>

                                    </div>
                               

                            </div>

                        </div>



                        <!-- SECTION 3 -->



                        <div class="col-lg-12 pl-lg-2 mt-4 pr-lg-3">
                            <div class="card card_border">

                                <div class="col-xl-12 p-heading">

                                  
                                    <h6 class="p-text">BANK DETAILS</h6>
                                </div>



                                <div class="card-body pb-1 pt-2">

                                    <div class="form-row">

                                        <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                            <div class="form-group"><label class="input__label">Name of the Bank</label>
                                                <select name="clinic_status" class="form-control input-style">
                                                    <option>Select</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                            <div class="form-group"><label class="input__label">Branch</label>
                                                <select name="clinic_status" class="form-control input-style">
                                                    <option>Select</option>
                                                </select>
                                            </div>
                                        </div>
                                        

                                        <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                            <div class="form-group"><label class="input__label">IFSC Code
                                                </label><input name="investigation_no*" type="number"
                                                    class="form-control input-style" placeholder=""></div>
                                        </div>

                                        <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                            <div class="form-group"><label class="input__label">Account No.
                                                </label><input name="investigation_no*" type="number"
                                                    class="form-control input-style" placeholder=""></div>
                                        </div>

                                        <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                            <div class="form-group"><label class="input__label">Account Holder's
                                                </label><input name="investigation_no*" type="number"
                                                    class="form-control input-style" placeholder=""></div>
                                        </div>



                                        <div class="col-lg-3 col-md-4 col-sm-12">
                                            <label class="input__label">Account Type</label>
                                            <div class="form-check-label form-row">

                                                <div class="radio">

                                                    <label class="form-check-label pr-4"><input
                                                            class="form-check-input mt-1" type="radio">Saving</label>

                                                    <label class="form-check-label pl-4"><input
                                                            class="form-check-input mt-1" type="radio">Current</label>


                                                </div>
                                            </div>

                                        </div>



                                    </div>


                                    <div class="form-row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <div class="col col-12 pr-xl-0 pb-3 pl-xl-0">
                                                    <div class="slidx">
                                                    
                                                    <table class="table2">
                                                        <thead>
                                                            <tr>
                                                                <th contenteditable="true"></th>
                                                                <th contenteditable="true"></th>
                                                                <th contenteditable="true">Patient Category</th>
                                                                <th contenteditable="true">Patient Source</th>
                                                                <th contenteditable="true">Company Name</th>
                                                                <th contenteditable="true">Asso. Company Name</th>
                                                                <th contenteditable="true">Ref. No.</th>
                                                                <th contenteditable="true">Credit Limit</th>
                                                                <th contenteditable="true">Effective Date</th>
                                                                <th contenteditable="true">Expiry Date</th>
                                                                <th contenteditable="true">Tariff Name</th>
                                                                <th contenteditable="true">Staff No.</th>
                                                                <th contenteditable="true">Designation </th>
                                                                <th contenteditable="true">Used</th>
                                                                <th contenteditable="true">Balance</th>
                                                                <th contenteditable="true">Remark</th>
                                                                
                                                                
                                                            </tr>
                                                        </thead>

                                                        <tbody>
                                                            <tr>
                                                                <td contenteditable="true"></td>
                                                                <td contenteditable="true"></td>
                                                                <td contenteditable="true"></td>
                                                                <td contenteditable="true"></td>
                                                                <td contenteditable="true"></td>
                                                                <td contenteditable="true"></td>
                                                                <td contenteditable="true"></td>
                                                                <td contenteditable="true"></td>
                                                                <td contenteditable="true"></td>
                                                                <td contenteditable="true"></td>
                                                                <td contenteditable="true"></td>
                                                                <td contenteditable="true"></td>
                                                                <td contenteditable="true"></td>
                                                                <td contenteditable="true"></td>
                                                                <td contenteditable="true"></td>
                                                                <td contenteditable="true"></td>
                                                                
                                                               
                                                            </tr>
    
                                                            
    
                                                            <tr>
                                                                <td contenteditable="true"></td>
                                                                <td contenteditable="true"></td>
                                                                <td contenteditable="true"></td>
                                                                <td contenteditable="true"></td>
                                                                <td contenteditable="true"></td>
                                                                <td contenteditable="true"></td>
                                                                <td contenteditable="true"></td>
                                                                <td contenteditable="true"></td>
                                                                <td contenteditable="true"></td>
                                                                <td contenteditable="true"></td>
                                                                <td contenteditable="true"></td>
                                                                <td contenteditable="true"></td>
                                                                <td contenteditable="true"></td>
                                                                <td contenteditable="true"></td>
                                                                <td contenteditable="true"></td>
                                                                <td contenteditable="true"></td>
                                                               
                                                            </tr>
    
                                                           
    
                                                            
    
                                                           
                                                        </tbody>
                                                    </table>
    
                                                    
    
                                                </div>
    
                                                
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>





                            </div>

                        </div>
                    </div>



                </div>
                <div class="form-group mt-1 mb-3 text-right">

                    <button type="button" class="btn-secondary btn-style btn mt-3 mr-2"><strong>
                        Register & Add Visit</strong></button>

                <button type="button" class="btn-secondary btn-style btn mt-3 mr-2"><strong>
                        Register</strong></button>

                <button type="button" class="btn-danger btn-style btn mt-3"><strong><i
                            class="fas fa-times"></i> Close</strong></button>

                            


                </div>
                </form>
            </div>
            <!--footer section start-->
           <%- include('../footer') %>