<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>LifeLinker</title>

    <%- include('../header'); -%>
        <!-- main content start -->
        <div class="main-content">

            <div class="row content-top-gap2">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light bg-white">
                        <a class="navbar-brand text-center mr-5" href="#">
                            <span class="dash-icon"><i class="fas fa-tachometer-alt"></i></span>
                            Dashboard
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item active text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="far fa-user"></i></span>
                                        Master
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-exchange-alt"></i></span>
                                        Transaction
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-hand-holding-medical"></i></span>
                                        Patient 360
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-receipt"></i></span>
                                        Outside Reciept
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-file-invoice"></i></span>
                                        Outpatient Department
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-chart-line"></i></span>
                                        Analytics
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="far fa-clock"></i></span>
                                        Waiting List
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-wrench"></i></span>
                                        Adminstration
                                    </a>
                                </li>
                                <li class="nav-item text-center">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-spinner"></i></span>
                                        Additional
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- content -->
            <div class="container-fluid">

                <div class="chart">
                    <div class="row">

                        <div class="col-lg-12 pl-lg-0 mt-2 ml-2">
                            <h4 class="primary">Company</h4>
                        </div>
                        <div class="col-lg-12 pl-lg-2 chart-grid">

                            <div id="errordiv1"></div>
                            <form id="bc-c-n-o-t" method="post" enctype="multipart/form-data">
                                <div class="card card_border">
                                    <div class="">
                                        <!--Past your code here starts-->

                                        <div class="card">

                                            <div class="card-body">
                                                <div class="pl-xl-0 mb-3">
                                                    <h6 class="primary">Company Other Details</h6>
                                                </div>
                                                <div class="form-row">
                                                    <div class="col-12 mb-3">
                                                        <div class="form-group">
                                                            <div class="col-xl-12 p-heading">
                                                                <h6 class="p-text">COMPANY HEADER FOOTER TEXT</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-row">
                                                    <div class="form-row">
                                                        <div class="col-6 mb-3">
                                                            <div class="form-group">
                                                                <label class="input__label">Header text</label>
                                                                <div id="compHeader" class="form-control input-style" data-validation="required"
                                                                    data-error-message="Header Text is required.">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-6 mb-3">
                                                            <div class="form-group">
                                                                <label class="input__label">Footer text</label>
                                                                <div id="compFooter" class="form-control input-style" data-validation="required"
                                                                    data-error-message="Footer Text is required.">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
    
                                                    <textarea name="compHeaderContent" style="display: none"></textarea>
                                                    <textarea name="compFooterContent" style="display: none;"></textarea>
                                                    
                                                </div>




                                                <div class="form-row">
                                                    <div class="col-12 mb-3">
                                                        <div class="form-group">
                                                            <div class="col-xl-12 p-heading">
                                                                <h6 class="p-text">COMPANY LOGO / IMAGE</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-row">
                                                    <div class="col-4 ">
                                                        <div class="form-group"><label class="input__label">company
                                                                logo</label><input name="comp_logo" id="comp_logo"
                                                                type="file" accept="image/*"
                                                                class="form-control input-style" placeholder="Title"
                                                                style="display: none;" data-validation="required"
                                                                data-error-message="Company Logo is required.">
                                                            <div class="form-group">
                                                                <img alt="" id="comp_logo_img"
                                                                    style="max-width: 110px;">
                                                                <button type="button" id="cancel1"
                                                                    class="btn-danger btn-style btn mt-3 mr-2"
                                                                    style="display: none;">Remove</button>
                                                                <button type="button"
                                                                    class="btn btn-style mt-2 btn-primary btn-style btn-change"
                                                                    id="comp_logo_btn"
                                                                    onclick="document.getElementById('comp_logo').click();"><strong><i
                                                                            class="fas fa-upload"></i>
                                                                        Upload</strong></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-4 ">
                                                        <div class="form-group"><label class="input__label">header
                                                                image</label><input name="head_image" id="head_image"
                                                                type="file" class="form-control input-style"
                                                                placeholder="Title" style="display: none;"
                                                                data-validation="required"
                                                                data-error-message="Header image  is required.">
                                                            <div class="form-group">
                                                                <img alt="" id="head_image_img"
                                                                    style="max-width: 110px;">
                                                                <button type="button" id="cancel2"
                                                                    class="btn-danger btn-style btn mt-3 mr-2"
                                                                    style="display: none;">Remove</button>
                                                                <button type="button"
                                                                    class="btn btn-style mt-2 btn-primary btn-style btn-change"
                                                                    id="head_image_btn"
                                                                    onclick="document.getElementById('head_image').click();"><strong><i
                                                                            class="fas fa-upload"></i>
                                                                        Upload</strong></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-4 ">
                                                        <div class="form-group"><label class="input__label">company
                                                                footer image</label><input name="comp_footer_image"
                                                                id="comp_footer_image" type="file"
                                                                class="form-control input-style" placeholder="Title"
                                                                style="display: none;" data-validation="required"
                                                                data-error-message="Company Footer image is required.">
                                                        </div>
                                                        <div class="form-group">
                                                            <img alt="" id="comp_footer_image_img"
                                                                style="max-width: 110px;">
                                                            <button type="button" id="cancel3"
                                                                class="btn-danger btn-style btn mt-3 mr-2"
                                                                style="display: none;">Remove</button>
                                                            <button type="button"
                                                                class="btn btn-style mt-2 btn-primary btn-style btn-change"
                                                                id="comp_footer_image_btn"
                                                                onclick="document.getElementById('comp_footer_image').click();"><strong><i
                                                                        class="fas fa-upload"></i>
                                                                    Upload</strong></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>




                                        </div>
                                    </div>

                                    <!--Past your code here ends-->
                                </div>
                        </div>
                        <div id="loadingIndicator" style="display: none;">Loading...</div>
                        <div class="form-group mt-1 mb-3 text-right">
                            <button type="button" class="btn-success btn-style btn mt-3 mr-2"><strong><i
                                        class="fa-regular fa-pen-to-square"></i> Modify</strong></button>

                            <button type="button" class="btn-secondary btn-style btn mt-3 mr-2" disabled><strong><i
                                        class="fa-solid fa-plus"></i> New</strong></button>

                            <button type="button" class="btn-warning btn-style btn mt-3 mr-2" onclick="window.location.href='/billing/9'"
                                id="cancelButton"><strong>Next</strong></button>

                            <button type="submit" class="btn-primary btn-style btn mt-3"><strong><i
                                        class="far fa-save"></i> Save</strong></button>

                        </div>
                        </form>
                    </div>
                    <!--footer section start-->

                  <%- include('../footer'); -%>
                    <!--footer section end-->
                    <script src="https://cdn.jsdelivr.net/npm/quill@2/dist/quill.js"></script>
                    <link href="https://cdn.jsdelivr.net/npm/quill@2/dist/quill.snow.css" rel="stylesheet">
                    
                    <!-- Initialize Quill Editors -->
                    <script>
                      const quill = new Quill("#compHeader", {
                        theme: "snow",
                      });
                      
                      const quill1 = new Quill("#compFooter", {
                        theme: "snow",
                      });
                    </script>
                    
                    <!-- Image Upload Scripts -->
                    <script type="module">
                      import { uploadImg } from '../javascripts/uploadImg.js';
                      uploadImg('#comp_logo', '#comp_logo_img', '#comp_logo_btn', '#cancel1');
                      uploadImg('#head_image', '#head_image_img', '#head_image_btn', '#cancel2');
                      uploadImg('#comp_footer_image', '#comp_footer_image_img', '#comp_footer_image_btn', '#cancel3');
                    </script>
                    
                    <!-- Form Validation and Submission -->
                    <script type="module">
                        import { validateForm } from '../javascripts/validation.js';
                        import { myAjax } from '../javascripts/myAjax.js';
                      
                        $(document).ready(function () {
                          console.log("Document is ready");
                      
                          // Handle form submission
                          $('#bc-c-n-o-t').on('submit', function (event) {
                            event.preventDefault();
                      
                            // Extract content from Quill editors and set it in hidden textarea fields
                            const compHeaderContent = quill.root.innerHTML;
                            const compFooterContent = quill1.root.innerHTML;
                      
                            // Add the extracted content to hidden textarea fields in the form
                            $('textarea[name="compHeaderContent"]').val(compHeaderContent);
                            $('textarea[name="compFooterContent"]').val(compFooterContent);
                      
                            // Validate the form
                            const { isValid, errorMessage, formData } = validateForm('#bc-c-n-o-t');
                      
                            console.log(formData);
                            const errorDivId = '#errordiv1';
                      
                            if (isValid) {
                              const url = '/billing/bc_c_n_o_d';
                              const loadingDiv = '#loadingIndicator';
                              myAjax(formData, errorDivId, url, loadingDiv);
                            } else {
                              alert(errorMessage);
                              $(errorDivId).removeClass('alert-success').addClass('alert-danger').text(errorMessage).show();
                            }
                          });
                        });
                      </script>
                      