<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>LifeLinker</title>

            <!-- content -->
            <div class="container-fluid">

                <div class="chart">
                    <div class="row">

                        <div class="col-lg-12 pl-lg-0 mt-2 ml-2">
                            <h4 class="primary">Service : 2D Echo - Single - 1</h4>
                        </div>
                        <div class="col-lg-12 pl-lg-2 chart-grid">
                            <form>
                            <div class="card_border">
                                <div>
                                    <!--Past your code here starts-->

                                        <div class="card">
                                            <div class="col-xl-12 p-heading">
                                                <h6 class="p-text">TAXATION DETAILS LIST</h6>
                                            </div>
                                            <div class="card-body">
                                                <div class="pl-xl-0">
                                                    <h6 class="primary"></h6>
                                                </div>
                                                <div class="form-row">
                                                    <div class="col-12 mb-3">
                                                        <div class="form-group">
                                                            <div class="">
                                                                <div class="slidx">
                                                                    <table class="table2">
                                                                        <thead>
                                                                            <tr>
                                                                                <th contenteditable="true">Tax</th>
                                                                                <th contenteditable="true">Tax Type</th>
                                                                                <th contenteditable="true">Percentage</th>
                                                                                <th contenteditable="true">Delete</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td contenteditable="true">
                                                                                </td>
                                                                                <td contenteditable="true">
                                                                                </td>
                                                                                <td contenteditable="true">
                                                                                </td>
                                                                                <td contenteditable="true">
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td contenteditable="true">
                                                                                </td>
                                                                                <td contenteditable="true">
                                                                                </td>
                                                                                <td contenteditable="true">
                                                                                </td>
                                                                                <td contenteditable="true">
                                                                                </td>
                                                                            </tr>
                                                                           
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="form-row">
                                                    <div class="col-xl-12 p-heading">
                                                        <h6 class="p-text">TAXATION DETAILS LIST</h6>
                                                    </div>
                                                </div>
                                                
                                                <div class="form-row">
                                                    <div class="col-3">
                                                        <div class="form-group"><label
                                                            class="input__label">Tax</label><input name="tax"
                                                            type="text" class="form-control input-style"
                                                            placeholder=""></div>
                                                        </div>
                                                        <div class="col-3">
                                                            <div class="form-group"><label class="input__label">percentage (
                                                                % )</label><select name="percentage_(_%_)"
                                                                class="form-control input-style">
                                                                <option>Select</option>
                                                            </select></div>
                                                        </div>
                                                        <div class="col-3">
                                                            <div class="form-group"><label class="input__label">Tax
                                                                Type</label><select name="tax_type"
                                                                class="form-control input-style">
                                                                <option>Select</option>
                                                            </select></div>
                                                        </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                        
                                        <!--Past your code here ends-->
                                    </div>
                                </div>
                                <div class="form-group mt-1 mb-3 text-right">
                                    
                                    <button type="button" class="btn-danger btn-style btn mt-3 mr-2"><strong><i class="fas fa-times"></i> Close</strong></button>

                                    <button type="button" class="btn-primary btn-style btn mt-3"><strong><i class="far fa-save"></i> Save</strong></button>
                                        
                                        </div>
                        </form>
                        </div>
                        <!--footer section start-->
                        