<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>LifeLinker</title>

   <%- include('../header'); -%>
        <!-- //header-ends -->
        <!-- main content start -->
        <div class="main-content">

            <div class="row content-top-gap2">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light bg-white">
                        <a class="navbar-brand text-center mr-5" href="#">
                            <span class="dash-icon"><i class="fas fa-tachometer-alt"></i></span>
                            Dashboard
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item active text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="far fa-user"></i></span>
                                        Master
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-exchange-alt"></i></span>
                                        Transaction
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-hand-holding-medical"></i></span>
                                        Patient 360
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-receipt"></i></span>
                                        Outside Reciept
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-file-invoice"></i></span>
                                        Outpatient Department
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-chart-line"></i></span>
                                        Analytics
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="far fa-clock"></i></span>
                                        Waiting List
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-wrench"></i></span>
                                        Adminstration
                                    </a>
                                </li>
                                <li class="nav-item text-center">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-spinner"></i></span>
                                        Additional
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- content -->
            <div class="container-fluid">

                <div class="chart">
                    <div class="row">

                        <div class="col-lg-12 mt-3">
                            <div class="card_border">
                                <div>
                                    <!--Past your code here starts-->

                                    <form id="service-master">
                                        <div id="errordiv1"></div>
                                        <div class="col-lg-12">
                                            <h4 class="primary"></h4>
                                        </div>
                                        <div class="card">
                                            <div class="col-xl-12 p-heading">
                                                <h6 class="p-text">CONCENT OF :- ( NAME )</h6>
                                            </div>
                                            <div class="card-body">
                                                <div class="pl-xl-0">
                                                    <h6 class="primary"></h6>
                                                </div>
                                                <div class="form-row">
                                                    <div class="col-4 mb-3">
                                                        <div class="form-group"><label
                                                                class="input__label">Department</label><input
                                                                name="department" type="text"
                                                                class="form-control input-style" placeholder=""></div>
                                                    </div>
                                                    <div class="col-4 mb-3">
                                                        <div class="form-group"><label class="input__label">template
                                                                name</label><input name="template_name" type="text"
                                                                class="form-control input-style" placeholder=""></div>
                                                    </div>
                                                    <div class="col-4">
                                                        <div class="form-group"><button type="button"
                                                                class="btn btn-style mt-4 btn-primary btn-style btn-change"><strong><i
                                                                        class="fas fa-search"></i>
                                                                    Search</strong></button></div>
                                                    </div>
                                                </div>

                                                <div class="form-row">
                                                    <div class="col-12 mb-3 mb-3">
                                                        <div class="form-group">
                                                            <div class="col col-12 pr-xl-0 pl-xl-0">
                                                                <div class="slidx">
                                                                    <table class="table2">
                                                                        <thead>
                                                                            <tr>
                                                                                <th contenteditable="true"
                                                                                    class="text-left pl-4">Concent</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td contenteditable="true">
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td contenteditable="true">
                                                                                </td>
                                                                            </tr>

                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-row"></div>
                                            </div>
                                        </div>
                                        <div id="loadingIndicato"></div>
                                        <!--Past your code here ends-->
                                </div>
                            </div>
                            <div class="form-group mt-1 mb-3 text-right"><button type="button"
                                    class="btn-danger btn-style btn mt-3 mr-2"><strong><i class="fas fa-times"></i>
                                        Cancel</strong></button>
                                <button type="submit" class="btn-secondary btn-style btn mt-3" disabled><strong><i
                                            class="fa-solid fa-plus"></i> Add</strong></button>
                            </div>
                            </form>
                        </div>
                       <%- include('../footer'); -%>

                            <script type="module">
                                import { validateForm } from '../javascripts/validation.js';
                                import { myAjax } from '../javascripts/myAjax.js';
                                $(document).ready(function () {
                                    console.log("Document is ready");

                                    $('#service-master').on('submit', function (event) {
                                        event.preventDefault()
                                        const { isValid, errorMessage, formData } = validateForm('#service-master')

                                        console.log(formData)
                                        const errorDivId = '#errordiv1'

                                        if (isValid) {
                                            const url = '/billing/bc-ser-mas-ass-cont';
                                            const loadingDiv = '#loadingIndicator'
                                            myAjax(formData, errorDivId, url, loadingDiv)

                                        } else {
                                            // alert(errorMessage);
                                            $(errorDivId).removeClass('alert-success').addClass('alert-danger').text(errorMessage).show();
                                            // $(errorDivId).text(errorMessage).show();
                                        }
                                    })


                                });
                            </script>