<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>LifeLinker</title>
    <%- include('../header') -%>
        <!-- main content start -->
        <div class="main-content">

            <div class="row content-top-gap2">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light bg-white">
                        <a class="navbar-brand text-center mr-5" href="#">
                            <span class="dash-icon"><i class="fas fa-tachometer-alt"></i></span>
                            Dashboard
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item active text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="far fa-user"></i></span>
                                        Master
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-exchange-alt"></i></span>
                                        Transaction
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-hand-holding-medical"></i></span>
                                        Patient 360
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-receipt"></i></span>
                                        Outside Reciept
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-file-invoice"></i></span>
                                        Outpatient Department
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-chart-line"></i></span>
                                        Analytics
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="far fa-clock"></i></span>
                                        Waiting List
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-wrench"></i></span>
                                        Adminstration
                                    </a>
                                </li>
                                <li class="nav-item text-center">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-spinner"></i></span>
                                        Additional
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- content -->
            <div class="container-fluid">

                <div class="chart">
                    <div class="row">
                        <div class="col-lg-12 pl-lg-0 mt-2 ml-2">
                            <h4 class="primary">Application Configuration</h4>
                        </div>

                        <div class="col-lg-12 pl-lg-2 chart-grid">
                            <form>
                            <div class="card card_border">
                                <div>
                                    <!--Past your code here starts-->

                                        <div class="card">
                                            
                                            <div class="card-body">
                                                <div class="pl-xl-0">
                                                    <h6 class="primary"></h6>
                                                </div>
                                                <div class="form-row">
                                                    <div class="col-3 mb-3">
                                                        <div class="form-group"><label
                                                                class="input__label">Unit</label><select name="unit"
                                                                class="form-control input-style">
                                                                <option>Head Office</option>
                                                            </select></div>
                                                    </div>
                                                </div>
                                                
                                                

                                                <div class="mb-2 mt-0">
                                                    <h5 class="primary">DOCTOR</h5>
                                                </div>
                                                
                                                <div class="form-row">
                                                    <div class="col-3 mb-3 mb-3">
                                                        <div class="form-group"><label class="input__label">Embryologist
                                                                Classification</label><input
                                                                name="embryologist_classification" type="text"
                                                                class="form-control input-style" placeholder=""></div>
                                                    </div>
                                                    <div class="col-3 mb-3 mb-3">
                                                        <div class="form-group"><label class="input__label">Anesthetist
                                                                Classification</label><input
                                                                name="anesthetist_classification" type="text"
                                                                class="form-control input-style" placeholder=""></div>
                                                    </div>
                                                    <div class="col-3 mb-3 mb-3">
                                                        <div class="form-group"><label class="input__label">Andrologist
                                                                Classification</label><input
                                                                name="andrologist_classification" type="text"
                                                                class="form-control input-style" placeholder=""></div>
                                                    </div>
                                                    <div class="col-3 mb-3 mb-3">
                                                        <div class="form-group"><label class="input__label">Gynecologist
                                                                Classification</label><input
                                                                name="gynecologist_classification" type="text"
                                                                class="form-control input-style" placeholder=""></div>
                                                    </div>
                                                </div>
                                                
                                                <div class="form-row">
                                                    <div class="col-3 mb-3 mb-3">
                                                        <div class="form-group"><label class="input__label">Biologist
                                                                Classification</label><input
                                                                name="biologist_classification" type="text"
                                                                class="form-control input-style" placeholder=""></div>
                                                    </div>
                                                    <div class="col-3 mb-3 mb-3">
                                                        <div class="form-group"><label class="input__label">Pathologist
                                                                Classification</label><input
                                                                name="pathologist_classification" type="text"
                                                                class="form-control input-style" placeholder=""></div>
                                                    </div>
                                                    <div class="col-3 mb-3 mb-3">
                                                        <div class="form-group"><label class="input__label">Doctor Type
                                                                for Referral</label><input
                                                                name="doctor_type_for_referral" type="text"
                                                                class="form-control input-style" placeholder=""></div>
                                                    </div>
                                                    <div class="col-3 mb-3 mb-3">
                                                        <div class="form-group"><label class="input__label">Radiologist
                                                                Classification</label><input
                                                                name="radiologist_classification" type="text"
                                                                class="form-control input-style" placeholder=""></div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                        
                                        <!--Past your code here ends-->
                                    </div>
                                </div>
                                <div class="form-group mt-1 mb-3 text-right"><button type="button"
                                        class="btn-primary btn-style btn mt-3 mr-3"><strong><i
                                                class="far fa-save"></i> Save</strong></button></div>
                            </form>
                        </div>
                        <%- include('../footer') -%>