

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>LifeLinkr</title>
    <%-include('../header')-%>
        <!-- main content start -->
        <div class="main-content">

            <div class="row content-top-gap2">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light bg-white">
                        <a class="navbar-brand text-center mr-5" href="#">
                            <span class="dash-icon"><i class="fas fa-tachometer-alt"></i></span>
                            Dashboard
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item active text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="far fa-user"></i></span>
                                        Master
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-exchange-alt"></i></span>
                                        Transaction
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-hand-holding-medical"></i></span>
                                        Patient 360
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-receipt"></i></span>
                                        Outside Reciept
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-file-invoice"></i></span>
                                        Outpatient Department
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-chart-line"></i></span>
                                        Analytics
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="far fa-clock"></i></span>
                                        Waiting List
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-wrench"></i></span>
                                        Adminstration
                                    </a>
                                </li>
                                <li class="nav-item text-center">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-spinner"></i></span>
                                        Additional
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- content -->
            <div class="container-fluid">

                <div class="chart">
                    <div class="row">

                        <div class="col-lg-12 pl-lg-0 mt-2 ml-2">
                            <h4 class="primary">Approve Refund Services</h4>
                        </div>
                        <div class="col-lg-12 pl-lg-2 chart-grid">
                            <form>
                                <div class="card card_border">
                                    <div class="">
                                        <!--Past your code here starts-->

                                        <div class="card">

                                            <div class="col-xl-12 p-heading">
												<h6 class="p-text">Bill List</h6>
											</div>

                                            <div class="card-body pt-lg-2">
                                                
                                                <div class="form-row">
                                                    <div class="col-3 mb-1 ">
                                                        <div class="form-group"><label
                                                                class="input__label">Clinic</label><select name="clinic"
                                                                class="form-control input-style">
                                                                <option value="">Select</option>
                                                                <option value="A">A</option>
                                                                <option value="B">B</option>
                                                            </select></div>
                                                    </div>
                                                    <div class="col-3 mb-1 ">
                                                        <div class="form-group"><label
                                                                class="input__label">From Date</label><input
                                                                name="from_Date" id="from_date" type="date"
                                                                class="form-control input-style" placeholder=""></div>
                                                    </div>
                                                    <div class="col-3 mb-1 ">
                                                        <div class="form-group"><label
                                                                class="input__label">To Date</label><input
                                                                name="to_date" id="to_date" type="date"
                                                                class="form-control input-style" placeholder=""></div>
                                                    </div>
                                                    <div class="col-3 mb-1 ">
                                                        <div class="form-group"><label
                                                                class="input__label">First Name</label><input
                                                                name="first_name" id="first_name" type="text"
                                                                class="form-control input-style" placeholder=""></div>
                                                    </div>
                                                    
                                                    <div class="col-3 mb-1 mt-0 ">
                                                        <div class="form-group"><label
                                                                class="input__label">Last Name</label><input
                                                                name="last_name" id="last_name" type="text"
                                                                class="form-control input-style" placeholder=""></div>
                                                    </div>
                                                   
                                                    <div class="col-3 mb-1 mt-0 ">
                                                        <div class="form-group"><label
                                                                class="input__label">Bills No.</label><input
                                                                name="bill_no" id="bill_no" type="text"
                                                                class="form-control input-style" placeholder=""></div>
                                                    </div>
                                                    <div class="col-3 mb-3 mt-0 ">
                                                        <div class="form-group"><label
                                                                class="input__label">OPD No.</label><input
                                                                name="opd_no" id="opd_no" type="text"
                                                                class="form-control input-style" placeholder=""></div>
                                                    </div>
                                                    
                                                    <div class="col-lg-3 col-md-4 col-sm-12 mt-2">
														<div class="form-group"><button type="button" id="searchItemsBtn" 
																class="btn btn-primary btn-style btn-change mt-3"><strong><i
																	class="fas fa-search"></i> Search</strong> </button></div>
													</div>
                                                </div>

                                                

                                                <div class="form-row">
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <div class="col col-12 pr-xl-0 pl-xl-0">
                                                                <div class="slidx">

                                                                    <table class="table2" id="billRefundSerTable">
                                                                        <thead>
                                                                            
                                                                            <tr>
                                                                                
																				
																				<th>Date</th>
																				<th>Bill Date</th>
                                                                                <th>Bill No</th>
                                                                                <th>Mr No
                                                                                </th>
																				<th>Total Amount
                                                                                </th>
																				<th>Total Concession Amount
                                                                                </th>
																				<th>Net Amount
                                                                                </th>
																				<th>Balance Amount
                                                                                </th>
																				
                                                                                <th>Freeze</th>
                                                                                <th>Approve</th>

                                                                                
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody id="billRefundSer">
                                                                        
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                
                                                <div class="form-row">
                                                    <div class="col-12 " >
                                                        <div class="form-group">
                                                            <div class="col col-12 pr-xl-0 pl-xl-0">
                                                                <div class="slidx">

                                                                    <table class="table2" id="billRefundSerTable">
                                                                        <thead>
                                                                            <tr>

                                                                                <th>Service Code
                                                                                </th>
                                                                                <th>Service Name
                                                                                </th>
                                                                                <th>Rate</th>
                                                                                <th>Quantity</th>
                                                                                <th>Concession %
                                                                                </th>
                                                                                <th>Concession
                                                                                    Amt.</th>
                                                                                <th>Tax Amount
                                                                                </th>
                                                                                <th>Total Amount
                                                                                </th>
                                                                                <th>Net Amount
                                                                                </th>
                                                                                <th>Doctor</th>





                                                                            </tr>
                                                                        </thead>
                                                                        <tbody id="serviceshow">
                                                                        
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- <div class="form-check-label text-right">

                                                    <div class="radio mr-0 mt-1 mb-0 ">
                                                        <label class="form-check-label pt-1"><input
                                                            class="form-check-input mt-1" type="checkbox">
                                                            Export To Excel</label>
                                                        </div>
                                                             
                                                </div> -->
                                            </div>
                                        </div>
                                        <div class="col-3 mb-1 ">
                                            <div class="form-group"><label
                                                    class="input__label">Remark</label><input
                                                    name="reamrk" id="remark" type="text"
                                                    class="form-control input-style" placeholder=""></div>
                                        </div>
                                        
                                        <!--Past your code here ends-->
                                    </div>
                                </div>
                                <div class="form-group mt-1 mb-3 text-right">

                                    

                                    <button type="button" id="aprbtn" class="btn-secondary btn-style btn mt-3 mr-2"><strong><i
                                        class="fa-solid fa-check"></i> Approve</strong></button>

										<!-- <button type="button" class="btn-secondary btn-style btn mt-3 mr-2" id="myButton1" onclick="SetId()">  <strong><i
											class="fa-solid fa-check" ></i> Send For Approval</strong></button>
     -->
                            <button type="button" class="btn-danger btn-style btn mt-3 mr-2"><strong><i
                                        class="fas fa-times"></i> Cancel</strong></button>
    
                            <button type="button" class="btn-primary btn-style btn mt-3"><strong><i class="far fa-save"></i>
                                    Save</strong></button>

                                </div>
                    </form>
                </div>
                <!--footer section start-->
                <%-include('../footer')-%>
                <script>
                    document.getElementById('searchItemsBtn').addEventListener('click', function() {
    // Collect search parameters
    const searchParams = {
        clinic: document.querySelector('select[name="clinic"]').value || null,
        fromDate: document.getElementById('from_date').value || null,
        toDate: document.getElementById('to_date').value || null,
        firstName: document.getElementById('first_name').value || null,
        lastName: document.getElementById('last_name').value || null,
        billNo: document.getElementById('bill_no').value || null,
        opdNo: document.getElementById('opd_no').value || null
    };

    // Filter out null values
    const filteredParams = {};
    for (const key in searchParams) {
        if (searchParams[key] !== null && searchParams[key] !== "") {
            filteredParams[key] = searchParams[key];
        }
    }

    // Make the search request using Axios
    axios.get('/plshBill/getBillRefundData', { params: filteredParams })
    .then(function(response) {
        // console.log('s',response)
        const data = response.data;
        
        document.getElementById('billRefundSer').innerHTML = '';
        let tableRows = '';

        // Populate the search results table
        data.forEach(item => {
            console.log(item)
            tableRows += `
                <tr onclick="fetchdata(event, '${item.approvalId}')">
                  
                 <td>${item.approvalDate ? item.approvalDate.split('T')[0] : 'N/A'}</td>

                    <td>${item.date}</td>
                    <td>${item.bill_no}</td>
                    <td>${item.mrNo}</td>
                    <td>${item.totalBillAmount}</td>
                    <td>${item.totalConcessionAmount}</td>
                    <td>${item.totalNetBillAmount}</td>
                    <td>${item.balanceAmount || 'N/A'}</td>
                    <td><input class="form-check-input mt-0" disabled type="checkbox" ${item.freezeRefund ? 'checked' : ''}></td>
                    <td><input class="form-check-input mt-0" disabled type="checkbox" ${item.approveRefund ? 'checked' : ''}></td>
                    <td style="display: none;">><input  disabled type="hidden" >${item.approvalId}</td>
                </tr>
            `;
        });

        document.getElementById('billRefundSer').innerHTML = tableRows;
    })
    .catch(function(error) {
        console.error('Error fetching search results:', error);
    });
});

function fetchdata(event, approvalId) {
   

  // Remove 'locked' class from all rows
  const allRows = document.querySelectorAll('tr.locked');
  allRows.forEach(row => row.classList.remove('locked'));

  // Add 'locked' class to the clicked row
  const row = event.target.closest('tr');
  row.classList.add('locked');
  
  // Making Axios GET request to fetch data
  axios.get(`/plshBill/getApprServiceData/${approvalId}`, {
   
  })
    .then(response => {
        // console.log(response)
      const data = response.data;
      const tbody = document.getElementById('serviceshow'); // Assuming you have tbody with id 'tableBody'
      tbody.innerHTML = ''; // Clear previous data

      data.forEach(service => {
        const newRow = document.createElement('tr');
        newRow.setAttribute('data-it', service.id);

        newRow.innerHTML = `
        
         <td>${service.serviceCode}</td>
    <td>${service.serviceName}</td>
    <td>${service.serviceRate}</td>
    <td>${service.quantity || '1'}</td> 
    <td>${service.concession_per}</td>
    <td>${service.concession_amount}</td>
    <td>${service.taxAmount || '0'}</td> 
    <td>${service.totalAmount}</td>
    <td>${service.netAmount}</td>
    <td>${service.doctor || 'N/A'}</td>
        `;

        tbody.appendChild(newRow);
      });
    })
    .catch(error => {
      console.error('Error fetching data:', error);
    });
}

document.getElementById('aprbtn').addEventListener('click', function() {
    // Get the selected row (if any)
    const selectedRow = document.querySelector('tr.locked');
    
    if (!selectedRow) {
        alert('Please select a bill to approve.');
        return;
    }

    // Get the bill number and approval status from the selected row
    const approvalId = selectedRow.querySelector('td:nth-child(11)').innerText;
    const approveCheckbox = selectedRow.querySelector('td:nth-child(10) input');

    // Check if the bill is already approved
    if (approveCheckbox.checked) {
        alert('This bill has already been approved.');
        return;
    }

    const remark= document.getElementById('remark').value
    // Proceed with approval by sending a POST request
    axios.post('/plshBill/approveServiceRefund', { approvalId: approvalId,remark:remark })
        .then(function(response) {
            alert('Bill approved successfully!');
            // Optionally, update the UI to reflect the approval
            approveCheckbox.checked = true;
        })
        .catch(function(error) {
            console.error('Error approving bill:', error);
            alert('An error occurred while approving the bill. Please try again.');
        });
});



                </script>
                     