<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>LifeLinkr</title>
    <%-include('../header')-%>
        <!-- main content start -->
        <div class="main-content">

            <div class="row content-top-gap2">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light bg-white">
                        <a class="navbar-brand text-center mr-5" href="#">
                            <span class="dash-icon"><i class="fas fa-tachometer-alt"></i></span>
                            Dashboard
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item active text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="far fa-user"></i></span>
                                        Master
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-exchange-alt"></i></span>
                                        Transaction
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-hand-holding-medical"></i></span>
                                        Patient 360
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-receipt"></i></span>
                                        Outside Reciept
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-file-invoice"></i></span>
                                        Outpatient Department
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-chart-line"></i></span>
                                        Analytics
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="far fa-clock"></i></span>
                                        Waiting List
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-wrench"></i></span>
                                        Adminstration
                                    </a>
                                </li>
                                <li class="nav-item text-center">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-spinner"></i></span>
                                        Additional
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- content -->
            <div class="container-fluid">

                <div class="chart">
                    <div class="row">

                        <div class="col-lg-12 pl-lg-0 mt-2 ml-2">
                            <h4 class="primary">Approve Request</h4>
                        </div>

                        <div class="col-lg-12 pl-lg-2 chart-grid">
                            <form>
                                <div class="card card_border">
                                    <div class="">
                                        <!--Past your code here starts-->

                                        <div class="card">

                                            <div>
                                                <div class="form-group">
                                                    <div class="col-xl-12 p-heading">
                                                        <h6 class="p-text">PENDING APPROVE LIST</h6>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card-body pb-2 pt-0">

                                               
                                                

                                                <div class="form-row">

                                                    <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                        <div class="form-group"><label class="input__label">Clinic

                                                        </label><select name="report_generated_by"
                                                                class="form-control input-style">
                                                                <option>Select</option>
                                                            </select></div>
                                                    </div>


                                                    <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                        <div class="form-group"><label class="input__label">From
                                                                Date</label><input name="from_date" type="date"
                                                                class="form-control input-style filter-input" placeholder=""></div>
                                                            </div>
                                                            
                                                    <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                        <div class="form-group"><label class="input__label">To
                                                                Date</label><input name="to_date" type="date"
                                                                class="form-control input-style filter-input" placeholder=""></div>
                                                    </div>

                                                    <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                        <div class="form-group"><label class="input__label">First Name</label><input name="first_name" type="text"
                                                                class="form-control input-style filter-input" placeholder=""></div>
                                                    </div>


                                                    <div class="col-lg-3 col-md-4 col-sm-12 mb-2">
                                                        <div class="form-group"><label class="input__label">Last Name</label><input name="last name" type="text"
                                                                class="form-control input-style filter-input" placeholder=""></div>
                                                    </div>

                                                    

                                                    

                                                    

                                                    <div class="col-lg-3 col-md-4 col-sm-12 text-left">
                                                        <div class="form-group"><button type="button" onclick="loadData()"
                                                                class="btn btn-style mt-4 btn-primary btn-style btn-change"><strong><i
                                                                        class="fas fa-search"></i>
                                                                    Search</strong></button></div>
                                                    </div>

                                                    

                                                    

                                                </div>

                                                
                                                
                                                
                                                
                                               
                                               
                                                
                                               
                                                
                                                

                                                
                                            </div>
                                        </div>
                                        
                                        <!--Past your code here ends-->
                                    </div>
                                    
                                    
                                    
                                    

                                </div>


                                



                                <div class="mt-1 col-lg-12 pl-lg-0 pr-lg-0 mt-3">
                                    <div class="card card_border">
                                        


                                        <div class="form-row">
                                            <div class="col-12 mt-3 pl-lg-0 pr-lg-0">
                                                <div class="form-group">


                                                    <div class="col col-12 mb-3  pl-lg-4 pr-lg-4">
                                                        <div class="slidx">
                                                            <table class="table2" id="approveTable">
                                                                <thead>
                                                                    <tr>
                                                                        <th contenteditable="true">Date </th>
                                                                <th contenteditable="true">Receipt No.</th>
                                                                <th contenteditable="true">Clinic</th>
                                                                <th contenteditable="true">Total Amt.</th>
                                                                <th contenteditable="true">Consume Amt.</th>
                                                                <th contenteditable="true">Bal. Amt.</th>
                                                                <th contenteditable="true">Mode</th>
                                                                <th contenteditable="true">Transaction No.</th>
                                                                <th contenteditable="true">Cheque No.</th>
                                                                <th contenteditable="true">Bank Name</th>
                                                                <th contenteditable="true">Expiry Date</th>
                                                                <th contenteditable="true">Payment App</th>
                                                                <th contenteditable="true">Card Last 4 Digit</th>
                                                                <th contenteditable="true">Finance Company</th>
                                                                <th contenteditable="true">Remark</th>
                                                                    </tr>
                                                                </thead>

                                                                <tbody id="approveBody">
                                                                    
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="mt-1 col-lg-12 pl-lg-0 pr-lg-0 mt-3">
                                    <div class="card card_border">
                                        


                                        <div class="form-row">
                                            <div class="col-12 mt-3 pl-lg-0 pr-lg-0">
                                                <div class="form-group">


                                                    <div class="col col-12 mb-3  pl-lg-4 pr-lg-4">
                                                        <div class="slidx">
                                                            <table class="table2" id="approveTable">
                                                                <thead>
                                                                    <th contenteditable="true">Receipt No.</th>
                                                                    <th contenteditable="true">Clinic</th>
                                                                    <th contenteditable="true">Refund Date</th>
                                                                    <th contenteditable="true">Refund Amount</th>
                                                                    <th contenteditable="true">Advance Receipt No.</th>
                                                                    <th contenteditable="true">Remarks</th>
                                                                    <th contenteditable="true">Freeze</th>
                                                                    <th contenteditable="true">Approve</th>
                                                                    </tr>
                                                                </thead>

                                                                <tbody id="patitentRef">
                                                                    
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mt-1 mb-3 text-right">
                                      <button type="button" disabled id="aprbtn" class="btn-secondary btn-style btn mt-3 mr-2">
                                    <strong><i class="fas fa-check"></i> Approve</strong>
                                </button>
                                    <button type="button" class="btn-danger btn-style btn mt-3"><strong><i
                                        class="fas fa-times"></i> Reject</strong></button>
                                </div>
                            </form>
                        </div>
                        <!--footer section start-->
                        <%-include('../footer')-%>

                        <script>

                            async function loadData() {
                            const table = 'CompanyAdvance'
                            const filterElements = document.querySelectorAll('.filter-input');
                            let filters = {};

                            
                            filterElements.forEach(element => {
                              filters[element.name] = element.value;
                            });
                      
                            console.log(filters)

                            try {
                              const data = await fetchFilteredData(table, filters);
                              renderTableData(data.rows);
                            } catch (error) {
                              console.error('An error occurred while fetching data:', error);
                            }
                          }
                      
                               async function fetchFilteredData(table, filters = {}, limit = 10, offset = 0, sortby = 'id') {
                        try {
                          const response = await axios.get('/plshBill/filter-data', {
                            params: {
                              table,
                              ...filters,
                              limit,
                              offset,
                              sortby
                            }
                          });
                      
                          return response.data;
                        } catch (error) {
                          console.error('Error fetching filtered data:', error);
                          throw error;
                        }
                      }
                          
                    
                      function renderTableData(data) {
  const tableBody = document.getElementById('approveBody');
  tableBody.innerHTML = ''; // Clear existing data

  let tableRows = '';
  data.forEach(item => {
    // Create table rows using template literals for better readability
    tableRows += `
      <tr data-store-id="${item.id}" onclick="fetchPatientRefunds(event, '${item.rec_no}')">
        <td>${item.date}</td>
        <td>${item.rec_no}</td>
        <td>${item.clinic_name}</td>
        <td>${item.amount || '0'}</td>
        <td>${item.consume_amount || '0'}</td>
        <td>${item.balance_amount || '0'}</td>
        <td>${item.paymentMethod}</td>
        <td>TRANS NO X</td>
        <td>${item.chequeNo || ''}</td>
        <td>${item.bankName}</td>
        <td>EXPIRY DATE X</td>
        <td>PAYMENT APP X</td>
        <td>${item.cardNo || ''}</td>
        <td>FIN COM X</td>
        <td>${item.remarks}</td>
      </tr>
    `;
  });

  // Update the innerHTML of the table body
  tableBody.innerHTML = tableRows;

}
let selectedRecNo = null; // This will store the currently selected record number

function fetchPatientRefunds(e, rec_no) {
    const targetRow = e.target.closest('tr');
    document.querySelectorAll('#approveBody tr').forEach(row => {
        row.classList.remove('locked');
    });
    targetRow.classList.add('locked');
    selectedRecNo = rec_no; // Store the record number when a row is clicked

    $.ajax({
        url: '/plshBill/getCompanyRefund',
        type: 'GET',
        data: { rec_no: rec_no },
        success: function(data) {
            let tableRows = '';
            data.patientRefunds.reverse().forEach(function(item) {
                tableRows += `
                    <tr data-store-id="${item.id}" onclick="approveRefund(event, '${item.rec_no}')">
                        <td>${item.rec_no}</td>
                        <td>${item.clinic_name}</td>
                        <td>${item.refund_date}</td>
                        <td>${item.refundAmount}</td>
                        <td>${item.Adv_recipt_no}</td>
                        <td>${item.remarks}</td>
                        <td><input class="form-check-input mt-0" type="checkbox" disabled ${item.freeze ? 'checked' : ''} ${!item.isApprove ? 'disabled' : ''}></td>
                        <td><input class="form-check-input mt-0" type="checkbox" ${item.isApprove ? 'checked disabled' : ''}></td>
                    </tr>
                `;
            });
            $('#patitentRef').html(tableRows);
        },
        error: function(xhr, status, error) {
            console.error('Error fetching patient refunds:', error);
        }
    });
}

function approveRefund(e, rec_no) {
    const targetRow = e.target.closest('tr');
    document.querySelectorAll('#patitentRef tr').forEach(row => {
        row.classList.remove('locked');
    });
    targetRow.classList.add('locked');
    selectedRecNo = rec_no; // Update the selected record number
    document.getElementById('aprbtn').disabled = false; // Enable the approve button
}

// Set up the approve button click event listener
document.getElementById('aprbtn').addEventListener('click', function() {
    if (selectedRecNo) {
        $.ajax({
            url: '/plshBill/approveCompanyRefund',
            type: 'POST',
            data: { rec_no: selectedRecNo },
            success: function(response) {
                console.log(response);
                alert(response.message);
            },
            error: function(xhr, status, error) {
                alert(xhr.responseJSON.message);
                console.error('Error approving refund:', error);
            }
        });
    }
});



                        </script>