

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>LifeLinkr</title>
    <%-include('../header')-%>
        <!-- main content start -->
        <div class="main-content">

            <div class="row content-top-gap2">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light bg-white">
                        <a class="navbar-brand text-center mr-5" href="#">
                            <span class="dash-icon"><i class="fas fa-tachometer-alt"></i></span>
                            Dashboard
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item active text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="far fa-user"></i></span>
                                        Master
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-exchange-alt"></i></span>
                                        Transaction
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-hand-holding-medical"></i></span>
                                        Patient 360
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-receipt"></i></span>
                                        Outside Reciept
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-file-invoice"></i></span>
                                        Outpatient Department
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-chart-line"></i></span>
                                        Analytics
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="far fa-clock"></i></span>
                                        Waiting List
                                    </a>
                                </li>
                                <li class="nav-item text-center mr-5">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-wrench"></i></span>
                                        Adminstration
                                    </a>
                                </li>
                                <li class="nav-item text-center">
                                    <a class="nav-link" href="#">
                                        <span class="dash-icon"><i class="fas fa-spinner"></i></span>
                                        Additional
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- content -->
            <div class="container-fluid">

                <div class="chart">
                    <div class="row">

                        <div class="col-lg-12 pl-lg-0 mt-2 ml-2">
                            <h4 class="primary">Refund Services</h4>
                        </div>
                        <div class="col-lg-12 pl-lg-2 chart-grid">
                            <form>
                                <div class="card card_border">
                                    <div class="">
                                        <!--Past your code here starts-->

                                        <div class="card">

                                            <div class="col-xl-12 p-heading">
												<h6 class="p-text">Bill List</h6>
											</div>

                                            <div class="card-body pt-lg-2">
                                                
                                                <div class="form-row">
                                                    <div class="col-3 mb-1 ">
                                                        <div class="form-group"><label
                                                                class="input__label">Clinic</label><select name="report_generated_by"
                                                                class="form-control input-style">
                                                                <option value="">Select</option>
                                                                <option value="A">A</option>
                                                                <option value="B">B</option>
                                                            </select></div>
                                                    </div>
                                                    <div class="col-3 mb-1 ">
                                                        <div class="form-group"><label
                                                                class="input__label">From Date</label><input
                                                                name="from_Date" id="from_date" type="date"
                                                                class="form-control input-style" placeholder=""></div>
                                                    </div>
                                                    <div class="col-3 mb-1 ">
                                                        <div class="form-group"><label
                                                                class="input__label">To Date</label><input
                                                                name="to_date" id="to_date" type="date"
                                                                class="form-control input-style" placeholder=""></div>
                                                    </div>
                                                    <div class="col-3 mb-1 ">
                                                        <div class="form-group"><label
                                                                class="input__label">First Name</label><input
                                                                name="first_name" id="first_name" type="text"
                                                                class="form-control input-style" placeholder=""></div>
                                                    </div>
                                                    
                                                    <div class="col-3 mb-1 mt-0 ">
                                                        <div class="form-group"><label
                                                                class="input__label">Last Name</label><input
                                                                name="last_name" id="last_name" type="text"
                                                                class="form-control input-style" placeholder=""></div>
                                                    </div>
                                                   
                                                    <div class="col-3 mb-1 mt-0 ">
                                                        <div class="form-group"><label
                                                                class="input__label">Bills No.</label><input
                                                                name="bill_no" id="bill_no" type="text"
                                                                class="form-control input-style" placeholder=""></div>
                                                    </div>
                                                    <div class="col-3 mb-3 mt-0 ">
                                                        <div class="form-group"><label
                                                                class="input__label">OPD No.</label><input
                                                                name="opd_no" id="opd_no" type="text"
                                                                class="form-control input-style" placeholder=""></div>
                                                    </div>
                                                    
                                                    <div class="col-lg-3 col-md-4 col-sm-12 mt-2">
														<div class="form-group"><button type="button" onclick="loadData()"
																class="btn btn-primary btn-style btn-change mt-3"><strong><i
																	class="fas fa-search"></i> Search</strong> </button></div>
													</div>
                                                </div>

                                                

                                                <div class="form-row">
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <div class="col col-12 pr-xl-0 pl-xl-0">
                                                                <div class="slidx">

                                                                    <table class="table2" id="billRefundSerTable">
                                                                        <thead>
                                                                         
                                                                            <tr>
                                                                                
																				
																				<th>Date</th>
                                                                                <th>Bill No</th>
                                                                                <th>Mr No
                                                                                </th>
																				<th>Total Amount
                                                                                </th>
																				<th>Total Concession Amount
                                                                                </th>
																				<th>Net Amount
                                                                                </th>
																				<th>Balance Amount
                                                                                </th>
																				
                                                                                <th>Freeze</th>

                                                                                
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody id="billRefundSer">
                                                                        
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                
                                                <div class="form-row">
                                                    <div class="col-12 " >
                                                        <div class="form-group">
                                                            <div class="col col-12 pr-xl-0 pl-xl-0">
                                                                <div class="slidx">

                                                                    <table class="table2" id="billRefundSerTable">
                                                                        <thead>
                                                                            <input type="checkbox" class="ml-1" id="selectAll">
                                                                            <label for="" class="form-check-label pt-1 ml-2"> Select All</label>
                                                                          
                                                                            <tr>
                                                                                <th>&nbsp;</th>
                                                                                <th>Service Code
                                                                                </th>
                                                                                <th>Service Name
                                                                                </th>
                                                                                <th>Rate</th>
                                                                                <th>Quantity</th>
                                                                                <th>Concession %
                                                                                </th>
                                                                                <th>Concession
                                                                                    Amt.</th>
                                                                                <th>Tax Amount
                                                                                </th>
                                                                                <th>Total Amount
                                                                                </th>
                                                                                <th>Net Amount
                                                                                </th>
                                                                                <th>Doctor</th>





                                                                            </tr>
                                                                        </thead>
                                                                        <tbody id="serviceshow">
                                                                        
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- <div class="form-check-label text-right">

                                                    <div class="radio mr-0 mt-1 mb-0 ">
                                                        <label class="form-check-label pt-1"><input
                                                            class="form-check-input mt-1" type="checkbox">
                                                            Export To Excel</label>
                                                        </div>
                                                             
                                                </div> -->
                                            </div>
                                        </div>
                                        <div class="col-3 mb-1 ">
                                            <div class="form-group"><label
                                                    class="input__label">Remark</label><input
                                                    name="reamrk" id="remark" type="text"
                                                    class="form-control input-style" placeholder=""></div>
                                        </div>
                                        
                                        <!--Past your code here ends-->
                                    </div>
                                </div>
                                <div class="form-group mt-1 mb-3 text-right">

                                    

                                    <!-- <button type="button" class="btn-secondary btn-style btn mt-3 mr-2"><strong><i
                                        class="fa-solid fa-check"></i> Approve</strong></button> -->

										<button type="button" class="btn-secondary btn-style btn mt-3 mr-2" id="myButton1" onclick="SetId()">  <strong><i
											class="fa-solid fa-check" ></i> Send For Approval</strong></button>
    
                            <!-- <button type="button" class="btn-danger btn-style btn mt-3 mr-2"><strong><i
                                        class="fas fa-times"></i> Cancel</strong></button>
    
                            <button type="button" class="btn-primary btn-style btn mt-3"><strong><i class="far fa-save"></i>
                                    Save</strong></button> -->

                                </div>
                    </form>
                </div>
                <!--footer section start-->
                <%-include('../footer')-%>
                <script>
                       async function fetchFilteredData(table, filters = {}, limit =100, offset = 0, sortby = 'id') {
                        try {
                          const response = await axios.get('/plshBill/filter-data', {
                            params: {
                              table,
                              ...filters,
                              limit,
                              offset,
                              sortby
                            }
                          });
                          console.log(response.data);
                          
                          return response.data;
                        } catch (error) {
                            console.error(error);
                          console.error('Error fetching filtered data:', error);
                          throw error;
                        }
                      }
                          
                      
                          async function loadData() {
                            const table = 'PR_BillFindPatient'
                            const filterElements = document.querySelectorAll('.filter-input');
                            let filters = {};
                            
                            filterElements.forEach(element => {
                              filters[element.name] = element.value;
                            });
                      
                            try {
                              const data = await fetchFilteredData(table, filters);
                              renderTableData(data.rows);
                            } catch (error) {
                              console.error('An error occurred while fetching data:', error);
                            }
                          }
                      
                          function renderTableData(data) {
  const tableBody = document.getElementById('billRefundSer');
  tableBody.innerHTML = ''; // Clear existing data

  data.forEach(item => {
    const row = document.createElement('tr');
    row.dataset.id = item.id;
    row.setAttribute('onclick', `fetchdata(event, ${item.id})`);
    row.innerHTML = `
      <tr data-mod-id="${item.id}" >
                                                           
                                                            
                                                            <td>${item.date}</td>
                                                            <td>${item.bill_no}</td>
															<td>${item.mrNo}</td>
															<td>${item.totalBillAmount}</td>
															<td>${item.totalConcessionAmount}</td>
															<td>${item.totalNetBillAmount}</td>
															<td></td>
															
                                                            <td><input class="form-check-input mt-0" type="checkbox" id='status-checkbox' data-id="${item.id}"  ${item.freeze ? 'checked disabled' : ''}></td>
                                                        </tr>
    `;
    tableBody.appendChild(row);
  });
 
}

function fetchdata(event, id) {
    if (event.target.type === 'checkbox') {
    return; // Exit the function if a checkbox was clicked
  }

  // Remove 'locked' class from all rows
  const allRows = document.querySelectorAll('tr.locked');
  allRows.forEach(row => row.classList.remove('locked'));

  // Add 'locked' class to the clicked row
  const row = event.target.closest('tr');
  row.classList.add('locked');
  
  // Making Axios GET request to fetch data
  axios.get(`/plshBill/getServiceData/${id}`)
    .then(response => {
        console.log(response)
      const data = response.data;
      const tbody = document.getElementById('serviceshow'); // Assuming you have tbody with id 'tableBody'
      tbody.innerHTML = ''; // Clear previous data

      data.forEach(service => {
        const newRow = document.createElement('tr');
        newRow.setAttribute('data-it', service.id);

        newRow.innerHTML = `
        <td><input type="checkbox" name="select"></td>
         <td>${service.serviceCode}</td>
    <td>${service.serviceName}</td>
    <td>${service.serviceRate}</td>
    <td>${service.quantity || '1'}</td> 
    <td>${service.concession_per}</td>
    <td>${service.concession_amount}</td>
    <td>${service.taxAmount || '0'}</td> 
    <td>${service.totalAmount}</td>
    <td>${service.netAmount}</td>
    <td>${service.doctor || 'N/A'}</td>
        `;

        tbody.appendChild(newRow);
      });
    })
    .catch(error => {
      console.error('Error fetching data:', error);
    });
}


document.getElementById('selectAll').addEventListener('change', function() {
  const isChecked = this.checked;
  const checkboxes = document.querySelectorAll('#serviceshow input[type="checkbox"][name="select"]');
  
  checkboxes.forEach(checkbox => {
    checkbox.checked = isChecked;
  });
});


async function SetId() {
        try {
            // Get current date
            const currentDate = new Date().toISOString();

            // Get the selected bill details (replace these IDs with the actual form inputs)
            const billId = document.querySelector('.locked')?.dataset.id;
            const billNo = document.querySelector('.locked')?.querySelector('td:nth-child(2)')?.innerText;
            const remark = document.getElementById('remark').value;

            // Collect selected services (checked checkboxes)
            const selectedServices = [];
            document.querySelectorAll('#serviceshow input[type="checkbox"][name="select"]:checked').forEach(checkbox => {
                const row = checkbox.closest('tr');
                selectedServices.push({
                    serviceId: row.getAttribute('data-it'), // Assuming service ID is stored in 'data-it' attribute
                    serviceCode: row.children[1].innerText, // Get service code from the second cell
                });
            });

            if (!billId || selectedServices.length === 0) {
                alert('Please select a bill and at least one service.');
                return;
            }
            

            // Prepare the data to send
            const postData = {
                billId,
                billNo,
                currentDate,
                selectedServices, // Array of selected service details
                remark
            };

            console.log(postData)
            // Make Axios POST request to send the data
            const response = await axios.post('/plshBill/sendForServiceApproval', postData);
            if (response.status === 200) {
                alert('Data sent for approval successfully!');
            } else {
                alert('Failed to send data for approval.');
            }
        } catch (error) {
            console.error('Error sending data:', error);
            alert('An error occurred while sending the data for approval.');
        }
    }



                </script>
                    